.kyc_advertising {
    padding: 10px 10px 0px 10px;
    margin-top: 35px;
    margin-bottom: 25px;
    background-color: #3333330d;
}

.entry-content p {
    line-height: 1.6em;
    margin-bottom: 15px;
}

h4 {
    color: #235495;
}

p {
    margin: 0 0 10px !important;
}

.tablebg {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background: #efefef;
    background: -moz-linear-gradient(top, #efefef 0%, #e6e6e6 100%);
    background: -webkit-linear-gradient(top, #efefef 0%,#e6e6e6 100%);
    background: linear-gradient(to bottom, #efefef 0%,#e6e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e6e6e6',GradientType=0 );
}

.goodarivaltable {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}

.author-blurb {
    border-top: 1px solid #939598;
    border-bottom: 1px solid #939598;
    padding-top: 10px;
    margin-top: 20px;
}

    .author-blurb p {
        font-size: .9em;
        font-style: italic;
    }

.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding: 3px 5px;
    margin: 2px;
}

    .wp-pagenavi a:hover, .wp-pagenavi span.current {
        border-color: #000;
    }

.previouspostslink {
    color: #03f;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.nextpostslink {
    color: #03f;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

span.current {
    border-color: #000;
}

a.page {
    color: #03f;
}

a {
    line-height: inherit;
    color: #1779ba;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}




/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

    .wp-caption img[class*="wp-image-"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .wp-caption .wp-caption-text {
        margin: 0.8075em 0;
    }

.wp-caption-text {
    text-align: center;
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.share-btn-kyc {
    margin: 10px 0 !important;
}

.share-btn-kyc .addtoany_shortcode {
    display: inline-block;
    width: auto;
}

.a2a_kit, .a2a_menu, .a2a_modal, .a2a_overlay {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.a2a_kit a {
    cursor: pointer;
}

.a2a_kit .a2a_svg {
    background-repeat: repeat;
}

.a2a_svg {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0;
    width: 32px;
}

.a2a_svg svg {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    display: block;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: auto;
    height: auto;
}

.a2a_label {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0 0,0 0,0 0);
    -webkit-clip-path: polygon(0 0,0 0,0 0);
    overflow: hidden;
    height: 1px;
    width: 1px;
}