@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * Google Material Symbols (new) icon-font
 */
.msicon {
  font-family: "Material Symbols Outlined";
  /* color: currentColor; */
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
/**
 * Remove focus styles for non-keyboard focus.
 */
:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
textarea:focus,
input:focus {
  @apply tw-outline
  tw-outline-1
  tw-outline-offset-0;
}
/**
 * Cross-browser styles for explicit focus via
 * keyboard-based (eg Tab) navigation or the
 * .focus-visible utility class.
 */
:focus,
.focus-visible:focus:not(:focus-visible) {
  @apply tw-outline
  tw-outline-1
  tw-outline-focus-outline;
}
a {
  @apply hover:tw-bg-bg-component-hover;
}
/**
 * components and css using tailwind css
 */
@layer components {
  body {
    @apply tw-text-text-primary;
  }
  /* Button */
  .bbsButton {
    @apply tw-flex
    tw-w-max
    tw-justify-center
    tw-gap-x-1.5
    tw-rounded-md
    tw-border
    tw-border-border-component
    tw-bg-white
    tw-px-3
    tw-py-1
    tw-text-sm
    hover:tw-bg-bg-component-hover
    active:tw-bg-bg-component-active;
    &.disabled {
      @apply tw-cursor-not-allowed
      tw-border-border-disabled
      tw-bg-bg-disabled
      tw-text-text-disabled
      hover:tw-bg-bg-disabled
      active:tw-bg-bg-disabled
      !important;
    }
    &.full-width {
      @apply tw-w-full;
    }
    &.bbsButton-primary {
      @apply tw-bg-brand
      tw-text-white
      hover:tw-bg-brand/90
      active:tw-bg-brand/80;
    }
    &.bbsButton-secondary {
      @apply tw-bg-transparent
      hover:tw-bg-bg-component-hover
      active:tw-bg-bg-component-active;
      &.filled {
        @apply tw-bg-bg-primary
        hover:tw-bg-bg-component-hover
        active:tw-bg-bg-component-active;
      }
    }
    /*
    Rounded tag button - best with a close end icon
    */
    &.bbsButton-tag-secondary {
      @apply tw-rounded-3xl
      tw-bg-white
      hover:tw-bg-bg-component-hover
      active:tw-bg-bg-component-active;
    }
    /* Menu item button -- supposed to in to a menu or top-nav */
    &.bbsButton-menu-item {
      @apply tw-flex-col
      tw-items-start
      tw-gap-1
      tw-rounded-none
      tw-border-none
      tw-px-4
      tw-py-3
      tw-text-left;
      > p {
        @apply tw-flex
        tw-w-full
        tw-flex-row
        tw-items-start
        tw-gap-2;
        .text-label {
          @apply tw-basis-full
          tw-whitespace-nowrap
          tw-text-left;
        }
      }
      &.selected {
        @apply tw-shadow-selected-horizontal;
      }
    }
  }
  /* Menu or listbox -
  */
  .bbsMenu {
    @apply tw-z-[100]
    tw-flex
    tw-min-w-[200px]
    tw-max-w-[400px]
    tw-flex-col
    tw-items-start
    tw-gap-1
    tw-rounded-md
    tw-border
    tw-border-border
    tw-bg-white
    tw-p-1 tw-shadow-lg;
    .bbsButton-menu-item {
      @apply tw-w-full;
      .bbsBadge {
        float: left;
      }
    }
  }
  .left-sidebar {
    @apply tw-max-w-[200px]
    tw-border-r
    tw-border-border
    tw-bg-bg-primary
    tw-p-2
    max-sm:tw-p-0
    md:tw-w-full;
    .bbsButton.bbsButton-menu-item {
      @apply tw-rounded max-sm:tw-rounded-none;
      &.selected {
        @apply tw-bg-bg-component-selected
        tw-shadow-none;
      }
      .text-label {
        @apply tw-whitespace-break-spaces
         max-sm:tw-hidden;
      }
      .bbsBadge {
        @apply max-sm:tw-hidden;
      }
    }
    .group-label {
      @apply tw-pointer-events-none
      tw-py-2
      tw-ps-2
      tw-text-xs
      tw-font-semibold
      tw-text-text-secondary
      max-sm:tw-hidden;
    }
    hr {
      @apply tw-my-3;
    }
  }
  /* Divider */
  hr {
    @apply tw-h-[1px]
    tw-w-full
    tw-bg-bg-tertiary;
  }
  /* Global nav */
  .top-nav {
    @apply tw-sticky tw-top-0
    tw-flex
    tw-w-full
    tw-items-center
    tw-justify-center
    tw-border-b
    tw-border-border
    tw-bg-white;
    .top-nav-container {
      @apply tw-relative
      tw-flex
      tw-w-full
      tw-max-w-screen-xl
      tw-flex-row
      tw-items-center
      tw-gap-1
      tw-align-middle;
      > div {
        @apply tw-flex
        tw-align-middle;
      }
      .input-wrapper {
        input {
          @apply tw-w-[118px] md:tw-w-[300px];
        }
      }
    }
    .top-nav-logo {
      @apply tw-flex
      tw-flex-row
      tw-items-center
      tw-gap-2
      tw-px-2;
      > div {
        @apply tw-flex
        tw-flex-row
        tw-items-center
        tw-gap-1
        tw-align-middle;
      }
    }
  }
  .caption {
    @apply tw-text-start
    tw-text-xs
    tw-text-text-secondary;
  }
  .input-wrapper {
    @apply tw-flex
    tw-flex-col
    tw-gap-2;
    > .icon-left {
      @apply tw-pointer-events-none
      tw-absolute
      tw-left-2
      tw-top-2.5
      tw-inline-block
      tw-cursor-text
      tw-text-text-tertiary;
    }
    input {
      @apply tw-rounded-md
      tw-border
      tw-border-border
      tw-px-2
      tw-py-1
      tw-text-sm
      tw-placeholder-text-tertiary;

      &.pill {
        @apply tw-rounded-3xl;
      }
      &.full-width {
        @apply tw-w-full;
      }
    }

    &.left-icon {
      input {
        @apply tw-my-2
        tw-ps-7;
      }
    }
  }
  label,
  .label {
    @apply tw-text-sm
    tw-font-semibold;
  }
  .bbs-radio-input {
    label {
      @apply tw-font-normal;
    }
  }
  .bbsBadge {
    @apply tw-rounded-3xl
    tw-border
    tw-border-violet-800
    tw-bg-violet-100
    tw-px-1.5
    tw-text-[10px]
    tw-text-violet-800;
  }
  .content {
    @apply tw-flex tw-w-full
    tw-items-center
    tw-justify-center
    tw-bg-bg-secondary;
    .content-container {
      @apply tw-flex
      tw-w-full
      tw-max-w-screen-xl;
      .main-content {
        @apply tw-w-full
        tw-overflow-x-hidden
        tw-p-6;
      }
    }
  }
  .footer {
    @apply tw-flex
    tw-w-full
    tw-justify-center
    tw-border-t
    tw-border-border
    tw-bg-bg-tertiary;
    .social {
      @apply tw-w-6
      tw-text-center;
      > img {
        @apply tw-m-auto
        tw-h-4;
      }
    }
    .footer-container {
      @apply tw-flex
      tw-w-full
      tw-max-w-screen-xl
      tw-flex-col
      tw-gap-1
      tw-p-4;
    }
    .right-links {
      @apply tw-flex
      tw-items-center
      tw-gap-6
      tw-whitespace-nowrap
      tw-text-xs;
      > div {
        @apply tw-flex tw-flex-col tw-gap-2;
      }
    }
  }
  .bbs-accordion {
    @apply tw-overflow-hidden
    tw-rounded-lg
    tw-border
    tw-border-border;
    .bbs-accordion-item {
      .bbs-accordion-header {
        @apply tw-flex
        tw-w-full
        tw-gap-2

        tw-bg-bg-tertiary
        tw-py-3
        tw-pe-4
        tw-ps-3
        hover:tw-bg-bg-component-hover
        active:tw-bg-bg-component-active;
        .label {
          @apply tw-flex
          tw-flex-col
          tw-items-start
          tw-gap-1
          tw-text-sm;
        }
        .expand-icon {
          transition: all 250ms;
          display: inline-block;
        }
      }

      &:not(.open) {
        .bbs-accordion-content {
          @apply tw-h-0;
        }
      }

      &.open {
        .bbs-accordion-header {
          .expand-icon {
            transform: rotate(180deg);
          }
        }
        .bbs-accordion-content {
          @apply tw-h-fit
          tw-border-t
          tw-border-border;
        }
      }
      .bbs-accordion-content {
        @apply tw-overflow-hidden

        tw-bg-bg-primary;
        transition: all 250ms;
        .content-wrapper {
          @apply tw-p-4;
        }
      }
    }
    .bbs-accordion-item:not(:last-child) {
      @apply tw-border-b
      tw-border-border;
    }
  }
  .search-selection-container {
    @apply tw-grid
    tw-grid-cols-1
    tw-gap-6
    lg:tw-grid-cols-2;
    .search-form {
      @apply max-lg:tw-order-last;
    }
  }
  /* Bootstrap tooltip */
  .tooltip {
    z-index: 1000;
  }
  h2 {
    @apply tw-mb-4
    tw-font-semibold;
  }
  /* end of the layer components */
}
