<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SENDGRID_VALIDATION_API_KEY" value="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" />
    </appSettings>

    <connectionStrings>
        <add name="SQLServer" connectionString="server=qasql.bluebookservices.local;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=CSGMatch;"/>
    </connectionStrings>


    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>