<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="OutputFolder" value="D:\Source\BBSi\PRCo Utils\GeneratePDFs\Output"/>

    </appSettings>

    <connectionStrings>
        <add name="SQLServerQA" connectionString="server=azqa.sql.bluebookservices.local;User ID=accpac;Password=accpac;Initial Catalog=WordPress;Application Name=PDFGenerator;"/>
        <add name="SQLServer" connectionString="server=sql.bluebookservices.local;User ID=accpac;Password=2006PIKS1204;Initial Catalog=WordPress;Application Name=PDFGenerator;"/>
    </connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>