<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TemplateFolder"       value="D:\Source\BBSi\PRCo Utils\BBOSEmailer\Templates"/>
        <add key="EmailSMTPToOverride"  value="qa.bluebookservices@bluebookservices.com" />
        
        <add key="EMailEnabled"                value="false" />
        <add key="EMailSMTPServer"             value="smtp3.bluebookservices.com" />
        <add key="EMailSMTPServerAuthenticate" value="false" />
        <add key="EMailSMTPUserName"           value="" />
        <add key="EMailSMTPPassword"           value="" />
        <add key="EMailFromAddress"            value="qa.bluebookservices@bluebookservices.com" />
        <add key="EMailFromName"               value="BBOS" />
        <add key="EmailWriteToFileEnabled"     value="true" />
        <add key="EmailFilePath"               value="D:\Source\BBSi\PRCo Utils\BBOSEmailer\Email" />


        
        <!-- Settings for the DB Access facility -->
        <add key="DBAccessProvider" value="TSI.DataAccess.DBSQLServerProvider"/>
        <add key="DBConnectionString"    value="server=qasql.bluebookservices.local;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=BBOS Emailer;"/>
        <add key="UseVarChar1ForBool" value="true"/>
        <add key="SaveUsesSQLParameters" value="true"/>
        <add key="UsesAuditFields" value="true"/>
        <add key="UsesIdentity" value="false"/>
        <add key="UsesOptLock" value="false"/>

    </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>