<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputDataFile" value="C:\Projects\PRCo Utils\NHLAImport\NHLA_IMPORT.xls"/>
    <add key="TextLogFile" value="C:\Projects\PRCo Utils\NHLAImport\NHLAImportLog"/>
	<add key="CitiesNotFoundLogFile" value="C:\Projects\PRCo Utils\NHLAImport\NHLACitiesNotFoundLog"/>
	<add key="CompaniesInsertedLogFile" value="C:\Projects\PRCo Utils\NHLAImport\NHLACompaniesInsertedLog"/>


	  <add key="CommandTimeout" value="1000" />
    <add key="msExcelConn" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=Excel 8.0;Excel 12.0;HDR=YES;" />
    <!--<add key="msExcelConn" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};ExtendedProperties=Excel 8.0;HDR=YES;" />-->
  </appSettings>

  <connectionStrings>
    <add name="CRM" connectionString="server=Dev1;User ID=accpac;Password=accpac;Connection Timeout=1000;Initial Catalog=CRMDev;Application Name=NHLAImport;"/>
    <!--<add name="CRM" connectionString="server=WAS1;User ID=accpac;Password=accpac;Connection Timeout=1000;Initial Catalog=CRM;Application Name=NHLAImport;"/>-->
  </connectionStrings>
</configuration>