<?xml version="1.0"?>
<configuration>
	<appSettings>

    <add key="PersonSearchMaxResults" value="500"/>
    <add key="CompanyUpdateSearchMaxResults" value="500"/>
    <add key="CompanySearchMaxResults" value="500"/>

    <!-- Settings for the DB Access facility -->
		<add key="DBAccessProvider" value="TSI.DataAccess.DBSQLServerProvider"/>
		<add key="DBConnectionString" value="server=sql.travant.com;Password=accpac;User ID=accpac;Initial Catalog=CRM;"/>

		<add key="UseVarChar1ForBool" value="true"/>
		<add key="SaveUsesSQLParameters" value="false"/>
		<add key="UsesAuditFields" value="true"/>
		<add key="UsesIdentity" value="false"/>
		<add key="UsesOptLock" value="false"/>

		<!-- Settings for the trace facility -->
		<add key="TraceServiceProvider" value="TSI.Utils.FileLogger"/>
		<add key="TraceFileName" value="C:\Projects\EBB\EBBBusinessObjectsUTP\trace.txt"/>
		<add key="TraceErrorFileName" value="C:\Projects\EBB\EBBBusinessObjectsUTP\error.txt"/>
		<add key="TraceErrorFileHTTPPath" value="error.txt"/>
		<add key="TraceLevel" value="0"/>
		<add key="TraceEnabled" value="true"/>
		<add key="TraceTriggerMode" value="1"/>		<!-- 0=None, 1=FileSize, 2=Interval -->
		<add key="TraceFileSizeThreshold" value="2097152"/>		<!-- In Bytes -->
		<add key="TraceFileIntervalThreshold" value="1440"/>		<!-- In Minutes -->
		<add key="TraceMaxFilesToKeep" value="4"/>
		<add key="TraceEventLogEnabled" value="false"/>
		<add key="TraceEventLogSource" value="EBB"/>
		<add key="TraceEventLogName" value="Application"/>

		<!-- Settings for exception support -->
		<add key="EMailSupportEnabled" value="false"/>
		<add key="EMailSupportAddress" value="support@travant.com"/>
		<add key="EMailSupportSubject" value="EBB Exception"/>
		<add key="EMailSupportAttachLogFile" value="true"/>

		<!-- Must have four replacements.  They are:
		0 = Timestamp
		1 =	User ID
		2 = Request Name
		3 = Message
	    -->
		<add key="TraceMessageFormat" value="{0}|{1}|{2}|{3}"/>
		<add key="TraceTimestampFormat" value="yyyy-MM-dd HH:mm:ss:fff"/>


		<!-- Settings for the various system generated e-mails -->
		<add key="EMailEnabled" value="false"/>
		<add key="EMailSMTPServer" value="sql.travant.com"/>
		<add key="EMailSMTPServerAuthenticate" value="true"/>
		<add key="EMailSMTPUserName" value=""/>
		<add key="EMailSMTPPassword" value=""/>

		<add key="EMailFromAddress" value="supprt@travant.com"/>
		<add key="EMailFromName" value="PRCo EBB"/>
		<add key="EmailWriteToFileEnabled" value="true"/>
		<add key="EmailFilePath" value="C:\Projects\EBB\EBB\Email\"/>

	</appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
