<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InputFile" value="C:\temp\BB_Phase9_Max_Attempts_Phase1-5_971_Records.xls"/>
		
	</appSettings>
	
	<connectionStrings>
		<add name="CRM" connectionString="server=WAS1;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=BBPhase9Matching;"/>
	</connectionStrings>
</configuration>