<p>Thank you for your commitment to making the Lumber and Transportation industry a more informed trading environment by sharing monthly AR aging files - we value your shared trading experiences!!</p>
<p>
    We do note that it’s been more than 30 days since your last AR Aging file was received by Blue Book Services.   Please take a moment to send your latest AR Aging file to
    <a href="mailto:lumberar@bluebookservices.com">lumberar@bluebookservices.com</a>, or log on to <a href="{0}EMCW_ARReports.aspx">BBOS</a>
    and upload your file today.
</p>

<p>
    Thank you for being an industry leader, and your attention to this matter!
</p>

<p><u>*** If you have already submitted an updated AR Aging File, please disregard this reminder. ***</u></p>

<p>
    Sincerely,<br />
    Zack Champagne, Data Specialist<br />
    Phone 630-668-3500<br />
    <a href="mailto:zchampagne@bluebookservices.com">zchampagne@bluebookservices.com</a><br />
    <a href="http://www.lumberbluebook.com">www.lumberbluebook.com</a><br />
</p>