<p>
    This is a reminder to send Blue Book Services your latest AR Aging file to <a href="mailto:lumberar@bluebookservices.com">lumberar@bluebookservices.com</a>, or log on to
    <a href="{0}EMCW_ARReports.aspx">BBOS</a> and upload your file today. 
</p>

<p>Thank you for being a strong supporter and industry leader – we look forward to your next file update!</p>

<p> Sincerely,<br/>
Zack Champagne, Data Specialist<br />
Phone 630-668-3500<br />
<a href="mailto:zchampagne@bluebookservices.com">zchampagne@bluebookservices.com</a><br />
<a href="http://www.lumberbluebook.com">www.lumberbluebook.com</a><br /></p>