<p>Thank you for your commitment to making the Produce and Transportation industry a more informed trading environment by sharing monthly AR aging files - we value your shared trading experiences!!</p>

<p>
    We do note that it’s been more than 30 days since your last AR Aging file was received by Blue Book Services. Please take a moment to send your latest AR Aging file to
    <a href="mailto:producear@bluebookservices.com">producear@bluebookservices.com</a>, or log on to <a href="{0}EMCW_ARReports.aspx">BBOS</a>
    and upload your file today.
</p>

<p>
    Thank you for your industry leadership, and your attention to this matter!
</p>

<p><u>*** If you have already submitted an updated AR Aging File, please disregard this reminder. ***</u></p>

<p>
    Kind Regards,<br />
    Bill Zentner<br />
    Blue Book Services<br />
    Vice President, Rating Services<br />
    Phone: 630 344-0717<br />
    Email: <a href="mailto:bzentner@bluebookservices.com">bzentner@bluebookservices.com</a><br />
    <br />
</p>