<p>This is a reminder to send Blue Book Services your latest AR Aging file to <a href="mailto:producear@bluebookservices.com">producear@bluebookservices.com</a>, or log on to 
    <a href="{0}EMCW_ARReports.aspx">BBOS</a> and upload your file today.<p>

<p>Thank you for being a strong supporter and industry leader – we look forward to your next file update!</p>

<p><u>*** If you have already submitted an updated AR Aging File, please disregard this reminder. ***</u></p>

<p>
    Kind Regards,<br />
    Bill Zentner<br />
    Blue Book Services<br />
    Vice President, Rating Services<br />
    Phone: 630 344-0717<br />
    Email: <a href="mailto:bzentner@bluebookservices.com">bzentner@bluebookservices.com</a><br />
    <br />
</p>