<p>This {0} contains your {1} Alert Report from Blue Book Services.</p>
<p>To update your Alerts List, or discontinue these e-mail updates, make changes to your <a href="http://apps.bluebookservices.com/bbos/UserProfile.aspx">User Profile</a> by logging into <a href="http://apps.bluebookservices.com/bbos">BBOS</a>.</p>
<p>Need more information about a business?  Blue Book Business Reports, which are included in your annual membership, provide a comprehensive picture of everything you need to know about a company.  Reports include historical rating and financial information, ownership background, pay trends, Blue Book Score history, financial ratios, and more.</p>

<p></p>