<p>This {0} contains your Weekly Credit Sheet Update Report from Blue Book Services with the most recent industry changes. For in-depth details about a business or rating change, get a comprehensive Blue Book Business Report. Reports are a valuable credit tool included with your membership.</p>

<p>Send any questions, comments or changes to the e-mail delivery address for this report to <a href="mailto:info@bluebookservices.com">info@bluebookservices.com</a> or phone 630-668-3500.</p>

<div style="text-align:center">{4}</div>
<div style="text-align:center">{2}</div>

<p>To discontinue these e-mail updates, go to the <a href="{3}">User Profile</a> page of Blue Book Online Services, and mark the Delivery Method to be "View Online Only."  If you need to make further changes to how your updates are delivered, please contact Blue Book Services at <a href="mailto:info@bluebookservices.com">info@bluebookservices.com</a> or phone 630-668-3500.</p>