<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
	</head>
	<body style="background-color:Gray;font-family:Arial;">
	

    <table style="width:800px;margin-left:auto;margin-right:auto;background-color:#E0E0E0;">
    <tr>
        <td style="padding:15px;">
        
            <table style="width:100%;border: thin solid #C0C0C0;background-color:White;" align="center">
            <tr>
                <td style="width:150px;text-align:center;">
                    <img src="http://apps.bluebookservices.com/BBOS/assets/BBOS_logo_small.svg" />
                </td>            
                <td style="width:650px;color:#1025a2">
                    <div style="text-align:center;font-size:16pt;font-weight:bold;">EMail Title</div>
                    <div style="text-align:center;font-size:14pt;">Blue Book Services</div>
                </td>
            </tr>   
            <tr>
                <td colspan="2" style="background-color:#1025a2;height:5px;padding:25px;"></td>
            </tr>

            <tr>
                <td valign="top" style="width:150px;padding-left:15px">

                    <div style="background-color:#E0E0E0;margin-top:15px;margin-bottom:15px;padding-left:5px;padding-right:5px;padding-top:1px;padding-bottom:1px">
                    
                    <p style="font-weight:bold;font-size:10pt;">We're Here to Answer<br />
                    Your Questions!</p>

                    <p style="font-style:italic;font-size:9pt;">Blue Book Services</p>

                    <p style="font-size:8pt;">
                    <a href="mailto:info@bluebookservices.com">info@bluebookservices.com</a><br />
                    <a href="http://www.bluebookservices.com">www.bluebookservices.com</a>
                    </p>
                
                    <p style="font-size:8pt;">
                    phone 630-668-3500<br />
                    fax 630-668-0303
                    </p>
                    </div>
                </td>
            

                <td valign="top" style="padding-top:20px;padding-left:15px;padding-right:15px;font-size:12pt;">
                
                </td>
            </tr>
            
            <tr>
                <td colspan="2" style="font-size: 12px;text-align:center;font-style:italic;background-color:#1025a2;color:White;font-weight:bold;height:25px;">
                    Learn about your membership tools; watch our tutorial videos
                </td>
            </tr>
            <tr><td></td></tr>

            </table>
        </td>
    </tr>

            <tr>
                <td style="text-align:center;font-size:10px;font-weight:bold;">
                    845 East Geneva Road &nbsp;&nbsp;&nbsp; Carol Stream, IL 60188 &nbsp;&nbsp;&nbsp; phone 630-668-3500 &nbsp;&nbsp;&nbsp; fax 630-668-0303 &nbsp;&nbsp;&nbsp; <a href="mailto:info@bluebookservices.com">info@bluebookservices.com</a>&nbsp;&nbsp;&nbsp;                
                </td>
            </tr>                     

    </table>


	</body>
</html>