<p>Tras revisar su cuenta con Blue Book Services, nos hemos dado cuenta de que tiene una factura pendiente de pago.  Este amistoso recordatorio es un aviso para pedirle que tenga la amabilidad de remitir el pago antes de la fecha de vencimiento.</p>

<p align="center">
    {0}
</p>

{1}

<p align="center">
    <a href="{2}">
        <img src="https://apps.bluebookservices.com/BBOS/en-us/images/DownloadInvoice.png" border="0" align="center" />
    </a>
</p>

<p>Si tiene alguna pregunta o necesita más aclaraciones, no dude en llamar a la Oficina de Facturación al 630-668-3500.</p>

<p>Si el pago ya ha sido enviado, por favor acepte nuestro agradecimiento por el pago puntual y haga caso omiso de esta carta.v</p>