<p>Esta carta se refiere a un saldo pendiente que usted tiene con Blue Book Services. Le enviamos esta última carta de cobro, ya que parece que no ha habido ningún intento de pagar este saldo, incluso después de varios intentos de ponernos en contacto con usted con respecto a una opción de pago. </p>

<p align="center">
    {0}
</p>

{1}

<p align="center">
    <a href="{2}">
        <img src="https://apps.bluebookservices.com/BBOS/en-us/images/DownloadInvoice.png" border="0" align="center" />
    </a>
</p>

<p>Es posible que estemos dispuestos a llegar a un acuerdo de pago para ayudar a liquidar este saldo, pero necesitaremos el pago en un plazo de diez (10) días a partir de la fecha de esta carta o tendremos que continuar con el proceso de cobro.</p>

<p>Si tiene alguna otra pregunta o inquietud, no dude en comunicarse con nosotros al 630-668-3500.</p>
