<p>Upon review of your account with Blue Book Services, it has come to our attention that you have an invoice coming due.  This friendly reminder is a notice to ask that you kindly remit payment before the due date.</p>

<p align="center">
    {0}
</p>

{1}

<p align="center">
    <a href="{2}">
        <img src="https://apps.bluebookservices.com/BBOS/en-us/images/DownloadInvoice.png" border="0" align="center" />
    </a>
</p>

<p>Should you have any questions or require further clarification, please do not hesitate to call the Billing Office for assistance at 630-668-3500.</p>

<p>If payment has already been sent, please accept our thanks for the prompt payment and disregard this reminder.</p>
