<style>
    .bbsTable {{
        border: solid 1px black;
    }}

    .bbsColHeader {{
        background-color: #1025A2;
        color: white;
        font-weight: bold;
    }}

    .bbsBottomBorder {{
        border-bottom: solid 1px black;
    }}

    .bbsTopBorder {{
        border-top: solid 2px black;
    }}

    .bbsTopPadding {{
            padding-top: 10px;
    }}
</style>

<table width="100%" class="bbsTable">
    <tr><td align=center width="50%" class=bbsColHeader>Invoice #</td><td align=center width="50%" class=bbsColHeader>Invoice Date</td></tr>
    <tr><td align=center>{0}</td><td align=center>{1}</td></tr>
    <tr><td align=center class=bbsColHeader>Please Pay This Amount</td><td align=center class=bbsColHeader>Due Date</td></tr>
    <tr><td align=center>{3}</td><td align=center>{2}</td></tr>
</table>

<br />

<table width="100%">
    <tr><th class=bbsColHeader>Description</th><th align=right class=bbsColHeader>Total</th></tr>
    {4}
    <tr><td align=right class=bbsTopBorder><strong>Sub-Total:</strong></td><td align=right class=bbsTopBorder>{5}</td>
    <tr><td align=right><strong>Tax:</strong></td><td align=right>{6}</td>
    <tr><td align=right><strong>TOTAL AMOUNT DUE:</strong></td><td align=right><strong>{7}</strong></td>
</table>
