<p>This notice is regarding an outstanding balance you have with Blue Book Services. We are sending this final collection notice, as it appears there has not been an attempt to pay down this balance, even after several attempts to contact you regarding a payment option. </p>

<p align="center">
    {0}
</p>

{1}

<p align="center">
    <a href="{2}">
        <img src="https://apps.bluebookservices.com/BBOS/en-us/images/DownloadInvoice.png" border="0" align="center" />
    </a>
</p>

<p>We may be willing to accommodate to a payment arrangement in order to help clear this balance, but we will need payment within ten (10) days to the date of this letter or we will have to continue with the collection process.</p>

<p>If you have any further questions or concerns, please feel free to contact us at 630-668-3500.</p>
