<p>Blue Book rating is a vital part of your listing and your company’s success!</p>
<p>Your rating not only communicates to the industry your firm’s credit worthiness, trade, and pay practices, but opens the door to new and profitable business opportunities.</p>
<p>Currently, we do not have a completed Trade Reference List to commence the rating process for your company.</p>
<p>Submit your Trade Reference information confidentially and easily by:</p>
<ul>
    <li>Completing and returning the attached Trade Reference form, listing your customers and vendors. Email the form to <a href="mailto:ra-cl@bluebookservices.com">ra-cl@bluebookservices.com</a> or fax it to 630 344-0359.</li>
    <li>Logging on to <a href="http://www.producebluebook.com">www.ProduceBlueBook.com</a>, going to "My Account", then, "Edit My Company Data", and finally, "Manage Reference List."</li>
</ul>
<p>Thanks for providing this information to establish a Blue Book rating.  If you have any questions, please feel free to contact us.</p>

