<p>Una Calificación de Blue Book es una parte vital de su listado y el éxito de su empresa!</p>
<p>Su calificación le comunica a la industria el valor de crédito, practica de pago y negocio, la cual en torno abre puertas a nuevas y provechosas oportunidades de negocio para su empresa.</p>
<p>Actualmente, no tenemos una completa lista de sus referencias para poder comenzar el proceso de calificación de su empresa.</p>
<p>Provea su lista de referencias fácil y confidencialmente:</p>
<ul>
    <li>Complete y regrese el formulario adjunto titulado Lista de Referencias con información de contacto de sus vendedores y clientes. Envíe a <a href="mailto:ra-cl@bluebookservices.com">ra-cl@bluebookservices.com</a> o por fax al 630 344-0359.</li>
    <li>Acceder  por medio de nuestra página <a href="http://www.ProduceBlueBook.com">www.ProduceBlueBook.com</a> : Seleccionar "My Account", "Edit My Company Data", "Manage Reference List".</li>
</ul>

<p>Gracias por proveer esta información para establecer su calificación.</p>

<p>Si tiene alguna pregunta al respecto, favor de comunicarse con nosotros.</p>
