<p>
    <b>Every day the Blue Book reports</b> important rating and business changes you need to:
    <ul>
        <li>Make New Connections.</li>
        <li>Grow Sales.</li>
        <li>Manage Business Risk.</li>
    </ul>
</p>
<p>
    Logging on to Blue Book Services, keeps you in the know about current rating information, business start-ups, and more.
</p>

<p>
    Since your last log-in we have reported:
    <ul>
        <li><b>{0}</b> number of new listings</li>
        <li><b>{1}</b> number of key rating changes </li>
    </ul>
</p>

<p><b>Forgot your password?</b>  Enter your e-mail address <a href="https://apps.bluebookservices.com/BBOS/Login.aspx">here</a> and click “Forgot Password” link.</p>
<p><b>FREE Webinar:</b>  Contact <a href="mailto:customerservice@bluebookservices.com">customerservice@bluebookservices.com</a> to set-up a webinar for you and your team to maximize the valuable features/benefits included in your membership.</p>