<p>
    <b>Todos los días Blue Book reporta</b> importantes cambios de calificación y negocios que necesita para:
    <ul>
        <li>Hacer nuevas conexiones</li>
        <li>Aumentar Ventas</li>
        <li>Manejar riesgo empresarial</li>
    </ul>
</p>
<p>
    Iniciar sesión en Blue Book Services, le mantiene al corriente sobre la información de calificación actual, las empresas emergentes y más.
</p>

<p>
    Desde su último inicio de sesión hemos informado:
    <ul>
        <li><b>{0}</b> número de nuevos listados</li>
        <li><b>{1}</b> número de cambios claves de calificación</li>
    </ul>
</p>

<p><b>¿Olvido su contraseña?</b>  Entre su correo electrónico <a href="https://apps.bluebookservices.com/BBOS/Login.aspx">aquí</a> y haz clic al enlace de “Forgot Password”.</p>
<p><b>Capacitación gratuita:</b>  Póngase en contacto con <a href="mailto:customerservice@bluebookservices.com">customerservice@bluebookservices.com</a> para configurar una capacitación en línea,  para que usted y su equipo maximicen las valiosas características/beneficios incluidos en su membresía.</p>


