BODY.REPORTBODY
{
  background-image: none;
}
TD.REPORTTITLE
{
  background: white;
  color: navy;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
}
TABLE.REPORTPAGEHEADER
{
  background: white;
  color: navy;
  font-family: sans-serif;
  font-size: 10px;
  width: 100%;
}
TABLE.REPORTPAGEFOOTER
{
  background: white;
  color: navy;
  font-family: sans-serif;
  font-size: 10px;
  width: 100%;
}
TD.REPORTSUMMARY
{
  background: white;
  color: navy;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}
TD.REPORTGROUPHEADER
{
  color: navy;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: top;
}
TD.REPORTGROUPHEADER a
{
  color: navy;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: top;
}
TD.REPORTGROUPFOOTER
{
  background: white;
  color: navy;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}
TD.REPORTCOLUMNHEADER
{
  background: #6795C3;
  color: white;
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
}
TD.REPORTDETAIL
{
  color: navy;
  font-family: sans-serif;
  font-size: 12px;
  text-decoration: none;
  vertical-align: top;
}
TD.REPORTDETAIL a
{
  color: navy;
  font-family: sans-serif;
  font-size: 12px;
  text-decoration: none;
  vertical-align: top;
}
TD.REPORTSEARCH
{
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  vertical-align: top;
}
TR.BLANKROW
{
}
BODY.CONTROLBODY
{
  background:#EDEDE1;
}
TD.REPORTCONTROL
{
  color: navy;
  font-family: sans-serif;
  font-size: 10px;
  vertical-align: middle;
}
TD.REPORTCONTROL a
{
  color: navy;
  font-family: sans-serif;
  font-size: 10px;
  vertical-align: middle;
}
INPUT.REPORTCONTROL
{
  color: navy;
  font-family: sans-serif;
  font-size: 10px;
  vertical-align: middle;
}
SELECT.REPORTCONTROL
{
  color: navy;
  font-family: sans-serif;
  font-size: 10px;
  vertical-align: middle;
}
