<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CommitChanges" value="false"/>
    
  </appSettings>

  <connectionStrings>
    <add name="SQLServer" connectionString="server=Dev1;User ID=accpac;Password=accpac;Initial Catalog=CRMDev;Application Name=OKSImport;"/>
    <add name="MSAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Projects\PRCo Utils\OKSImport\OKS_OUTPUT_PHASE9_01_10222010.mdb"/>
  </connectionStrings>
</configuration>
