<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CompanyAuthPopupURL" value="window.open('http://localhost/ebb/CompanyAuthorization.aspx?Key={0}', 'bbsiCompanyAuthPopup');" />
    <add key="CompanyAuthTemplateFile" value="CompanyAuth.htm" />
    <add key="CompanyAuthIntegrityIDThreshold" value="0" />
    <add key="QuickFindServicePath2" value="http://apps.bluebookservices.com/BBOS/AJAXHelper.asmx" />
    <add key="QuickFindServicePath" value="http://localhost/bboswidgets/WidgetHelper.asmx" />
    <add key="QuickFindProducePublicProfileURL" value="http://myserver.local/BBOSPublicProfiles/CompanyProfile.aspx?WK={0}&amp;CompanyID=" />
    <add key="QuickFindProducePublicProfileURL2" value="http://qa.apps.bluebookservices.com/ProducePublicProfiles/CompanyProfile.aspx?WK={0}&amp;CompanyID=" />
    <add key="QuickFindLumberPublicProfileURL" value="http://qa.apps.bluebookservices.com/LumberPublicProfiles/CompanyProfile.aspx?WK={0}&amp;CompanyID=" />
    <add key="ProduceMarketingSiteURL" value="http://qa.wordpress.bluebookservices.com/" />
    <add key="LumberMarketingSiteURL" value="http://qa.wordpress.bluebookservices.com/" />
    <add key="QuickFindScaleText" value="true" />
    <add key="ImagesURL" value="http://localhost/BBOSWidgets/images/" />
    <add key="TemplateFolder" value="C:\Projects\EBB\BBOSWidgets\templates" />
    <!-- Settings for the DB Access facility -->
    <add key="UseVarChar1ForBool" value="true" />
    <add key="SaveUsesSQLParameters" value="true" />
    <add key="UsesAuditFields" value="true" />
    <add key="UsesIdentity" value="false" />
    <add key="UsesOptLock" value="false" />
    <!-- Settings for the trace facility -->
    <add key="TraceServiceProvider" value="TSI.Utils.FileLogger" />
    <add key="TraceFileName" value="D:\Source\BBSI\EBB\BBOSWidgets\BBOS Trace.txt" />
    <add key="TraceErrorFileName" value="D:\Source\BBSI\EBB\BBOSWidgets\BBOS Error.txt" />
    <add key="TraceFileHTTPPath" value="trace.txt" />
    <add key="TraceErrorFileHTTPPath" value="error.txt" />
    <add key="TraceLevel" value="1" />
    <add key="TraceEnabled" value="true" />
    <add key="TraceTriggerMode" value="1" />
    <!-- 0=None, 1=FileSize, 2=Interval -->
    <add key="TraceFileSizeThreshold" value="2097152" />
    <!-- In Bytes -->
    <add key="TraceFileIntervalThreshold" value="1440" />
    <!-- In Minutes -->
    <add key="TraceMaxFilesToKeep" value="4" />
    <add key="TraceEventLogEnabled" value="false" />
    <add key="TraceEventLogSource" value="BBOSWidgets" />
    <add key="TraceEventLogName" value="Application" />
    <!-- Settings for exception support -->
    <add key="EMailSupportEnabled" value="false" />
    <add key="EMailSupportAddress" value="support@travant.com" />
    <add key="EMailSupportSubject" value="BBOS Widgets Exception (local)" />
    <add key="EMailSupportAttachLogFile" value="false" />
    <!-- Must have four replacements.  They are:
    0 = Timestamp
    1 = User ID
    2 = Request Name
    3 = Message
      -->
    <add key="TraceMessageFormat" value="{0}|{2}|{3}" />
    <add key="TraceTimestampFormat" value="yyyy-MM-dd HH:mm:ss:fff" />
    <!-- Settings for the various system generated e-mails -->
    <add key="EMailEnabled" value="false" />
    <add key="EMailSMTPServer" value="smtp.comcast.net" />
    <add key="EMailSMTPServerAuthenticate" value="false" />
    <add key="EMailSMTPUserName" value="" />
    <add key="EMailSMTPPassword" value="" />
    <add key="EMailFromAddress" value="support@travant.com" />
    <add key="EMailFromName" value="PRCo EBB" />
    <add key="EmailWriteToFileEnabled" value="true" />
    <add key="EmailFilePath" value="C:\Projects\EBB\BBOSMobile\Email\" />
    <add key="AdImageRootURL" value="Campaigns/" />
    <add key="AdClickURL" value="http://localhost/BBOS/AdClick.aspx" />
  </appSettings>
  <connectionStrings>
    <add name="TSIUtils" connectionString="server=qasql.bluebookservices.local;Password=BBOS_1995;User ID=BBOS;Initial Catalog=CRM;Application Name=BBOS;" providerName="TSI.DataAccess.DBSQLServerProvider" />
    <add name="DBConnectionStringFullRights" connectionString="server=qasql.bluebookservices.local;Password=accpac;User ID=accpac;Initial Catalog=CRM;Application Name=BBOS;" providerName="TSI.DataAccess.DBSQLServerProvider" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.7.2" />
    <authentication mode="Windows" />
    <!--    
    <httpModules>
      <add name="ContentTypeHttpModule" type="PRCo.BBOS.UI.Web.Widgets.ContentTypeHttpModule, BBOSWidgets"/>
    </httpModules>
-->
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules>
      <add name="ContentTypeHttpModule" type="PRCo.BBOS.UI.Web.Widgets.ContentTypeHttpModule, BBOSWidgets" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.5295.12304" newVersion="5.11.5295.12304" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>