<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="TestCRM" connectionString="server=BHST;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=OKSAdditionalDataImport;"/>
		<add name="XTestCRM" connectionString="server=Dev1;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=OKSAdditionalDataImport;"/>
		<add name="XProdCRM" connectionString="server=WAS1;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=OKSAdditionalDataImport;"/>
		<add name="MSExcel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=Excel 8.0;Excel 12.0;HDR=YES;"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
