<p>Para que continue recibiendo su membres&iacute;a del Blue Book Services, esperamos recibir su pago lo antes posible.</p>
<p>Adjunto ver formulario para enviar pago por tarjeta de cr&eacute;dito.</p>

<p align="center">
    {0}
</p>

{2}

<p align="center">
    <a href="{3}">
        <img src="https://apps.bluebookservices.com/BBOS/es-mx/images/DownloadInvoice.png" border="0" align="center" />
    </a>
</p>

<p align="center" style="color:red;text-align:center;">
    <strong>***************************  IMPORTANT  ***************************</strong><br /><br />

    <span style="background-color:yellow"><u>Si paga con cheque</u>, &iexcl;tenga en cuenta que nuestra direcci&oacute;n de env&iacute;o ha cambiado!</span><br /><br />

    Por favor env&iacute;e sus cheques a:<br />
    <em>Por favor incluya el número de factura <strong>{4}</strong> en el cheque.</em>
    <br />

    <strong>
        Blue Book Services LLC<br />
        PO Box 1263<br />
        Bedford Park, IL 60499-1263
    </strong>
</p>

<p>
    {1}
</p>