<p>To continue to receive all the features of your Blue Book Membership and/or Listing, please submit payment for your service as soon as possible.</p>
<p>To pay online, simply click the "Pay Now" button.</p>

<p align="center">
	{0}
</p>

{2}

<p align="center">
	<a href="{3}">
		<img src="https://apps.bluebookservices.com/BBOS/en-us/images/DownloadInvoice.png" border="0" align="center" />
	</a>
</p>

<p align="center" style="color:red;text-align:center;">
	<strong>***************************  IMPORTANT  ***************************</strong><br /><br />

	<span style="background-color:yellow"><u>If paying by check</u>, please note our remittance address has changed!</span><br /><br />

	Please mail checks to:<br />
	<em>Please include the invoice number <strong>{4}</strong> on the check.</em>
	<br />

	<strong>
		Blue Book Services LLC<br />
		PO Box 1263<br />
		Bedford Park, IL 60499-1263
	</strong>
</p>

<p>
	{1}
</p>