<p>The Blue Book Rating depicts credit worthiness, trading experience and pay performance, and has been the industry's benchmark for making informed and profitable trading decisions.</p>
<p>A comprehensive Blue Book Rating assignment can be the key to new and profitable business opportunities for your company.  We kindly request you provide the necessary tools to take this next step.</p>
<p><u>To establish a Trade Practices &amp; Pay Rating</u> –</p>
<ul>
    <li><b>Please thoroughly complete the attached Reference List form and email to <a href="mailto:ra-cl@bluebookservices.com">ra-cl@bluebookservices.com</a> or fax to 630.344.0359</b>.  This list is an essential tool that is used to gather trading feedback on the trading and pay practices of your company to establish a Trade Practices and Pay Rating.</li>
</ul>

<p><u>To establish a Credit Worth Estimate</u> –</p>
<ul>
    <li>Submit financial statements in order to establish a Credit Worth Estimate.  At a minimum, we require your company's most current balance sheet and income statement.  Financial statements may be submitted in strict confidence, whereby they are viewed only by the Blue Book for Credit Worth Estimate assignment.</li>
</ul>

<p>We urge you to act quickly and provide all requested tools to begin the rating process!</p>
<p>Thank you for the ongoing opportunity to serve you – contact us with any questions you may have!</p>

<br />
<p><i>Blue Book Services</i></p>
<br />

<p><u>Maximize your Blue Book membership experience</u> –</p>
<p>Confidentially contribute monthly accounts receivable (a/r) aging files with the Blue Book to gain access to our online “AR Report” feature and receive our monthly “Accounts Receivable Analysis Report.”  These features are exclusive to a/r submitters - send your company’s first file to <a href="mailto:producear@bluebookservices.com">producear@bluebookservices.com</a> to get started.</p>
