<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Untitled Page</title>
</head>
<body>

<p>Blue Book Services would like to solicit your feedback.  If you have completed a survey on a Business Report, this is <b>not</b> the same as the survey you previously received; it is a <b>shortened follow-up survey</b>.  We ask that you spend approximately 5 minutes to complete this short survey.  </p>

<p>Your time and input are very important to us. To thank you for your effort, your name will be entered another time into the drawing in which five individuals will be selected to win a <b>$100 Visa Gift Card</b>. </p>

<p>We appreciate your time and willingness to participate. Please click on the following link to participate in this survey:</p>

<p><a href="http://www.surveymonkey.com/s.aspx?sm=TwCG3S0CQvmDa8umEbKhsQ_3d_3d ">http://www.surveymonkey.com/s.aspx?sm=TwCG3S0CQvmDa8umEbKhsQ_3d_3d </a> </p>

<p>If you have any questions regarding this survey, please call Kathi Orlowski at 630-668-3500. </p>

<p>Thank you, <br />
Blue Book Services 
</body>
</html>