<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Blue Book Services Survey</title>
</head>
<body>

<p>Blue Book Services strives to continually provide you with the best resources for your success. Accordingly, we would like to learn more about your usage of <b>Business Reports</b>, more specifically, reports that you most recently received. Please know that your answers will be held in the strictest confidence by Blue Book Services. </p>

<p>This survey will take you approximately <b>10 minutes</b>. Your time and input are very important to us. To thank you for your time in completing the survey, we will enter your name into a drawing in which five individuals will be selected to win a <b>$100 Visa Gift Card</b>. </p>

<p>We appreciate your time and willingness to participate. Please click on the following link to participate in this survey:</p>

<p><a href="http://www.surveymonkey.com/s.aspx?sm=jdR_2beCeHRAiRAOvAsFtGDg_3d_3d">http://www.surveymonkey.com/s.aspx?sm=jdR_2beCeHRAiRAOvAsFtGDg_3d_3d</a> </p>

<p>If you have any questions regarding this survey, please call Kathi Orlowski at 630-668-3500. </p>

<p>Thank you,<br /> 
Blue Book Services </p>
</body>
</html>