<div class="col-md-12 my-0">
    <p class="px-4 pb-3">
        A business valuation report is Blue Book’s estimated market value for your company, based on the firm’s submitted financials and market dynamics. It’s not an appraisal. Principals should use this report as a starting point to determine a business’s value.  It is completed in alignment with professional standards and represents our impartial, and unbiased professional analysis and opinion.
    </p>

    <p class="px-4 pb-3">
        Valuations serve a myriad of purposes and can be helpful in corporate goal-setting, exit planning, additional value enhancement strategies, and M&A services more broadly.
    </p>

    <p class="px-4 pb-3">
        To complete the valuation, users must upload the most recent annual Income Statement and the trailing twelve-month (TTM) Balance Sheet.
    </p>

    <p class="px-4 pb-3">
        Blue Book Business Valuations cost $175 / company for Basic members and are complimentary for our Standard, Premium and Enterprise members.
    </p>

    <p class="px-4 pb-3">
        Blue Book takes your data’s privacy very seriously. Please review our privacy policy for any questions. Blue Book reserves the right to utilize submitted data to help improve our ratings and credit worth estimates. However, we will never share your business valuation report or your financial statements with any 3rd party.
    </p>
</div>