<div class="Title">Common Descriptive Line Phrases/Topic</div>
<p class="mar_bot">
    By adding additional descriptive lines to your Blue Book Listing, such as   cell &amp; res. numbers and E-mail addresses,
    you can ensure readers get the   information they need to contact you.  Below is a chart of common phrases and   topics
    that are often used in Blue Book Listings, to help companies' listings STAND OUT amongst other listings.
</p>

<p class="mar_bot">Contact a <a href="mailto:listing@bluebookservices.com" class="explicitlink">Listing Specialist</a> today, to add any of these topics to your Blue Book Listing!</p>
<div class="smTitle mar_bot" >Supply Companies</div>
<div>
    <ul class="Bullets">
        <li>Specialize in _______
        <li>List specific facts about products/services/equipment/ machinery
        <li>Geographic areas serving
        <li>Name/direct contact info for key personnel
        <li>Specific product/service you specialize in
        <li>Brands</li>
    </ul>
</div>