<div class="Title">Common Descriptive Line Phrases/Topic</div>
  
<p class="mar_bot">By adding additional descriptive lines to your Blue Book Listing, such as   cell &amp; res. numbers and E-mail addresses, 
    you can ensure readers get the   information they need to contact you.  Below is a chart of common phrases and topics 
    that are often used in Blue Book Listings, to help companies' listings STAND OUT amongst other listings.</p>

<p class="mar_bot">Contact a <a href="mailto:listing@bluebookservices.com" class="explicitlink">Listing Specialist</a> today, to add any of these topics to your Blue Book Listing!</p>

<div class="smTitle mar_bot">Produce Companies</div>
<div>
    <ul class="Bullets">
        <li>Sales handled by _______</li>
        <li>Specialize in _______</li>
        <li>ASCO certified organic</li>
        <li>PrimusGFS certified - Superior,<br />Inspected January 16, 2017</li>
        <li>USDA NOP certified organic grower<br />& packer</li>
        <li>GLOBALGAP certified</li>
        <li>Certified organic handler &<br />repacker</li>
        <li>CanadaGAP certified</li>
        <li>Certified Food Safety Program<br />SQF 2000(cm) Quality Assured<br />HACCP accredited</li>
        <li>PrimusGFS certified for harvest<br />crew, ranch & packinghouse</li>
        <li>SAGARPA Food Safety certified</li>
        <li>Freight & cold storage services</li>
        <li>Unload/Operating hours</li>
        <li>Name/direct contact info for key personnel</li>
        <li>Brands</li>
        <li>Areas ship to & from</li>
        <li>Months commodities are available</li>
        <li>Seasonal hours/months</li>
        <li>Mixed load consolidation</li>
    </ul>
</div>