<div class="Title">Common Descriptive Line Phrases/Topic</div>
<p class="mar_bot">By adding additional descriptive lines to your Blue Book Listing, such as   cell &amp; res. numbers and E-mail addresses, 
    you can ensure readers get the   information they need to contact you.  Below is a chart of common phrases and topics 
    that are often used in Blue Book Listings, to help companies' listings STAND OUT amongst other listings.</p>

<p class="mar_bot">Contact a <a href="mailto:listing@bluebookservices.com" class="explicitlink">Listing Specialist</a> today, to add any of these topics to your Blue Book Listing!</p>

<div class="smTitle mar_bot">Transportation Companies</div>
<div>
    <ul class="Bullets">
        <li>Operate 53 ft. air ride trailers
        <li>Handle exempt & regulated freight
        <li>Licensed & bonded
        <li>Licensed freight broker
        <li>Full loads and LTL
        <li>Refrigerated and Non-refrigerated Loads
        <li>Freight & cold storage services
        <li>_______ sq. ft. cold storage
        <li>_______ sq. ft. controlled atmosphere
        <li>Cargo insurance
        <li>Serve all 48 states & Canada
        <li>Geographic area operating in
        <li>F.O.B.
        <li>Cargo & liability insurance
        <li>Offer large line of units: Reefer/dry van/flatbed/piggyback trailers
        <li>Satellite Tracking available
        <li>Specializing in LTL consolidation
        <li>Team Drivers
    </ul>
</div>