<p class='text-left mar_bot'>All Blue Book members benefit from access to our reliable and accurate company ratings and listings. In addition to the core 
services described at the bottom of this page, our members also have access to all of the benefits listed below. </p>

<div class="row nomargin">
        <div class="col-md-6 col-sm-12">
            <b>Included with All Memberships</b>
            <ul class="Bullets">
                <li>
                    Reporting Services:
                    <ul class="Bullets">
                        <li>Business Reports</li>
                        <li>Marketing Lists</li>
                    </ul>
                </li>
                <li>
                    Reliable Updates:
                    <ul class="Bullets">
                        <li>Weekly Credit Sheet Updates</li>
                    </ul>
                </li>
                <li>
                    Trading Assistance Services:
                    <ul class="Bullets">
                        <li>Collection Services</li>
                        <li>Mediation Services</li>
                        <li>Arbitration Services</li>
                        <li>Trading Opinions</li>
                    </ul>
                </li>
                <li>
                    Additional Services:
                    <ul class="Bullets">
                        <li><em>Produce Blueprints Magazines</em></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12">
            <b>Additional Services Available</b>
            <ul class="Bullets">
                <li>Additional Print Blue Book Copies</li>
                <li>Additional subscription to <em>Produce Blueprints Magazine</em></li>
                <li>Express Updates by fax or e-mail</li>
            </ul>
        </div>
    </div>
