<p class='text-left mar_bot'>
    Since 1901, Blue Book Services has been a reliable resource for the fresh fruit and vegetable industry to find new companies and products, monitor businesses, reduce business risk when extending credit and resolve disputes.
</p>
<p class='text-left mar_bot'>
    Access the leading database of credit rating and marketing information for the global fresh produce supply chain and achieve your goals.
</p>

<div class="row nomargin padding_lr_15">
    <h4><b>Annual Blue Book Membership Service: Series 200</b></h4>
    <ul class="Bullets">
        <li>5 Advanced Blue Book Online User Licenses</li>
        <li>20 Business Reports</li>
        <li>Membership Fee: {0}</li>
    </ul>
</div>

<div class="row nomargin padding_lr_15">
    <h4><b>Online Features &amp; Functionality</b></h4>
    <ul class="Bullets">
        <li>
            Search by:
            <ul class="Bullets">
                <li style="list-style-type:circle">Commodity, rating, pay practice, brand, license, certification, industry contacts</li>
                <li style="list-style-type:circle">Business classification: importers/exporters, wholesalers & retailers</li>
            </ul>
        </li>
        <li>View predictive Blue Book Score: evaluate likelihood of a negative credit event</li>
        <li>Export search results as .CSV file</li>
        <li>View claims filed with Blue Book &amp; Federal Courts</li>
        <li>View industry personnel</li>
    </ul>
</div>

<div class="row nomargin padding_lr_15">
    <h4><b>Additional Benefits</b></h4>
    <ul class="Bullets">
        <li>Trading Assistance – a 10% fee applies for collecting a past due receivable</li>
        <li>50% discount for advertising in the <i>Produce Blueprints Magazine</i> or online digital banner ad</li>
    </ul>
</div>