<p>Dear {0}:</p>
<p>Although no claim has been filed at this time, {1} has asked us to send you a note regarding their invoice number(s) {2} dated {3}.</p>
<p>Because one or more of these invoices appears to be past-due, we ask that you please "reply all" to this email and provide {1} and Blue Book with a status update.</p>
<p>Again, no claim has been filed, this is not a credit rating event at this time, but we do encourage you to attempt to resolve this matter as soon as possible.</p>
<br />
<p>
    Thank you,<br />
    Trading Assistance Team<br />
    Blue Book Services
</p>