<p>Dear {0}:</p>
<p>We have reached out to {1} on your behalf.</p>
<p>Hopefully, you will hear back from them in the next few days.  If not, please let us know if you would like to place the account for collection with Blue Book Services.</p>
<p>Please don't hesitate to contact us with any questions you may have.</p>
<br />
<p>
    Thank you,<br />
    Trading Assistance Team<br />
    Blue Book Services
</p>

<img src="http://apps.bluebookservices.com/BBOS/assets/BBOS_logo_small.svg" alt="Blue Book Services" width="75" />
<br />
<br />
<b>"Fair and experienced credit rating and claim review."</b>
<br />
<br />
Blue Book Online Services (BBOS): <a href="www.producebluebook.com">www.producebluebook.com</a>
<br />
<br />
Carol Stream, IL
<br />
&nbsp;&nbsp;BB #164203
<br />
Blue Book Services/Trading
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Assistance.
<br />
&nbsp;&nbsp;845 E Geneva Rd. (60188-2807)
<br />
&nbsp;&nbsp;Phone 630 668-3500
<br />
&nbsp;&nbsp;FAX 630 668-0303
<br />
&nbsp;&nbsp;E-Mail:
<br />
&nbsp;&nbsp;tradingassist@bluebookservices.com
<br />
&nbsp;&nbsp;Doug Nelson, Ext. 738
<br />
&nbsp;&nbsp;Doug E-Mail:
<br />
&nbsp;&nbsp;dnelson@bluebookservices.com
<br />
&nbsp;&nbsp;Cliff Sieloff, Ext. 703
<br />
&nbsp;&nbsp;Cliff E-Mail:
<br />
&nbsp;&nbsp;csieloff@bluebookservices.com
<br />
&nbsp;&nbsp;Marco Campos, Ext. 736
<br />
&nbsp;&nbsp;Marco E-Mail:
<br />
&nbsp;&nbsp;mcampos@bluebookservices.com
<br />
Products & Services:
<br />
&nbsp;&nbsp;Collection Assistance,
<br />
&nbsp;&nbsp;Dispute Resolution
<br />