<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MaxLoadCompanies" value="100"/>    
        <add key="DebugMode" value="true"/>    
   
    </appSettings>
    
    <connectionStrings>
        <add name="SQLServer" connectionString="server=sql.bluebookservices.local;User ID=BBOSBeta;Password=BBOSBeta_1995;Initial Catalog=BBOSBeta;Application Name=ImportCompany;"/>
        <add name="SQLServer2" connectionString="server=(local);User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=ImportCompany;"/>
    </connectionStrings>    
        
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>