<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
        <add key="EMailSMTPServer"             value="smtp.bluebookservices.com" />
    </appSettings>
    
	<connectionStrings>
		<add name="CRM" connectionString="server=qa.sql.bluebookservices.local;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=LumberLeadsImporter;"/>
		<add name="LumberLeads" connectionString="server=qa.sql.bluebookservices.local;User ID=accpac;Password=accpac;Initial Catalog=LumberLeads;Application Name=LumberLeadsImporter;"/>
		<add name="MSAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Projects\PRCo Utils\OKSImport\OKS_OUTPUT_04_11162009.mdb"/>
	</connectionStrings>
</configuration>