BODY
{
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 0.7em;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-image: url(../images/Wallpaper.jpg);
	background-repeat: repeat;
}

A:link
{
    TEXT-DECORATION:none;
    color:Blue;
}
A:visited
{
    TEXT-DECORATION:none;
    color:Blue;
}
A:hover
{
    TEXT-DECORATION:underline;
    color:Blue;
}



#headerIntBottom
{
    BACKGROUND-REPEAT: repeat-x;
    TEXT-ALIGN: right
}
#quickSearchBox
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 6px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc 1px solid
}
FORM
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#attn-top
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    BACKGROUND-IMAGE: url(../../images/attn-orange.gif);
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #f5931d
}
#attn-btm
{
    PADDING-RIGHT: 10px;
    BACKGROUND-POSITION: 50% bottom;
    PADDING-LEFT: 10px;
    BACKGROUND-IMAGE: url(../../images/attn-blue.gif);
    PADDING-BOTTOM: 10px;
    COLOR: #ffffff;
    PADDING-TOP: 10px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: #0f229e
}
#headlines
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
    COLOR: #ffffff;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #336600
}
#headlines A
{
    COLOR: #ffffff
}
#headlines H3
{
    MARGIN-TOP: 0px;
    PADDING-TOP: 0px
}
#subnav
{
    MARGIN: 10px;
    TEXT-ALIGN: center
}
#subnav A
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 20px;
    DISPLAY: inline;
    PADDING-LEFT: 20px;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 11px;
    MARGIN: 0px;
    COLOR: #ffffff;
    PADDING-TOP: 10px;
    HEIGHT: 35px;
    BACKGROUND-COLOR: #1025a2
}
.subnavStart
{
    BACKGROUND-IMAGE: url(../../images/subnav-left.gif);
    BACKGROUND-REPEAT: no-repeat
}
.subnavEnd
{
    BORDER-RIGHT: medium none;
    BACKGROUND-POSITION: right 50%;
    BACKGROUND-IMAGE: url(../../images/subnav-right.gif);
    BACKGROUND-REPEAT: no-repeat
}
.pageTitle
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 0px;
    COLOR: #ffffff;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #1025a2
}
.pageSubTitle
{
    PADDING-RIGHT: 10px;
    BORDER-TOP: #dcddde 1px solid;
    PADDING-LEFT: 15px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #dcddde 1px solid
}
#criteriaHdr
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 25px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    BACKGROUND-IMAGE: url(../images/sidenav-top.gif);
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 35px;
    BACKGROUND-COLOR: #dcddde
}
#criteriaBody
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    BACKGROUND-IMAGE: url(../images/sidenav-bg.gif);
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    BACKGROUND-REPEAT: repeat-y;
}

.bubbleMenu TD A
{
    PADDING-RIGHT: 13px;
    PADDING-LEFT: 13px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 5px;
    TEXT-DECORATION: none;
    BACKGROUND-REPEAT: repeat-y;
}
.bubbleMenu TD A:hover
{
    COLOR: #0066cc;
    BACKGROUND-REPEAT: repeat-y;
}
.bubbleLine
{
    BORDER-RIGHT: #dcddde 1px solid
}


#footer-top
{
    BACKGROUND-REPEAT: repeat-x;
    HEIGHT: 9px;
}
#footer
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    LINE-HEIGHT: 2em;
    TEXT-ALIGN: right;
}
#footer-text
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BACKGROUND-REPEAT: repeat-x;
}
#formtable
{
}
#formtable TD
{
    FONT-SIZE: 11px;
}
.formTableData
{
    FONT-SIZE: 11px;
}

.NewsCategoryHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    FONT-FAMILY: Tahoma,Arial;
}
.NewsHeadline
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    FONT-FAMILY: Tahoma,Arial
}
.NewsItem
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Tahoma,Arial
}
.shaderow
{
    BACKGROUND-COLOR: #e0e0e0
}
.highlightrow
{
    BACKGROUND-COLOR: #ffffcc
}
.colHeader
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #c0c0c0
}
.rowHeader{FONT-WEIGHT: bold;
       background-color: #c0c0c0;
		   text-align:right;
}

.label
{
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right
}
.borInput
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Tahoma,Arial
}
.borButton
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Tahoma,Arial
}
BUTTON
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Tahoma,Arial
}
.Required
{
    FONT-WEIGHT: bold
}
LEGEND
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: Tahoma,Arial
}
.dialog
{
    BACKGROUND-COLOR: #f0f0f0
}
.dialogHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: black;
    FONT-FAMILY: Tahoma,Arial
}
.annotation
{
    FONT-SIZE: 9px
}
.TextBoxNumeric
{
    TEXT-ALIGN: right
}
.Header
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: Tahoma,Arial
}
.SubHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Tahoma,Arial
}
INPUT.smallcheck
{
    VERTICAL-ALIGN: middle;
    WIDTH: 10px;
    HEIGHT: 10px
}
.TopBorder
{
    BORDER-TOP: black thin solid
}
.AboveRange2
{
    COLOR: green
}
.BelowRange2
{
    COLOR: red
}
.AboveRange3
{
    COLOR: white;
    BACKGROUND-COLOR: green
}
.BelowRange3
{
    COLOR: white;
    BACKGROUND-COLOR: #dc143c
}
.notice
{
    FONT-WEIGHT: bold;
    COLOR: red
}
.stdTable
{
    BORDER-TOP: #c0c0c0 thin solid;
    BORDER-BOTTOM-WIDTH: thin;
    BORDER-BOTTOM-COLOR: #c0c0c0;
    BORDER-LEFT: #c0c0c0 thin solid;
    BORDER-RIGHT-WIDTH: thin;
    BORDER-RIGHT-COLOR: #c0c0c0
}
.data
{
    BORDER-TOP-WIDTH: thin;
    BORDER-RIGHT: thin solid;
    PADDING-RIGHT: 1pt;
    PADDING-LEFT: 1pt;
    BORDER-LEFT-WIDTH: thin;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1pt;
    PADDING-TOP: 1pt;
    BORDER-BOTTOM: thin solid
}
.dataHL
{
    BORDER-TOP-WIDTH: thin;
    BORDER-RIGHT: thin solid;
    PADDING-RIGHT: 1pt;
    PADDING-LEFT: 1pt;
    FONT-WEIGHT: bold;
    BORDER-LEFT-WIDTH: thin;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1pt;
    PADDING-TOP: 1pt;
    BORDER-BOTTOM: thin solid;
    BACKGROUND-COLOR: yellow
}
.recentlist
{
    FONT-SIZE: 8pt
}

.CriteriaLabel {margin-left:10px;font-weight:bold;}
.Criteria {margin-left:20px;}


.errorHeader{border-right-style:solid;
	         border-bottom-style:solid;
      	   	 border-width:thin;
	         border-color:#C0C0C0;
	         padding:2pt;
	         font-family:tahoma;
	         font-size:12pt;
	         font-weight:bold;
	         color:White;
	         background-color:#1025a2;}

.errorMessage{border-right-style:solid;
      	     border-bottom-style:solid;
			 border-width:thin;
	         border-color:#C0C0C0;
	         padding:2pt;
	         font-family:tahoma;
	         font-size:11pt;
	         background-color:#E0E0E0}


A.btn-round
{
    PADDING-RIGHT: 22px;
    BACKGROUND-POSITION: right center;
    DISPLAY: inline-block;
    PADDING-LEFT: 1px;
    FONT-SIZE: 10px;
    BACKGROUND-IMAGE: url(../images/btn-bg.gif);
    PADDING-BOTTOM: 10px;
    COLOR: #000000;
    MARGIN-RIGHT: 25px;
    PADDING-TOP: 10px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.btn-round:hover
{
    BACKGROUND-IMAGE: url(../images/btn-bg-over.gif);
    COLOR: #1025a2
}

.DefaultMenuBar {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: auto;
    CURSOR: default;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}

.AppHeader 
{
    COLOR: #1025a2;
    Font-size: 28px;
    font-weight:bold;
}


.PopupLink
{
    FONT-SIZE: 9px;
    color: Blue;
    text-decoration: underline;
    cursor:pointer;
}


.Popup
{
	border: 1px outset #C0C0C0;
	BACKGROUND-COLOR: White;
	Color: Black;
}

.PopupListing
{
	border: 1px outset #C0C0C0;
	BACKGROUND-COLOR: White;
	Color: Black;
	overflow:scroll;
}

.PromoMsg
{
	font-weight:bold;
	font-style:italic;
}

.NumericLabelData 
{
	width:70px;
	text-align:right;
}

.NumericLabelDataTopBorder
{
   border-top : black thin solid;
	width:70px;
	text-align:right;
}

.LabelTopBorder
{
   border-top : black thin solid;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: right;
 }
 
 .PasswordStrengthWeak 
{
	background-Color:red;
	color:White;
	width:100px;
	border: 1px outset #C0C0C0;
}

 .PasswordStrengthAverage 
{
	background-Color:purple;
	color:White;
	width:100px;
	border: 1px outset #C0C0C0;
}
 .PasswordStrengthStrong 
{
	background-Color:blue;
	color:White;
	width:100px;
	border: 1px outset #C0C0C0;
}
 
 .PasswordStrengthExcellent 
{
	background-Color:green;
	color:White;
	width:100px;
	border: 1px outset #C0C0C0;
}

.Icon 
{
	cursor:hand;	
}

.ListingDetails 
{
	font-family:Courier New;
	border: inset;
	font-size:8pt;
}

.CompanyUpdateItem 
{
	font-family:Courier New;
	font-size:8pt;
}

.MsgHightlight 
{
	background-color:Yellow;
	font-weight:bold;	
}	

.SectionHeader {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: Tahoma,Arial
}

.messageBox {
	padding: 8px;
	border-right: 1px solid #DCDDDE;
	border-left: 1px solid #DCDDDE;
}

.messageBoxBottom {
	padding: 8px;
	border-right: 1px solid #DCDDDE;
	border-bottom: 1px solid #DCDDDE;
	border-left: 1px solid #DCDDDE;
}

.news 
{
	font-weight:bold;
}

.newsmorelink:link
{
	color:Blue;
	font-size:7pt;
	font-weight:bold;
}
.newsmorelink:visited
{
	color:Blue;
	font-size:7pt;
	font-weight:bold;
}
.newsmorelink:hover
{
	color:Blue;
	font-size:7pt;
	font-weight:bold;
	text-decoration:underline;
}


A.pageTitle:link
{
	color:White;
}
A.pageTitle:visited
{
	color:White;
}
A.pageTitle:hover
{
	color:White;
	text-decoration:underline;
}


.adcolumn
{
	width:224px;
	border-left: 1px solid #DCDDDE;	
	padding-left: 10px;
	font-family:Arial;
	font-size:8pt;
}