<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="OutputFile"   value="C:\Projects\PRCo Utils\GenerateSalesOrders\bin\Debug\Repeat Orders Import.txt"/>
    <add key="DLFile"   value="C:\Projects\PRCo Utils\GenerateSalesOrders\Missing DL Service.csv"/>

  </appSettings>

  <connectionStrings>
    <add name="SQLServer" connectionString="server=qa.sql.bluebookservices.local;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=GenerateSalesOrders;"/>
  </connectionStrings>
  
</configuration>