<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="TestFax" value="847 680-4777"/>

        <add key="BBSMonitorEventName0" value="PRCo.BBS.BBSMonitor.ExperianBINEvent"/>
<!--
		<add key="BBSMonitorEventName0"			value="PRCo.BBS.BBSMonitor.AUSReportEvent"/>
		<add key="BBSMonitorEventName1"			value="PRCo.BBS.BBSMonitor.AUSSettingsReportEvent"/>
		<add key="BBSMonitorEventName2"			value="PRCo.BBS.BBSMonitor.BBScoreReportEvent"/>
		<add key="BBSMonitorEventName3"			value="PRCo.BBS.BBSMonitor.TESFormFaxEvent"/>
		<add key="BBSMonitorEventName4"			value="PRCo.BBS.BBSMonitor.TransactionListingReportEvent"/>
		<add key="BBSMonitorEventName5"			value="PRCo.BBS.BBSMonitor.FileCleanupEvent"/>
		<add key="BBSMonitorEventName6"			value="PRCo.BBS.BBSMonitor.SendFaxEvent"/>
		<add key="BBSMonitorEventName7"			value="PRCo.BBS.BBSMonitor.JeopardyLetterEvent"/>
		<add key="BBSMonitorEventName8"			value="PRCo.BBS.BBSMonitor.TESNonResponderEvent"/>
		<add key="BBSMonitorEventName9"			value="PRCo.BBS.BBSMonitor.CSSurveyEvent"/>
		<add key="BBSMonitorEventName10"		value="PRCo.BBS.BBSMonitor.RenewAllocationsEvent"/>
        <add key="BBSMonitorEventName0"		value="PRCo.BBS.BBSMonitor.BBScoreImageEvent"/>
        <add key="BBSMonitorEventName0"		value="PRCo.BBS.BBSMonitor.BBScoreExportCombinedEvent"/>
-->

        <!-- General Values-->
		<add key="TemplateFolder" value="E:\Travant2\Git\BBSI\PRCo\BBS Components\BBSMonitor\Templates\"/>
		<add key="CommunicationFrom" value="System"/>
		<add key="WriteReportToDisk" value="true"/>
		<add key="ReportPath" value="E:\Temp\TempReports\"/>  
		<add key="SQLReportPath" value="E:\Temp\TempReports\"/>
        <add key="SendFaxAttachmentFolder" value="E:\Temp\TempReports\"/>

        <!-- BBScoreExportCombined Event Values -->
        <add key="BBScoreExportCombinedInterval" value="1440"/>
        <add key="BBScoreExportCombinedDayOfMonth" value="15"/>
        <add key="BBScoreExportCombinedStartDateTime" value="6/15/2018 12:30 pm"/>
        <add key="BBScoreExportCombinedWriteResultsToEventLog" value="false"/>
        <add key="BBScoreExportCombinedFolder" value="E:\Temp\BBOS Export"/>
        
        
        
        <!-- ARAnalysisReport Event Values -->
        <add key="ARAnalysisReportInterval" 			  value="15"/>
        <add key="ARAnalysisReportStartDateTime" 		  value="2/22/2018 3:49 pm"/>
        <add key="ARAnalysisReportWriteResultsToEventLog" value="false"/>

        <!-- ReferenceListReminder Event Values -->
        <add key="ReferenceListReminderInterval" value="20"/>
        <add key="ReferenceListReminderStartDateTime" value="11/1/2017 3:05 pm"/>
        <add key="ReferenceListReminderWriteResultsToEventLog" value="false"/>
        <add key="ReferenceListReminderMaxReportCount" value="5"/>        
        <add key="ReferenceListReminderLaunchDate" value="8/1/2017"/>        
    
            <!-- BBScoreExport Event Values -->
        <add key="BBScoreExportInterval" value="2"/>
        <add key="BBScoreExportStartDateTime" value="4/2/2017 11:50 am"/>
        <add key="BBScoreExportWriteResultsToEventLog" value="false"/>
        <add key="BBScoreExportFolder" value="E:\Temp"/>
        <add key="BBScoreExportFTPServer" value="ftp://ftp.bluebookservices.com"/>
        <add key="BBScoreExportFTPUsername" value="299330"/>
        <add key="BBScoreExportFTPPassword" value="Ppi*2011~"/>

		<!-- JeopardyLetter Report Values -->
		<add key="JeopardyLetterStartDateTime" value="8/29/2016 10:15 am"/>
		<add key="JeopardyLetterInterval" value="10"/>
		<add key="JeopardyLetterSendResultsToSupport" value="false"/>
		<add key="JeopardyLetterWriteResultsToEventLog" value="true"/>
		<add key="JeopardyLetterSubject" value="Blue Book Services Jeopardy Letter"/>
		<add key="JeopardyLetterAttachmentName" value="JeopardyLetter_{0}.pdf"/>
		<add key="JeopardyLettersDoNotRecordCommunication" value="true"/>
        <add key="JeopardyLetterOccurenceInMonth" value="5"/>
        <add key="JeopardyLetterDayOfWeek" value="1"/>
        <add key="JeopardyLetterMaxReportCount" value="28"/>
    
        <!-- ARReminder Event Values -->
        <add key="ARReminderInterval" value="5"/>
        <add key="ARReminderStartDateTime" value="6/6/2016 3:40 pm"/>
        <add key="ARReminderWriteResultsToEventLog" value="false"/>
        <add key="ARReminderSendResultsToSupport" value="true"/>

        <!-- BBScoreLumberImport Event Values -->
        <add key="BBScoreLumberImportInterval" value="5"/>
        <add key="BBScoreLumberImportStartDateTime" value="04/18/2016 1:30 am"/>
        <add key="BBScoreLumberImportWriteResultsToEventLog" value="true"/>
        <add key="BBScoreLumberImportFolder" value="E:\Temp\BBSI"/>
        <add key="BBScoreLumberImportFTPServer" value="dropbox.opendatagroup.com"/>
        <add key="BBScoreLumberImportFTPUsername" value="cthoms"/>
        <add key="BBScoreLumberImportFTPPassword" value="z2/!14Ab"/>
        <add key="BBScoreLumberImportMoveFTPFile" value="true"/>

        <!-- LocalSourceDataImport Event Values -->
        <add key="LocalSourceDataImportInterval" value="5"/>
        <add key="LocalSourceDataImportStartDateTime" value="4/15/2016 11:42 am"/>
        <add key="LocalSourceDataImportWriteResultsToEventLog" value="false"/>
        <add key="LocalSourceDataImportFolder" value="E:\Temp\BBSI"/>
        <add key="LocalSourceDataImportFTPServer" value="ftp://ftp.bluebookservices.com"/>
        <add key="LocalSourceDataImportFTPUsername" value="meister"/>
        <add key="LocalSourceDataImportFTPPassword" value="Mm$2011!"/>

        <!-- BBScoreLumber Event Values -->
        <add key="BBScoreLumberInterval" value="5"/>
        <add key="BBScoreLumberDayOfMonth" value="27"/>
        <add key="BBScoreLumberStartDateTime" value="6/16/2016 7:48 am"/>
        <add key="BBScoreLumberWriteResultsToEventLog" value="false"/>
        <add key="BBScoreLumberFolder" value="E:\Temp"/>
        <add key="BBScoreLumberFTPServer" value="ftp://ftp.bluebookservices.com"/>
        <add key="BBScoreLumberFTPUsername" value="qa"/>
        <add key="BBScoreLumberFTPPassword" value="fTp~1901"/>
        <add key="BBScoreLumberFTPFileName" value="TransferTestOnly-DO-NOT-USE.zip"/>

        <!-- BBScoreExportCombined Event Values -->
        <add key="BBScoreExportCombinedInterval" value="5"/>
        <add key="BBScoreExportCombinedDayOfMonth" value="1"/>
        <add key="BBScoreExportCombinedStartDateTime" value="5/23/2018 1:00 pm"/>
        <add key="BBScoreExportCombinedWriteResultsToEventLog" value="false"/>
        <add key="BBScoreExportCombinedFolder" value="E:\Temp"/>
        <add key="BBScoreExportCombinedFTPServer" value="ftp://ftp.bluebookservices.com"/>
        <add key="BBScoreExportCombinedFTPUsername" value="qa"/>
        <add key="BBScoreExportCombinedFTPPassword" value="fTp~1901"/>
        <add key="BBScoreExportCombinedLumberFTPFileName" value="TransferTestOnly-Lumber-DO-NOT-USE.zip"/>
        <add key="BBScoreExportCombinedProduceFTPFileName" value="TransferTestOnly-Produce-DO-NOT-USE.zip"/>
        <add key="BBScoreExportCombinedCommandTimeout" value="240" />

        <!-- DeleteCompany Event Values -->
        <add key="DeleteCompanyInterval" value="15"/>
        <add key="DeleteCompanyStartDateTime" value="11/30/2015 8:00 am"/>
        <add key="DeleteCompanyWriteResultsToEventLog" value="false"/>        
        
        <!-- WebServiceKeyExpirationEvent Event Values -->
        <add key="WebServiceKeyExpirationInterval" value="4"/>
        <add key="WebServiceKeyExpirationStartDateTime" value="10/30/2014 2:46 pm"/>
        <add key="WebServiceKeyExpirationThreshold" value="110"/>
        <add key="WebServiceKeyExpirationEmails" value="cwalls@travant.com"/>
        <add key="WebServiceKeyExpirationWriteResultsToEventLog" value="false"/>
        
        
        <!-- ExternalNewsValidationInterval Event Values -->
        <add key="ExternalNewsValidationInterval" value="5"/>
        <add key="ExternalNewsValidationStartDateTime" value="7/28/2016 11:09 am"/>
        <add key="ExternalNewsValidationArticleLimit" value="1000"/>
        <add key="ExternalNewsValidationWriteResultsToEventLog" value="false"/>
        <add key="ExternalNewsValidationSendResultsToSupport" value="true"/>
        

        <!-- ClassificationCountEvent Event Values -->
        <add key="ClassificationCountInterval" value="4"/>
        <add key="ClassificationCountStartDateTime" value="10/30/2014 10:23 am"/>
        

        <!-- ListingReportLetter Event Values -->
        <add key="ListingReportLetterInterval" value="5"/>
        <add key="ListingReportLetterStartDateTime" value="4/25/2018 11:32 am"/>
        <add key="ListingReportLetterSendResultsToSupport" value="false"/>
        <add key="ListingReportLetterWriteResultsToEventLog" value="false"/>
        <add key="ListingReportLetterFolder" value="E:\Temp"/>
        <add key="ListingReportLetterFTPServer" value="ftp://ftp.bluebookservices.com"/>
        <add key="ListingReportLetterFTPUsername" value="qa"/>
        <add key="ListingReportLetterFTPPassword" value="fTp~1901"/>
        <add key="ListingReportLetterMaxCompanyCount" value="999999"/>
        <add key="ListingReportLetterMailHouseEmailAddress" value="cwalls@travant.com"/>
        <add key="ListingReportLetterBBSIEmailAddress" value="cwalls@travant.com"/>
        <add key="ListingReportLetterSendEmail" value="false"/> <!-- For Testing Only -->
        <add key="ListingReportLetterIncludeLogos" value="true"/> <!-- For Testing Only -->
        <add key="LogosFolder" value="\\BHS4\Logos"/>


        <!-- CompanyListingStatus Event Values -->
        <add key="CompanyListingStatusInterval" value="4"/>
        <add key="CompanyListingStatusStartDateTime" value="10/30/2014 10:23 am"/>
        <add key="CompanyListingStatusSendResultsToSupport" value="false"/>
        <add key="CompanyListingStatusWriteResultsToEventLog" value="false"/>

        <!-- ExternalNews Event Values -->
        <add key="ExternalNewsInterval" value="4"/>
        <add key="ExternalNewsStartDateTime" value="10/30/2014 10:23 am"/>
        <add key="ExternalNewsSendResultsToSupport" value="true"/>
        <add key="ExternalNewsWriteResultsToEventLog" value="false"/>


        <add key="ExternalNewsSourceCount" value="4"/>
        <add key="ExternalNewsSourceCode0" value="ANUK"/>
        <add key="ExternalNewsSourceCodeDeleteDaysOld0" value="4130"/>  
        <add key="ExternalNewsSourceCode1" value="DowJones"/>
        <add key="ExternalNewsSourceCodeDeleteDaysOld1" value="1470"/>
        <add key="ExternalNewsSourceCode2" value="MMW"/>
        <add key="ExternalNewsSourceCodeDeleteDaysOld2" value="2780"/>
        <add key="ExternalNewsSourceCode3" value="PN"/>
        <add key="ExternalNewsSourceCodeDeleteDaysOld3" value="3540"/>


        <!-- EmailStatusEvent Event Values -->
        <add key="EmailStatusInterval" value="4"/>
        <add key="EmailStatusStartDateTime" value="5/16/2017 1:42 pm"/>
        <add key="EmailStatusSendResultsToSupport" value="false"/>
        <add key="EmailStatusWriteResultsToEventLog" value="false"/>
        <add key="EmailStatusEndThreshold" value="0"/>
        <add key="EmailStatusStartThreshold" value="24"/>
        <add key="ExchangeProviderWriteEmailToDiskEnabled" value="true"/>
        <add key="ExchangeProviderWriteEmailToDiskPath" value="E:\Temp\bounced"/>
        <add key="ExchangeLogin" value="info@bluebookservices.com"/>

        

        <!-- FaxStatusEvent Event Values -->
        <add key="FaxStatusInterval" value="4"/>
        <add key="FaxStatusStartDateTime" value="10/30/2014 6:56 am"/>
        <add key="FaxStatusSendResultsToSupport" value="false"/>
        <add key="FaxStatusWriteResultsToEventLog" value="false"/>



        <!-- ImageAdVerificationEvent Event Values -->
        <add key="ImageAdVerificationInterval" value="4"/>
        <add key="ImageAdVerificationStartDateTime" value="10/30/2014 6:00 am"/>
        <add key="ImageAdVerificationSendResultsToSupport" value="false"/>
        <add key="ImageAdVerificationWriteResultsToEventLog" value="false"/>
        <add key="ImageAdVerificationThreshold" value="10"/>
        <add key="ImageAdVerificationEmails" value="cwalls@travant.com"/>


        <!-- ExpressUpdateReportProduce Event Values -->
        <add key="ExpressUpdateReportProduceInterval" value="5"/>
        <add key="ExpressUpdateReportProduceStartDateTime" value="10/30/2014 6:02 am"/>
        <add key="ExpressUpdateReportProduceSendResultsToSupport" value="false"/>
        <add key="ExpressUpdateReportProduceWriteResultsToEventLog" value="false"/>
        <add key="ExpressUpdateReportProduceExportFolder" value="E:\Temp\"/>
        <add key="ExpressUpdateReportProduceMaxReportCount" value="5"/>
        

        <!-- CreditSheetReportProduce Event Values -->
        <add key="CreditSheetReportProduceInterval" value="4"/>
        <add key="CreditSheetReportProduceStartDateTime" value="4/20/2018 12:58 pm"/>
        <add key="CreditSheetReportProduceWindow" value="60"/>
        
        <add key="CreditSheetReportProduceSendResultsToSupport" value="false"/>
        <add key="CreditSheetReportProduceWriteResultsToEventLog" value="false"/>
        <add key="CreditSheetReportExportFolder" value="E:\Temp\"/>
        <add key="CreditSheetReportProduceMaxReportCount" value="5"/>
        
        
        
        
        <!-- BBScoreImage Event Values -->
        <add key="BBScoreImageInterval" value="2"/>
        <add key="BBScoreImageStartDateTime" value="8/25/2014 8:07 am"/>
        <add key="BBScoreImageSendResultsToSupport" value="true"/>
        <add key="BBScoreImageWriteResultsToEventLog" value="false"/>
        <add key="BBScoreImageFolder" value="E:\Travant2\Git\BBSI\EBB\BBOS\downloads\BBScore Images"/>

        <!-- Note Reminder Event Values -->
        <add key="NoteReminderInterval" value="2"/>
        <add key="NoteReminderStartDateTime" value="8/25/2014 8:07 am"/>
        <add key="NoteReminderSendResultsToSupport" value="true"/>
        <add key="NoteReminderWriteResultsToEventLog" value="false"/>        
       
        <!-- ResetConnectionListDateEvent Values -->
        <add key="ResetConnectionListDateInterval" value="5"/>
        <add key="ResetConnectionListDateStartDateTime" value="2/2/2014 8:57 am"/>
        <add key="ResetConnectionListDateSendResultsToSupport" value="false"/>
        <add key="ResetConnectionListDateWriteResultsToEventLog" value="false"/>
        
        <!-- SupportedRatingEvent Values -->
        <add key="SupportedRatingInterval" value="5"/>
        <add key="SupportedRatingStartDateTime" value="10/29/2013 9:50 am"/>
        <add key="SupportedRatingSendResultsToSupport" value="false"/>
        <add key="SupportedRatingWriteResultsToEventLog" value="false"/>
        

        <!-- IndustryAverageRatingsEvent Values -->
        <add key="IndustryAverageRatingsInterval" value="5"/>
        <add key="IndustryAverageRatingsStartDateTime" value="9/3/2013 2:15 pm"/>
        <add key="IndustryAverageRatingsSendResultsToSupport" value="true"/>
        <add key="IndustryAverageRatingsWriteResultsToEventLog" value="true"/>
        
        
        

        <!-- Credit Monitor Report Values -->
        <add key="CreditMonitorMaxErrorCount" value="0"/>
        <add key="CreditMonitorMaxReportCount" value="5"/>      <!-- Used for debugging -->
        <add key="CreditMonitorInterval" value="2"/>         <!-- In Minutes-->
        <add key="CreditMonitorStartDateTime" value="11/2/2017 10:58 am"/>
        <add key="CreditMonitorSendResultsToSupport" value="false"/>
        <add key="CreditMonitorSendResultsDetails" value="false"/>
        <add key="CreditMonitorWriteResultsToEventLog" value="false"/>
        <add key="CreditMonitorSubject" value="Blue Book Services Credit Monitor Report"/>
        <add key="CreditMonitorAttachmentName" value="BBSI Credit Monitor Report.pdf"/>
        
        
        
        
    <add key="ImportTaxRatesInterval" value="60"/>
    <add key="ImportTaxRatesStartDateTime" value="5/22/2013 6:35 pm"/>
    <add key="ImportTaxRatesFile" value="D:\Projects\WorkArea2010\WorkArea2010\ZIPSALES.txt"/>
    <add key="ImportTaxRatesOutputFolder" value="D:\Projects\WorkArea2010\WorkArea2010\"/>
    <add key="ImportTaxRatesArchiveFolder" value="D:\Projects\WorkArea2010\WorkArea2010\Archive\"/>

    <add key="ITRArchiveFiles" value="false"/>
    <add key="ITRImportIntoMAS" value="false"/>
    <add key="ITRUpdateCRM" value="true"/>

    <add key="ITRSalesTaxScheduleFileName" value="SY_SalesTaxSchedule.txt"/>
    <add key="ITRSalesTaxScheduleVIJob" value="aa"/>
    <add key="ITRSalesTaxCodeFileName" value="SY_SalesTaxCode.txt"/>
    <add key="ITRSalesTaxCodeVIJob" value="bb"/>
    <add key="ITRSalesTaxCodeDetailFileName" value="SY_SalesTaxCodeDetail.txt"/>
    <add key="ITRSalesTaxCodeDetailVIJob" value="cc"/>
    <add key="ITRGLSalesTaxFileName" value="GL_SalesTax.txt"/>
    <add key="ITRGLSalesTaxVIJob" value="dd"/>

    <add key="ITR_GLACCT_CA" value="2180-00"/>
    <add key="ITR_GLACCT_CT" value="2190-00"/>
    <add key="ITR_GLACCT_FL" value="2200-00"/>
    <add key="ITR_GLACCT_IL" value="2205-00"/>
    <add key="ITR_GLACCT_MA" value="2210-00"/>
    <add key="ITR_GLACCT_MN" value="2220-00"/>
    <add key="ITR_GLACCT_NY" value="2230-00"/>
    <add key="ITR_GLACCT_ND" value="2240-00"/>
    <add key="ITR_GLACCT_PA" value="2250-00"/>

    <add key="CompanySuspensionInterval" value="4"/>
    <add key="CompanySuspensionStartDateTime" value="2/21/2014 9:20 am"/>

    
    <add key="AEImportIntoMAS" value="false"/>
    <add key="AEArchiveFiles" value="false"/>

    
    <add key="AccountingExportInterval" value="60"/>
    <add key="AccountingExportStartDateTime" value="1/26/2017 2:50 pm"/>
    <add key="MASHomeFolder" value="D:\Applications\Sage\ERP\MAS90\Home"/>
    <add key="MASVIBatchJob" value="E:\Temp\Accounting Data\MAS\MASVIJob.bat"/>
    <add key="AccountingExportFolder" value="E:\Temp\Accounting Data"/>
    <add key="AccountingExportArchiveFolder" value="E:\Temp\Accounting Data\Archive"/>

    <add key="AECompanyExportFileName" value="CRMCompanies.txt"/>
    <add key="AECompanyExportVIJob" value="VIWI04"/>
    <add key="AEContactsExportFileName" value="CRMContacts.txt "/>
    <add key="AEContactsExportVIJob" value="VIWI05"/>
    <add key="AECompanyContactsExportFileName" value="CRMCompanyContacts.txt "/>
    <add key="AECompanyContactsExportBatchJob" value="VIWI09"/>
    <add key="AECompanyBillToExportFileName" value="CRMCompanyBillTo.txt "/>
    <add key="AECompanyBillToExportVIJob" value="VIWI06"/>
    <add key="AESOBillToExportFileName" value="CRMSOBillTo.txt"/>
    <add key="AESOBillToExportVIJob" value="VIWI07"/>
    <add key="AESOShipToExportFileName" value="CRMSOShipTo.txt"/>
    <add key="AESOShipToExportVIJob" value="VIWI08"/>

    <add key="AEDLOrdersExportFileName" value="CRMDLOrders.txt"/>
    <add key="AEDLOrdersExportBatchJob" value="E:\temp\MAS\MASVIJob.bat"/>
    <add key="AEDLLineItemsExportFileName" value="CRMDLLineItems.txt"/>
    <add key="AEDLLineItemsExportBatchJob" value="E:\temp\MAS\MASVIJob.bat"/>


    <add key="AEZipCodesFileName" value="ZipCodes.txt"/>
    <add key="AEZipCodesVIJob" value="VIWI07"/>
    <add key="AEZipCodesMASJob" value="CRMZIPCODES"/>

    <add key="AEDLOrdersFileName" value="CRMDLOrders.txt"/>
    <add key="AEDLOrdersVIJob" value="VIWI09"/>
    <add key="AEDLOrdersMASJob" value="SALESORDER"/>

    <add key="AEDLLineItemsFileName" value="CRMDLLineItems.txt"/>
    <add key="AEDLLineItemsVIJob" value="VIWI0A"/>
    <add key="AEDLLineItemsMASJob" value="SALESORDERDTL"/>

    <add key="AEDLQuantityFileName" value="CRMDLQuantity.txt"/>
    <add key="AEDLQuantityVIJob" value="VIWI04"/>
    <add key="AEDLQuantityMASJob" value="CRMDLQUANTITY"/>

    <add key="SalesOrderTaxFileName" value="SalesOrderTax.txt"/>
    <add key="SalesOrderTaxVIJob" value="VIWI0F"/>
    <add key="SalesOrderTaxMASJob" value="SALESORDERTAX"/>

    <add key="BankruptcyReportInterval" value="60"/>
		<add key="BankruptcyReportStartDateTime" value="10/25/2011 1:38 pm"/>
        <add key="BBOSURL" value="http://qa.apps.bluebookservices.com/BBOS/"/>

        <!-- Reporting Services connection Values -->
		<add key="SRSWebServiceRSURL" value="http://azqa.reports.bluebookservices.local/ReportServer/ReportService2005.asmx"/>
		<add key="SRSWebServiceREURL" value="http://azqa.reports.bluebookservices.local/ReportServer/ReportExecution2005.asmx"/>
		<add key="SRSWebServiceUserID" value="rsuser"/>
		<add key="SRSWebServicePassword" value="rs_1901"/>
		<add key="SRSWebServiceDomain" value="Enterprise"/>


		<add key="CreateCaseInterval" value="60"/>
		<add key="CreateCaseStartDateTime" value="01/14/2013 2:25 pm"/>

		<add key="ExpireRatingNumeralInterval" value="60"/>
		<add key="ExpireRatingNumeralStartDateTime" value="9/19/2011 11:40 am"/>		
		
		<add key="PublishLogoInterval" value="60"/>
		<add key="PublishLogoStartDateTime" value="5/5/2011 8:38 am"/>

		<add key="FileMoveInterval" value="5"/>
		<add key="FileMoveStartDateTime" value="6/15/2012 6:41 am"/>
		<add key="FileMoveFolderCount" value="1"/>
		<add key="FileMoveSourceFolderName0" value="E:\temp\a1"/>
		<add key="FileMoveTargetFolderName0" value="F:\Temp"/>

		<add key="PACAImportInterval" value="60"/>
		<add key="PACAImportStartDateTime" value="8/10/2012 6:58 am"/>
    	<add key="PACAImportURL" value="ftp://151.121.3.187/fizzy/"/>
		<add key="PACAImportUserID" value="anonymous"/>
		<add key="PACAImportPassword" value=""/>
		<add key="PACAImportFolder" value="E:\Temp"/>
		<add key="PACAImportTestDateX" value="11-26-2010"/>
		<add key="PACAImportCommitImport" value="true"/>

		<add key="InternetValidationInterval" value="5"/>
		<add key="InternetValidationStartDateTime" value="6/20/2018 8:18 am"/>
		<add key="InternetValidationOccurenceInMonth" value="3"/>
		<add key="InternetValidationDayOfWeek" value="3"/>		
        <add key="InternetValidationMaxCount" value="400"/>		
        
		
		<add key="FaxErrorReportInterval" value="60"/>
		<add key="FaxErrorReportStartDateTime" value="8/15/2016 8:25 am"/>
		
		<add key="CalculatePayIndicatorInterval" value="5"/>
		<add key="CalculatePayIndicatorStartDateTime" value="8/15/2016 8:25 am"/>
		<add key="CalculatePayIndicatorWriteResultsToEventLog" value="false"/>
        <add key="CalculatePayIndicatorSendResultsToSupport" value="true"/>
        <add key="CalculatePayIndicatorIncludeDetailsInResults" value="false"/>
        <add key="CalculatePayIndicatorIncludeARDetailsInResults" value="false"/>

        <add key="CreditSheetReportInterval" value="2"/>
		<add key="CreditSheetReportStartDateTime" value="2/22/2010 9:39 am"/>
		<add key="CreditSheetReportExportFolder" value="E:\Temp"/>
        <add key="CreditSheetReportBBOSFolder" value="E:\Temp"/>
        <add key="CreditSheetReportMaxReportCount" value="5"/>

    <add key="ClassificationCountStartDateTime" value="4/24/2009 12:19 pm"/>
    <add key="ClassificationCountInterval" value="10"/>

    <!-- CSSurvey Values -->
		<add key="CSSurveyStartDateTime" value="12/25/2006 10:00 am"/>
		<add key="CSSurveyInterval" value="1440"/>
		<add key="CSSurveyDayOfWeek" value="Monday"/>
		<add key="CSSurveyResultsToEventLog" value="true"/>
		<add key="CSSurveyResultsToSupport" value="true"/>

		<!-- RenewAllocations Values -->
		<add key="RenewAllocationsStartDateTime" value="12/25/2006 12:01 am"/>
		<add key="RenewAllocationsExecutionDateTime" value="1/1/2007"/>
		<add key="RenewAllocationsInterval" value="1440"/>
		<add key="RenewAllocationsResultsToEventLog" value="true"/>
		<add key="RenewAllocationsResultsToSupport" value="true"/>

		<!-- TESNonResponder Values -->
		<add key="TESNonResponderStartDateTime" value="11/13/2006 8:00 am"/>
		<add key="TESNonResponderInterval" value="1440"/>
		<add key="TESNonResponderResultsToEventLog" value="true"/>
		
		<!-- Send Fax Values -->
		<add key="SendFaxStartDateTime" value="6/30/2014 2:05 pm"/>
		<add key="SendFaxInterval" value="5"/>
		<add key="SendFaxPrinter" value="\\ARTOO\HPFAX"/>
		<add key="SendFaxAttachmentFolder" value="E:\Temp\"/>
		<add key="SendFaxUnknownWho" value="CRM"/>


		<!-- TES Fax Values -->
		<add key="TESFaxMaxErrorCount" value="0"/>
		<add key="TESFaxCount" value="20"/>  	<!-- Used for debugging -->
		<add key="TESFaxStartDateTime" value="4/7/2017 10:19 am"/>
		<add key="TESFaxInterval" value="5"/>		<!-- In Minutes-->
		<add key="TESFaxSubject" value="TES Sent"/>
		<add key="TESFaxCategory" value="R"/>
		<add key="TESFaxSubcategory" value="CI"/>

		<!-- FileCleanup Values -->
		<add key="FileCleanupInterval" value="1440"/> 	<!-- In Minutes-->
		<add key="FileCleanupStartDateTime" value="11/13/2006 8:00 pm"/>
		<add key="FileCleanupFolderCount" value="1"/>
		
		<add key="FileCleanupFolderName0" value="E:\Applications\CRM\WWWRoot\TempReports"/>
		<add key="FileCleanupDeleteThreshold0" value="50400"/> 		<!-- In Minutes-->
		

		<!-- OpenTransactionListing Report Values -->
		<add key="OpenTransactionListingMaxErrorCount" value="0"/>
		<add key="OpenTransactionListingMaxReportCount" value="2"/>  	<!-- Used for debugging -->
		<add key="OpenTransactionListingInterval" value="1440"/>		<!-- In Minutes-->
		<add key="OpenTransactionListingStartDateTime" value="11/13/2006 7:00 am"/>
		<add key="OpenTransactionListingSendResultsToSupport" value="false"/>
		<add key="OpenTransactionListingSendResultsDetails" value="false"/>
		<add key="OpenTransactionListingWriteResultsToEventLog" value="true"/>
		<add key="OpenTransactionListingSubject" value="BBS Open Transaction Report"/>
		<add key="OpenTransactionListingAttachmentName" value="OpenTransactionReport.pdf"/>


		<!-- BBScore Report Values -->
		<add key="BBScoreMaxErrorCount" value="0"/>
		<add key="BBScoreMaxReportCount" value="2"/> 	<!-- Used for debugging -->
		<add key="BBScoreInterval" value="1440"/>	<!-- In Minutes-->
		<add key="BBScoreStartDateTime" value="4/27/2017 3:47 pm"/>
		<add key="BBScoreDayOfMonth" value="20"/>
		<add key="BBScoreSendResultsToSupport" value="false"/>
        <add key="BBScoreReportCount" value="2"/>
        
        <add key="BBScoreSendResultsDetails" value="false"/>
		<add key="BBScoreWriteResultsToEventLog" value="true"/>
		<add key="BBScoreSubject" value="Blue Book Services BB Score Report"/>
		<add key="BBScoreAttachmentName" value="BBScore_Report.pdf"/>
		<add key="BBScoreExportAttachmentName" value="BBScore_Export.csv"/>


		<!-- AUS Report Values -->
		<add key="AUSMaxErrorCount" value="0"/>
		<add key="AUSMaxReportCount" value="8"/>			<!-- Used for debugging -->
		<add key="AUSInterval" value="10"/>  		<!-- In Minutes-->
		<add key="AUSStartDateTime" value="9/8/2015 1:55 pm"/>
		<add key="AUSSendResultsToSupport" value="true"/>
		<add key="AUSSendResultsDetails" value="true"/>
		<add key="AUSWriteResultsToEventLog" value="false"/>
		<add key="AUSSubject" value="Blue Book Services AUS Report"/>
		<add key="AUSAttachmentName" value="AUS_Report_{0}_{1}.pdf"/>
		<add key="AUSMonitoredCompanyID" value="0"/>

		<!-- AUS Settings Report Values -->
		<add key="AUSSettingsMaxErrorCount" value="0"/>
		<add key="AUSSettingsMaxReportCount" value="4"/>	<!-- Used for debugging -->
		<add key="AUSSettingsInterval" value="1440"/> 	<!-- In Minutes-->
		<add key="AUSSettingsStartDateTime" value="3/20/2013 5:11 pm"/>
		<add key="AUSSettingsExecutionDateTime" value="1/15/2007"/>
		<add key="AUSSettingsSendResultsToSupport" value="false"/>
		<add key="AUSSettingsWriteResultsToEventLog" value="true"/>
		<add key="AUSSettingsSubject" value="Blue Book Services AUS Settings Report"/>
		<add key="AUSSettingAttachmentName" value="AUS_Setting_Report_{0}_{1}.pdf"/>

		<!-- ExperianBIN Event Values -->
		<add key="ExperianBINInterval" value="1"/>
		<add key="ExperianBINStartDateTime" value="9/4/2018 4:05 pm"/>

        <!-- Settings for the trace facility -->
		<add key="TraceServiceProvider" value="TSI.Utils.FileLogger"/>
		<add key="TraceFileName" value="E:\Travant2\Git\BBSI\PRCo\BBS Components\BBSMonitor\bin\Debug\BBSMonitor Trace.txt"/>
		<add key="TraceErrorFileName" value="E:\Travant2\Git\BBSI\PRCo\BBS Components\BBSMonitor\bin\Debug\BBSMonitor Error.txt"/>
		<add key="TraceLevel" value="1"/>
		<add key="TraceEnabled" value="true"/>
		<add key="TraceTriggerMode" value="1"/>  		<!-- 0=None, 1=FileSize, 2=Interval -->
		<add key="TraceFileSizeThreshold" value="2097152"/>  	<!-- In Bytes -->
		<add key="TraceFileIntervalThreshold" value="1440"/> 		<!-- In Minutes -->
		<add key="TraceMaxFilesToKeep" value="4"/>
		<add key="TraceEventLogEnabled" value="false"/>

		<!-- Must have four replacements.  They are:
		0 = Timestamp
		1 =	User ID
		2 = Request Name
		3 = Message
	     -->
		<add key="TraceMessageFormat" value="{0}|{2}|{3}"/>
		<add key="TraceTimestampFormat" value="yyyy-MM-dd HH:mm:ss:fff"/>


		<!-- Settings for Email -->
		<add key="EmailSubjectPrefix" value="[WallsTest] "/>
		<add key="EmailSupportFrom" value="cwalls@travant.com"/>
		<add key="EmailSupportTo" value="cwalls@travant.com"/>
		<add key="EMailSMTPServer" value="smtp.bluebookservices.com"/>
	</appSettings>

    <connectionStrings>
        <add name="TSIUtils" connectionString="server=azqa.sql.bluebookservices.local;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=BBOSMonitor;" providerName="TSI.DataAccess.DBSQLServerProvider"/>
    </connectionStrings>

    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>


    <system.net>
        <settings>
            <httpWebRequest useUnsafeHeaderParsing="true"/>
        </settings>
    </system.net>
</configuration>
