<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="LaunchBrowserOnError" value="true"/>
		<add key="MaxErrors" value="2"/>

		<add key="TestConnectionString" value="server=SQL01;User ID=accpac;Password=accpac;Initial Catalog=EBBCRM;Application Name=Listing Tests;"/>
		<add key="ControlConnectionString" value="server=CRM1;User ID=accpac;Password=2006PIKS1204;Initial Catalog=CRM;Application Name=Listing Tests;"/>

		<add key="CompanyIDList" value="102030,100268,100368,100126"/>
		
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
