.wpmi-item img {
    max-width: 220px;
    padding-bottom: 20px;
}
.featured_post {
	margin: 0;
}
.tweeter-info .time {
	display: block;
	padding-left: 60px;
}
.tweeter-info .fts-right {
	padding-left: 0 !important;
}
.widget-title {
	margin-top: 0!important;
}
@media (max-width: 600px) {
	#main .sidebar {
		display: none;
	}
}