<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>


		<!-- Settings for the DB Access facility -->
		<add key="DBAccessProvider" value="TSI.DataAccess.DBSQLServerProvider"/>
		<add key="DBConnectionString"    value="server=SQL01;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=BBOS Communicator;"/>
		<add key="UseVarChar1ForBool" value="true"/>
		<add key="SaveUsesSQLParameters" value="true"/>
		<add key="UsesAuditFields" value="true"/>
		<add key="UsesIdentity" value="false"/>
		<add key="UsesOptLock" value="false"/>


		<add key="CompanyIDList" value="113366, 118561, 113001, 120491, 111872, 153501, 115102, 122205, 100367, 169864, 189389, 145705, 128800, 123537, 145622, 163863, 195173, 172524, 151546, 124987, 204515, 163628, 156704, 113369, 106327, 121061, 188926, 194793, 162117, 145770, 162458, 145299, 172891, 171789, 194439, 112868, 128923, 157155, 169336, 172545, 158011, 113035, 157178, 111910, 102175, 147157, 141488, 169611, 110066, 170450, 205800, 172865, 164906, 158895, 191839, 153087, 191761, 172945, 205369, 130905, 197715, 171036, 150533, 190333, 204687, 171029"/>

		<add key="FaxTemplateFile" value="Template.txt"/>

		<add key="EmailContentType" value="TEXT"/>
		<add key="EmailTemplateFile" value="Template.txt"/>
		<add key="EmailSubject" value="New BBOS Access Management"/>
		
		<add key="TempReportsFolder" value="Y:\Applications\CRM\WWWRoot\TempReports"/>
		<add key="BBOSAccessMgmtURL" value="http://localhost/BBOSUsers/"/>
		<add key="BBOSAccessMgmtURLWithCreds" value="http://localhost/BBOSUsers/?l={0}&amp;p={1}"/>

		<add key="BBOSAccessMgmtURL2" value="http://sql01/Website/BBOSUsersManagement/"/>
		<add key="BBOSAccessMgmtURLWithCreds2" value="http://sql01/WebSite/BBOSUsersManagement/Login.aspx?BBID={0}&amp;Password={1}"/>

	</appSettings>
</configuration>