/* Webfont: BurfordDropShadow */@font-face {
    font-family: 'BurfordDropShadow';
    src: url('BurfordDropShadow.eot'); /* IE9 Compat Modes */
    src: url('BurfordDropShadow.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BurfordDropShadow.woff') format('woff'), /* Modern Browsers */
         url('BurfordDropShadow.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BurfordDropShadow.svg#BurfordDropShadow') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

