<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DBConnectionString" value="server=qa.sql.bluebookservices.local;Password=accpac;User ID=accpac;Initial Catalog=CRM;Application Name=BBOSMonitor;"/>

		<add key="NewsProviderClassName0" value="PRCo.BBOS.ExternalNews.DowJonesNewsProvider"/>



        <add key="NewsProviderLogPath" value="C:\Temp"/>
        <add key="DowJonesToken" value="S00YcJpZXJs0WNb2tmnOHmnM96qN9UuMpar5DByWWNK2FfYSdMmVqv8McrBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEA"/>
		<add key="DowJonesURL" value="http://api.dowjones.com/api/1.0"/>
		<add key="DowJonesArticleSearchService" value="/Content/search/XML?QueryString=fds:{1}{2}&amp;sourcegenre=newssites|websites&amp;EncryptedToken={0}"/>
		<add key="DowJonesCompanySearchService" value="/Company/search/xml?Name={1}&amp;SearchOperator={2}&amp;EncryptedToken={0}"/>

		
		<add key="DowJonesArticleCacheTimelimit" value="240"/> <!-- In Minutes-->
		<add key="DowJonesXMLFilePath" value="C:\Temp"/>
		<add key="DowJonesAlwaysWriteXMLToDisk" value="true"/>
		<add key="DowJonesSaveMatchedFile" value="true"/>
		<add key="DowJonesSaveUnmatchedFile" value="true"/>
		<add key="DowJonesSaveArticleFile" value="true"/>
		<add key="DowJonesRetryCount" value="3"/>
		<add key="DowJonesExceptionSleeep" value="1000"/>

		<add key="DowJonesExcludeSourceCode0" value=""/>
		<add key="DowJonesExcludeSourceCodeStartDate0" value=""/>


	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
