<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CommitChanges" value="false"/>
    
  </appSettings>

  <connectionStrings>
    <add name="CRM" connectionString="server=WAS1;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=OKSLeadImporter;"/>
    <add name="LumberLeads" connectionString="server=Dev1;User ID=accpac;Password=accpac;Initial Catalog=LumberLeads;Application Name=OKSLeadImporter;"/>
	<add name="MSAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Temp\BB_Phase10_Max_Attempts_Phase6-8_910_Records.mdb"/>
  </connectionStrings>
</configuration>
