<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
    <!-- General Values-->
    <add key="TraceServiceProvider" value="TSI.Utils.FileLogger"/>
		<add key="TraceLevel" value="20"/>
		<add key="TraceEnabled" value="true"/>
		<add key="TraceMessageFormat" value="{0}|{3}"/>
		<add key="TraceTimestampFormat" value="yyyy-MM-dd HH:mm:ss:fff"/>		

		<add key="SaveUsesSQLParameters" value="true"/>
		<add key="UsesAuditFields" value="false"/>
		<add key="UsesIdentity" value="false"/>
		<add key="UsesOptLock" value="false"/>

    <add key="CampaignRootPath" value="D:\Travant\Git\BBSI\EBB\BBOS\Campaigns"/>
  </appSettings>

	<connectionStrings>
			<add name="TSIUtils" connectionString="server=qasql.bluebookservices.local;Password=BBOS_1995;User ID=BBOS;Initial Catalog=CRM;Application Name=BBOS;" providerName="TSI.DataAccess.DBSQLServerProvider" />
			<add name="DBConnectionStringFullRights" connectionString="server=qasql.bluebookservices.local;Password=accpac;User ID=accpac;Initial Catalog=CRM;Application Name=BBOS;" providerName="TSI.DataAccess.DBSQLServerProvider" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
