<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="LicenseKey" value="BlueBookServices"/>
    <add key="LicenseKeyPassword" value="VeggieT@les"/>
    <add key="UserEmail" value="cwalls@travant.com"/>
    <add key="UserPassword" value="Blu3B0ok"/>
  </appSettings>

  
  <system.serviceModel>
	  <bindings>
    <basicHttpBinding>
     <binding name="Blue Book Web ServicesSoap" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="2147483647"/>
     <binding name="Blue Book Web ServicesSoap1" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="2147483647"/>
    </basicHttpBinding>
   </bindings>

	  <behaviors>
		  <endpointBehaviors>
			  <behavior name="LargeEndpointBehavior">
				  <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647"/>
			  </behavior>
		  </endpointBehaviors>
	  </behaviors>
	  <client>
    <endpoint address="http://localhost/bbwebservices/BBOSServices.asmx" binding="basicHttpBinding" bindingConfiguration="Blue Book Web ServicesSoap1" contract="BBServices.BlueBookWebServicesSoap" name="Blue Book Web ServicesSoap"/>
   </client>
    </system.serviceModel>

<!--
		<system.diagnostics>
			<sources>
				<source name="System.ServiceModel"
						switchValue="Information, ActivityTracing"
						propagateActivity="true">
					<listeners>
						<add name="traceListener"
							type="System.Diagnostics.XmlWriterTraceListener"
							initializeData= "C:\Projects\EBB\BBOSWebServiceClient\bin\Debug\Traces.svclog" />
					</listeners>
				</source>
			</sources>
		</system.diagnostics>
-->		
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
