<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString"    value="server=SQL01;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=BBOS Conversion;"/>
		<add key="CompanyIDList" value="102030,100268,100368,100126"/>
	</appSettings>
</configuration>