BODY
{
	background: #EDEDE1;
	-webkit-overflow-scrolling: touch;
}
.MAINBODY
{
	background: #EDEDE1;
}
.MenuBody
{	
	background: #EDEDE1 url(Themes/Img/default/backgrounds/MenuVerticalLine.jpg) right repeat-y;
}
.Logo
{
	background: url(Themes/Img/default/Logo/ewaretopleft.jpg);
}
.Splash
{
	vertical-align: middle;
}
.RECENTBODY
{
	background: url(Themes/Img/default/backgrounds/recentbackground.jpg);
}
.LOGINBACK
{
	background: url(Themes/Img/default/backgrounds/loginbackground.gif);
}
.LOGINBOX
{
	background: #006699;
}
.MENUITEM
{
	color: black;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
}
.MENUSUBITEM
{
	color: black;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.MENUITEMLINE
{
	background: url(Themes/Img/default/backgrounds/MenuItemLine.jpg) center no-repeat;
	color: white;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
}
.MENUTOPFADE
{
	background: url(Themes/Img/default/backgrounds/MenuTopFade.gif) top repeat-x;
}
MENUBLANKLINE
{
	background: url(Themes/Img/default/backgrounds/MenuBlankLine.jpg) repeat-y;
}
.MENUITEM2
{
	color: #003D72;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
}
.workflow
{
	background: #F7F7F7;
}
.TOPRIGHTBODY
{
	background: url(Themes/Img/default/backgrounds/topright.jpg) fixed right center no-repeat;
}
.TOPBODY
{
	background: url(Themes/Img/default/backgrounds/top.jpg) fixed right center no-repeat;
}
.TOPBODY_OTL
{
	background: #F2F2F2 url(Themes/Img/default/logo/ewaretopleft.png) fixed left center no-repeat;
}
.TOPCAPTION
{
	color: #FFFDC3;
	font-family: Tahoma,Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.TOPBC
{
	color: #FFFDC3;
	font-family: Tahoma,Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
.TOPHEADING
{
	color: white;
	font-family: Tahoma,Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.RECENTTEXT
{	
	color: white;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
}
.VIEWTODAY
{
	background: url(Themes/Img/default/buttons/viewtodaymiddle.gif) repeat-x;
	color: black;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
}
.TOPSUBHEADING
{
	color: white;
	font-family: Tahoma,Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.TOPSELECTUSER
{
	background: white;
	color: #006699;
	font-family: Tahoma,Arial;
	font-size: 12px;
	font-weight: bold;
}
.TOPREPORTSELECTUSER
{
	background: white;
	color: black;
	font-family: Tahoma,Arial;
	font-size: 12px;
	font-weight: bold;
}
.TOPSELECTCHANNEL
{
	background: white;
	color: #006699;
	font-family: Tahoma,Arial;
	font-size: 12px;
	font-weight: bold;
}
.SEARCHBODY
{
	color: #6795C3;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
}
.JUMPSTARTs
{
	background: white;
	color: navy;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
}
.TABLEHEAD
{
	background: #F7F7F7;
	color: #003B71;
	font-family: Tahoma,Arial;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.TABLEHEADNOBACK
{
	color: #003B71;
	font-family: Tahoma,Arial;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.TABLEHEAD3
{
	background: #EDEDE1;
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.TABLEHEADBLANK
{
	background: #EDEDE1;
	font-family: Verdana;
	font-size: 10px;
	text-decoration: none;
}
.BeigeBG
{
	background: #EDEDE1;
}
.GRIDHEAD
{
	background: #6795C3;
	color: white;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
}
.ROW1
{
	background: url(Themes/Img/default/backgrounds/Listrow1.gif);
	color: BLACK;
	font-family: Verdana;
	font-size: 11px;
	font-weight: light;
	vertical-align: top;
}
.REDROW1
{
	background: url(Themes/Img/default/backgrounds/Listrow1.gif);
	color: RED;
	font-family: Verdana;
	font-size: 11px;
	font-weight: light;
	vertical-align: top;
}
.BOLDREDROW1
{
	background: url(Themes/Img/default/backgrounds/Listrow1.gif);
	color: RED;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
}
.SIMPLEGRIDBOLD
{
	background: #F7F7F7;
	color: #6795C3;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
}
.SIMPLEGRIDCONTENT
{
	background: #F7F7F7;
	color: black;
	font-family: Verdana;
	font-size: 11px;
	vlink: yellow;
}
.reprow1
{
	background: url(Themes/Img/default/backgrounds/Listrow1.gif);
	color: #003D72;
	font-family: Verdana;
	font-size: 13px;
	font-weight: light;
	vertical-align: top;
}
.reprow2
{
	background: url(Themes/Img/default/backgrounds/ListRow2.gif);
	color: #003D72;
	font-family: Verdana;
	font-size: 13px;
	font-weight: light;
	vertical-align: top;
}
.SENDOPT
{
	color: #6795C3;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
}
.VIEWBOX
{
	background: #F7F7F7;
	color: black;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: light;
	vlink: yellow;
}
.ViewBoxBG
{
	background: url(Themes/Img/default/backgrounds/accpacwhite.gif);
	color: black;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: light;
	vlink: yellow;
}
.VIEWBOX2
{
	background: url(Themes/Img/default/backgrounds/Listrow1.gif);
	color: BLACK;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: light;
}
.TABLEHEAD2
{
	background: url(Themes/Img/default/backgrounds/Listrow1.gif);
	color: black;
	font-family: Tahoma,Arial;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.VIEWBOXCAPTION
{
	color: #6795C3;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
}
.OtlToolsPluginInstallation
{
	color: #6795C3;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
}
.VIEWBOXCAPTIONHIGHLIGHT
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
}
.ROW2
{
	background: url(Themes/Img/default/backgrounds/ListRow2.gif);
	color: BLACK;
	font-family: Verdana;
	font-size: 11px;
	font-weight: light;
	vertical-align: top;
}
.REDROW2
{
	background: url(Themes/Img/default/backgrounds/ListRow2.gif);
	color: RED;
	font-family: Verdana;
	font-size: 11px;
	font-weight: light;
	vertical-align: top;
}
.BOLDREDROW2
{
	background: url(Themes/Img/default/backgrounds/ListRow2.gif);
	color: RED;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
}
.EDIT
{
	background: white;
	color: black;
	font-family: Tahoma,Arial;
	font-size: 11px;
}
.GRAYEDEDIT
{
	background: white;
	color: #808080;
	font-family: Tahoma,Arial;
	font-size: 11px;
}
.MOSTRECENT
{
	background: white;
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	width: 95px;
}
.NEWPOPUP
{
	background: #F7F7F7;
	color: white;
	font-family: Tahoma,Arial;
	font-size: 11px;
	left: expression(document.body.scrollLeft);
	position: absolute;
	top: expression(document.body.scrollTop);
	visibility: hidden;
	width: 170px;
	z-index: 1001;
}
.RECENTPOPUP
{
	background: #F7F7F7;
	font-family: Tahoma,Arial;
	font-size: 11px;
	left: expression(document.body.scrollLeft);
	position: absolute;
	top: expression(document.body.scrollTop);
	visibility: hidden;
	width: 260px;
	z-index: 1001;
}
.RECENTITEM
{
	color: black;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
}
.RECENTHEAD
{
	color: white;
	font-family: Tahoma,Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.COMPANYPOPUP
{
	background: url(Themes/Img/default/backgrounds/ListRow2.gif);
	color: white;
	font-family: Tahoma,Arial;
	font-size: 11px;
	left: 490px;
	position: absolute;
	top: 100px;
	visibility: hidden;
	width: 275px;
}
.ZOOMPOPUP
{
	background: #EDEDE1;
	color: blue;
	font-family: Tahoma,Arial;
	font-size: 11px;
	left: 45px;
	position: absolute;
	top: 20px;
	visibility: hidden;
	width: 150px;
}
.ZOOMPOPUP0
{
	left: 0;
	overflow: auto;
	position: relative;
	top: 0;
	visibility: visible;
	width: 150px;
}
.ZOOMPOPUP1
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	left: 0;
	overflow: auto;
	position: relative;
	top: 0;
	visibility: visible;
	width: 300px;
}
.ZOOMPOPUP2
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	left: 0;
	overflow: auto;
	position: relative;
	top: 0;
	visibility: visible;
	width: 300px;
}
.ZOOMPOPUP2A
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	left: 0;
	overflow: auto;
	position: relative;
	top: 0;
	visibility: visible;
	width: 300px;
}
.ZOOMPOPUP4
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	left: 0;
	overflow: auto;
	position: relative;
	top: 0;
	visibility: visible;
	width: 840px;
}
.ZOOMHEADING
{
	color: #003D72;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	vertical-align: top;
}
.MOSTRECENTPOPUP
{
	background: white;
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	width: 295px;
}
.TABON
{
	background: #EDEDE1 url(Themes/Img/default/backgrounds/HorizontalOnTab.jpg) top repeat-x;
	color: #324350;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.TABOFF
{
	background: #00639C url(Themes/Img/default/backgrounds/HorizontalOffTab.jpg) top repeat-x;
	color: white;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
}
.ROWGap
{
	font-family: Verdana;
	font-size: 12px;
}
.Button
{
	color: #003D72;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.WFBUTTON
{
	color: #6795C3;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.DashBoard
{
	background: url(Themes/Img/default/backgrounds/dashboardwhite.gif);
	font-size: 1px;
}
.DashHead
{
	background: url(Themes/Img/default/backgrounds/dashboardhead.jpg);
	color: white;
	font-family: Tahoma,Arial;
	font-size: 16px;
	font-weight: bold;
	height: 25px;
	text-align: center;
}
.DashPanel
{
	background: url(Themes/Img/default/backgrounds/dashpanelbackground.gif);
	text-align: left;
}
.DashButton
{
	color: black;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
}
.DashPH
{
	background: lightgrey;
	color: black;
	font-family: Tahoma,Arial;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.DashPanTab
{
	background: url(Themes/Img/default/backgrounds/dashpanelbackground.gif);
	border-bottom: solid lightgrey 1px;
	border-left: solid lightgrey 1px;
	border-right: solid lightgrey 1px;
	text-align: left;
}
.DDFIELDSTABLE
{
	border-bottom: solid 1px #6795C3;
	border-left: solid 1px #6795C3;
	border-right: solid 1px #6795C3;
	border-top: solid 1px #6795C3;
}
.Notification
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 12px;
}
.NotificationSel
{
	bgcolor: yellow;
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 10px;
}
.ButtonItem
{
	color: black;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
	word-break: keep-all;
}
.ButtonMenu
{
	color: #003D72;
	color: #00B000;
	font-family: Tahoma,Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.SmallButtonItem
{
	color: #6795C3;
	font-family: Tahoma,Arial;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}
.SMALLBUTTONITEMGO
{
	color: white;
	font-family: Tahoma,Arial;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}
.FilterButtonItem
{
	background: #F7F7F7;
	color: black;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
}
.CONTENT
{
	background: #F7F7F7;
}
.CalContent
{
	background: white;
	border-width: 1pt;
}
.WORKCONTENT
{
	background: url(Themes/Img/default/backgrounds/workflowbackground.gif);
}
.CONTENT_LPADDING
{
	background: url(Themes/Img/default/backgrounds/Listrow1.gif);
	padding-left: 4px;
}
.EDITLIST
{
	background: url(Themes/Img/default/backgrounds/Listrow1.gif);
	color: #336633;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
}
.ErrorContent
{
	background: crimson;
	color: white;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.ErrorContent2
{
	background: crimson;
	color: white;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.WarningContent
{
	background: #cc66cc;
	color: white;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.InfoContent
{
	background: #6775E3;
	color: white;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.SelectPageBody
{
	background: url(Themes/Img/default/backgrounds/graymarble.gif);
}
.CALENDARITEM
{
	background: white;
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.OTLCALENDARTDEMPTY
{
	background: lightgrey;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.OTLCALENDARTDCURRTIMEEMPTY
{
	background: lightgrey;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.OTLCALENDARTDFILLED
{
	background: #EDEDE1;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
	vertical-align: top;
}
.OTLCALENDARTDCURRTIMEFILLED
{
	background: lightgrey;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
	vertical-align: top;
}
.OTLCALENDARTDTIME
{
	background: lightgrey;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.OTLCALENDARTDCURRTIMETIME
{
	background: gray;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.OTLCALENDARTR
{
	background-color: white;
	height: 34px;
}
.NOWCALENDARITEM
{
	background: lightgrey;
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.NOWCALENDARITEMNORMAL
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.NOWCALENDARITEMBOLD
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
}
.LATECALENDARITEM
{
	background: white;
	color: red;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.CALENDARURL
{
	text-decoration: none;
}
.CALENDARHEAD
{
	background: #6795C3;
	color: white;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
}
.CALENDARHEADING1
{
	color: black;
	font-family: Tahoma,Arial;
	font-size: 11px;
}
.CALENDARLISTBG
{
	background: url(Themes/Img/default/backgrounds/CalendarListBackground.gif);
}
.addbutton
{
	color: green;
	font-family: Tahoma,Arial;
	font-size: 11px;
}
.CustomList
{
	background: #EEEEFF;
	color: #003D72;
	font-family: arial;
	font-size: 13px;
}
.ReportSelections
{
	background: white;
	color: black;
	font-family: Tahoma,Arial;
	font-size: 11px;
	width: 200px;
}
.fly
{
	color: #0000ff;
	font-family: arial;
	font-size: 24px;
	position: absolute;
	visibility: hidden;
	z-index: 2;
}
.DiagonalText
{
	color: #003D72;
	font-family: Verdana;
	font-size: 11px;
	position: absolute;
	visibility: hidden;
}
.GRAYEDTEXT
{
	background: #F7F7F7;
	color: #808080;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
}
.VIEWRULE
{
	background: #F7F7F7;
	color: #338433;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
}
.VIEWSTATE
{
	background: #F7F7F7;
	color: #331233;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
}
.ACTIONGRIDEDGE
{
	background: url(Themes/Img/default/backgrounds/gridheadbackground.gif);
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 1px;
	text-align: center;
	text-decoration: none;
}
.EDITBUTTON
{
	background-color: #336699;
	border: solid;
	border-style: outset;
	border-width: thin;
	color: white;
	cursor: default;
	padding: 2px;
}
.PANELEFTCORNER
{
	background: url(Themes/Img/default/backgrounds/paneleftcorner.jpg) bottom no-repeat;
}
.PANEREPEAT
{
	background: url(Themes/Img/default/backgrounds/panerepeat.jpg) bottom repeat-x;
	color: #003D72;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.PANERIGHTCORNER
{
	background: url(Themes/Img/default/backgrounds/panerightcorner.gif) bottom no-repeat;
}
.TABTITLE
{
	color: #003D72;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.VERTICALTAB
{
	background: #00639C url(Themes/Img/default/backgrounds/VerticalJoinMiddleTabRepeat.gif) repeat-y;
	background-position-x: center;
}
.VERTICALTABOFF
{
	background: #00639C url(Themes/Img/default/backgrounds/VerticalJoinMiddleTabOff.jpg) top no-repeat;
	background-position-x: center;
}
.VERTICALTABON
{
	background: #00639C url(Themes/Img/default/backgrounds/VerticalJoinMiddleTabOn.gif) top no-repeat;
	background-position-x: center;
}
.VFIRSTLEFTONTAB
{
	background: #EDEDE1 url(Themes/Img/default/backgrounds/VerticalFirstLeftOnTab.gif) no-repeat;
}
.VFIRSTLEFTOFFTAB
{
	background: #00639C url(Themes/Img/default/backgrounds/VerticalFirstOffTab.gif) repeat-y;
}
.TABLEBORDERLEFT
{
	background: #F7F7F7 url(Themes/Img/default/backgrounds/tabletopborder.gif) left repeat-y;
}
.TABLEBORDERRIGHT
{
	background: #F7F7F7 url(Themes/Img/default/backgrounds/tabletopborder.gif) right repeat-y;
}
.TABLEBORDERBOTTOM
{
	background: #F7F7F7 url(Themes/Img/default/backgrounds/tabletopborder.gif) repeat-x;
}
.TABLETOPBORDER
{
	background: url(Themes/Img/default/backgrounds/TableTopBorder.gif) bottom repeat-x;
	color: #003D72;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.VFIRSTLEFTOFFTAB
{
	background: #00639C url(Themes/Img/default/backgrounds/VerticalFirstOffTab.gif) repeat-y;
}
.TABBOTTOM
{
	background: url(Themes/Img/default/backgrounds/tabbottomfade.gif) repeat-x;
}
.TABBOTTOMON
{
	background: url(Themes/Img/default/backgrounds/tabonbottomfade.jpg) repeat-x;
}
.TABBOTTOMOFF
{
	background: url(Themes/Img/default/backgrounds/taboffbottomfade.jpg) center repeat-x;
}
.WEBLINK
{
	color: #003B72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
}
.CalHeading
{
	color: black;
	font-family: Tahoma,Arial;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
}
.EMAILLINK
{
	color: #003B72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
}
.InstallHeader
{
	color: #003B72;
	font-family: Tahoma,Arial;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}
.InstallExplanation
{
	color: #003B72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
}
.InstallSteps
{
	color: #003B72;
	font-family: Tahoma,Arial;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.AdminHomeName
{
	color: #003B72;
	font-family: Tahoma,Arial;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.AdminHomeDescription
{
	color: #003B72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
}
.AdminHeader
{
	color: #003B72;
	font-family: Tahoma,Arial;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}
.AdminHeaderDesc
{
	color: #003B72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-style: italic;
	text-decoration: none;
}
.AdminMedium
{
	color: #003B72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.BLOCKTITLE
{
	background: #EDEDE1;
	color: #003D72;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.SearchSelectTied
{
	background: url(Themes/Img/default/backgrounds/ListRow2.gif);
	border-color: #6795C3;
	border-style: solid;
	border-width: 1px;
	color: #003B72;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 12px;
	height: 100%;
	overflow: auto;
	text-decoration: none;
	width: 100%;
}
.SearchSelectText
{
	background: url(Themes/Img/default/backgrounds/ListRow2.gif);
	color: #003B72;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 12px;
	text-decoration: none;
	width: 100%;
}
.SearchSelectTextR
{
	background: #316ac5;
	color: white;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 12px;
	text-decoration: none;
	width: 100%;
}
.SearchSelectPopup
{
	background: url(Themes/Img/default/backgrounds/ListRow2.gif);
	border-color: #6795C3;
	border-style: solid;
	border-width: 1px;
	color: #003B72;
	cursor: hand;
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 9px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	text-decoration: none;
	width: 100%;
}
.DashboardTitle
{
	color: black;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 15px;
	text-align: center;
	text-decoration: none;
}
.DashboardColumn
{
	background: #CDDBEB;
	color: #6791C3;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
}
.DashboardContentBorder
{
	background: white;
	border-color: #B0C4DE;
	border-style: solid;
	border-width: 1px;
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.DashboardEditBorder
{
	border-color: #B0C4DE;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	width: 100%;
}
.DashboardContentHeader
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	margin-bottom: 5px;
	text-align: left;
	text-decoration: none;
}
.DashboardContentItem
{
	background: white;
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.DashboardContentList
{
	background: white;
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.DashboardButtonsField
{
	background-color: #F7F7F7;
	border-color: #B0C4DE;
	border-style: solid;
	border-width: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
	padding-right: 2px;
	padding-top: 2px;
}
.DashboardShowAll
{
	color: blue;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}
.TOMREPEAT
{
	background: url(Themes/Img/default/backgrounds/panerepeat.jpg) top repeat-x;
	color: #003D72;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.DashboardTitle2
{
	color: black;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
}
.EmptyBlock
{
	background: #F7F7F7;
	height: 8px;
	padding-left: 5px;
	padding-right: 5px;
}
.FullBlock
{
	background-color: #F7F7F7;
	margin-bottom: 10px;
	margin-top: 5px;
}
.DashboardCalendarItem
{
	color: black;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
}
.DashboardCalendarDate
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
}
.DashboardCalendarTime
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: 500;
	text-align: left;
	text-decoration: underline;
}
.DashboardTitle3
{
	color: black;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.CoachingCaptionInlineLink
{
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	font-weight: bold;
}
.CoachingCaptionTitle
{
	background: #EDEDE1;
	color: #003D72;
	font-family: Tahoma,Arial;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
}
.CoachingTitle2
{
	background-color: #F7F7F7;
	color: #003D72;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.CoachingCaptionBody
{
	background: url(Themes/Img/default/backgrounds/ListRow2.gif);
	border-top-color: #B0C4DE;
	border-top-style: solid;
	border-width: 1px;
	cellpadding: 3px;
	color: #003B72;
	font-family: Verdana;
	font-size: 11px;
	line-height: 15px;
	padding: 8px;
	text-align: left;
	text-decoration: none;
}
.CoachingCaptionBody2
{
	background: url(Themes/Img/default/backgrounds/ListRow2.gif);
	cellpadding: 3px;
	color: #003B72;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
	padding: 8px;
	text-align: left;
	text-decoration: none;
}
.KeywordTips
{
	color: #003B72;
	font-family: Tahoma,Arial;
	font-size: 11px;
	text-decoration: none;
}