.VIEWBOXTEXT { font-family: Tahoma,Arial; font-size: 11px; color: black; }
.ListingBak { background: #EDEDE1; color: black; font-family: Arial; text-decoration: none; text-align: left; font-size: 10px; font-weight: bold; padding-left:10px; text-indent:-5px}
.ListingIndentBak { background: #F7F7F7; color: black; font-family: Arial; text-decoration: none; text-align: left; font-size: 10px; font-weight: bold; padding-left:10px; }
.Listing {  color: black; font-family: Arial; text-decoration: none; text-align: left; font-size: 10px; font-weight: bold; }
.CONTENT p { margin:4px; border:0; padding:0; line-height:12px; }
.CommodityLine {  color: black; font-family: Arial; text-decoration: none; text-align: left; font-size: 13px; font-weight: bold; }
.CommoditySelected {background: blue !important; color: white !important;}
.CommodityUnselected {background: #F7F7F7; color: black;}

.RowSelected { background: blue; color: white; font-family: Verdana; font-size: 13px; vertical-align: middle;}
.RowNotSelectable {
    background: red;
    color: white;
    font-family: Verdana;
    font-size: 13px;
    vertical-align: top;
    font-weight: lighter;
}

tr.thinRow  td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.SearchMatch { background: yellow; color: black;}

input.smallcheck {  vertical-align:middle; height: 10px; width: 10px; } 

.CSTAEDIT{background:white ;color:black;font-family: Courier; font-size: 6px; }
.MessageContent2{background:#FFFF00;color:black;font-family: Verdana; text-decoration:none;text-align:center;font-size: 11px; font-weight:bold;}
.MessageContent3 {
    background: #ADD8E6;
    color: black;
    font-family: Verdana;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    margin-left: auto; margin-right: auto;
    font-weight: bold;
}
.MessageContent4 {
    background: red;
    color: white;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.MessageContent{background:#FFFFFF;
                border: thin solid gray; 
                color: green;
                font-family: Verdana; 
                text-decoration:none;
                text-align:center;
                font-size: 12px; 
                margin-left:auto;margin-right:auto;
                font-weight:bold;}

a img { border: none;}


.errorHeader{border-right-style:solid;
	         border-bottom-style:solid;
      	   	 border-width:thin;
	         border-color:#C0C0C0;
	         padding:2pt;
	         font-family:tahoma;
	         font-size:12pt;
	         font-weight:bold;
	         color:White;
	         background-color:#1025a2;}

.errorMessage{border-right-style:solid;
      	     border-bottom-style:solid;
			 border-width:thin;
	         border-color:#C0C0C0;
	         padding:2pt;
	         font-family:tahoma;
	         font-size:11pt;
	         background-color:#E0E0E0}

.WarningContent
{
	background: #cc66cc; 
	color: white;
	font-family: Tahoma, Arial;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.Popup {
    background: #fff;
    padding: 12px;
    border: 4px solid #dfdfdf;
    /*-- border: 10px solid rgb(16, 37, 162);--*/
    float: left;
    font-size: 12pt;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    margin-top: 5px;
    text-align:left;	font-family:'abel', Arial, Helvetica, sans-serif;
    
    /*--CSS3 Box Shadows--*/
    -webkit-box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #999;
    box-shadow: 0px 0px 10px #999;
    
    /*--CSS3 Rounded Corners--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ButtonItem
{
	cursor: pointer;
	font-family: Tahoma,Arial;
	font-size: 11px;
    font-weight:normal;
}

.DisplayNone{
    display: none!important;
}

.GRIDHEAD_ALT a, .GRIDHEADLINK_ALT a {
    padding: 0;
    text-decoration: underline;
}

.GRIDHEAD_ALT, .GRIDHEADLINK_ALT {
    background: khaki;
    color: black;
    height: 27px;
    padding: 0 7px;
    white-space: nowrap;
    font: 500 13px Arial;
}

.GRIDHEAD_ALT {
    border-top: 3px solid #FFF;
    border-left: none;
    border-right: 1px solid #dadada;
    padding: 0 0 0 7px !important;
}

.VIEWBOX > .EDIT {
    /* USI GM: 9/13/21 */
    /* white-space: nowrap; */
    white-space: pre-wrap !important;
    overflow-wrap: break-word !important;
}