<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
        <add key="MatchFile"   value="D:\Projects\BBSI\PRCo Utils\CSGMatch\bin\Debug\26018.csv"/>
    </appSettings>

    <connectionStrings>
        <add name="SQLServer" connectionString="server=azqa.sql.bluebookservices.local;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=CSGMatch;"/>
    </connectionStrings>

</configuration>