<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <connectionStrings>
        <add name="TSIUtils" connectionString="server=qa.sql.bluebookservices.local;Password=BBOS_1995;User ID=BBOS;Initial Catalog=CRM;Application Name=BBOS;" providerName="TSI.DataAccess.DBSQLServerProvider"/>
        <add name="DBConnectionStringFullRights" connectionString="server=qa.sql.bluebookservices.local;Password=accpac;User ID=accpac;Initial Catalog=CRM;Application Name=BBOS;" providerName="TSI.DataAccess.DBSQLServerProvider"/>
    </connectionStrings>

    <appSettings>

        <add key="TermsAndConditionsVersion" value="2015-01-01"/>
        <add key="TermsAndConditionsFile" value="D:\Projects\BBSI\EBB\EBB\en-us\templates\Terms.html"/>
        

        <!-- Settings for the DB Access facility -->
        <add key="ExecuteReaderCommandTimeout" value="300"/>
        <add key="UseVarChar1ForBool" value="true"/>
        <add key="SaveUsesSQLParameters" value="true"/>
        <add key="UsesAuditFields" value="true"/>
        <add key="UsesIdentity" value="false"/>
        <add key="UsesOptLock" value="false"/>

        <!-- Settings for the trace facility -->
        <add key="TraceServiceProvider" value="TSI.Utils.FileLogger"/>
        <add key="TraceFileName" value="D:\Source\BBSI\BBOSMobileServices\BBOSMobileServices.Tests\BBOS Trace.txt"/>
        <add key="TraceErrorFileName" value="D:\Source\BBSI\BBOSMobileServices\BBOSMobileServices.Tests\BBOS Error.txt"/>
        <add key="TraceLevel" value="1"/>
        <add key="TraceEnabled" value="true"/>
        <add key="TraceTriggerMode" value="1"/>
        <!-- 0=None, 1=FileSize, 2=Interval -->
        <add key="TraceFileSizeThreshold" value="2097152"/>
        <!-- In Bytes -->
        <add key="TraceFileIntervalThreshold" value="1440"/>
        <!-- In Minutes -->
        <add key="TraceMaxFilesToKeep" value="4"/>
        <add key="TraceEventLogEnabled" value="false"/>
        <add key="TraceEventLogSource" value="BBOS"/>
        <add key="TraceEventLogName" value="Application"/>

        <!-- Settings for exception support -->
        <add key="EMailSupportEnabled" value="false"/>
        <add key="EMailSupportAddress" value="support@travant.com"/>
        <add key="EMailSupportSubject" value="BBOS Exception (local)"/>
        <add key="EMailSupportAttachLogFile" value="false"/>
        <!-- Must have four replacements.  They are:
        0 = Timestamp
        1 =  User ID
        2 = Request Name
        3 = Message
            -->
        <add key="TraceMessageFormat" value="{0}|{1}|{2}|{3}"/>
        <add key="TraceTimestampFormat" value="yyyy-MM-dd HH:mm:ss:fff"/>

        <!-- Settings for the various system generated e-mails -->
        <add key="EMailEnabled" value="false"/>
        <add key="EMailSMTPServer" value="remote.travant.com"/>
        <add key="EMailSMTPServerAuthenticate" value="true"/>
        <add key="EMailSMTPUserName" value="cwalls"/>
        <add key="EMailSMTPPassword" value="xxx"/>
        <add key="EMailFromAddress" value="qa.bluebookservices@bluebookservices.com"/>
        <add key="EMailFromName" value="PRCo EBB"/>
        <add key="EmailWriteToFileEnabled" value="true"/>
        <add key="EmailFilePath" value="C:\Projects\EBB\EBB\Email\"/>

        <!-- Security/Login Settings -->
        <add key="EncryptionProvider" value="TSI.Security.SimpleEncryption"/>
        <add key="EncryptionKey" value="0O0jql1$"/>

    </appSettings>


    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
            </dependentAssembly>
        </assemblyBinding>
        </runtime>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
