	.overrideOld {text-decoration: line-through;}
	.overrideNew {color:Green;}
	.overrideDescription {color:green;margin-top:5px;padding: 5px;font-size:1.15em; width:300px;border:thin solid green;box-shadow: 5px 5px 5px #888888;}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	table tbody tr {
		padding: 0;
	}
	table tbody td {
		border-bottom: 0;
		background-color: transparent !important;
	}
	table tbody, table tfoot, table thead, table tbody tr {
		border: none;
		background-color: transparent !important;
	}
	.smalltable td.listing {
		padding: 15px;
		text-align: center !important;
	}
	.smalltable thead, .smalltable td, .smalltable th {
		vertical-align: middle;
		width: 100%;
		padding: 0;
	}
	td, td img {
		vertical-align: top;
	}
	td {
		font-weight: normal;
		vertical-align: top;
	}
	.smalltable td.column1 {
		width: auto;
		white-space: nowrap;
		padding-right: 10px;
		text-align: right;
		vertical-align: middle;
	}
	.landingpage {
		width: 100%;
	}
	.internal {
		padding: 10px;
		color: black;
	}
	
	.internal p {
		margin: 10px 0;
	}

	article, aside, figure, footer, header, hgroup, nav, section {
		display: block;
	}
	
	.smalltable thead, .smalltable td, .smalltable th {
		text-align: left;
		vertical-align: middle;
		width: 100%;
	}
	td, td img {
		vertical-align: top;
	}
	td {
		font-weight: normal;
		vertical-align: top;
	}
	.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}
	.col-sm-4 {
		width: 33.33333333%;
	}
	.col-sm-7 {
		width: 58.33333333%;
	}
	h2 {
		font: 1.9em "Crimson Text", serif !important;
		color: #0055a5;
		margin-bottom: 15px !important;
		line-height: 1.1 !important;
	}
	.col-sm-7 h2 {
		font: 1.2em "Crimson Text", serif !important;
	}

	#BBOSPublicProfilesMain_pnlButtonsProduce .button, .sidebarbutton, .landingbutton {
		border: 1px solid #00305e;
		border-radius: 3px;
		box-shadow: inset 0 1px 0 0 #0a7ce8;
		color: white;
		display: inline-block;
		font-size: inherit;
		font-weight: bold;
		background-color: #0055a5;
		background-image: -webkit-linear-gradient(#0055a5, #00386d);
		background-image: linear-gradient(#0055a5, #00386d);
		padding: 7px 18px;
		text-decoration: none;
		text-shadow: 0 1px 0 #002649;
		background-clip: padding-box;
		font: 0.9em "helvetica_neuemediumcond", "Helvetica", Arial, serif;
			font-size: 0.9em;
		text-transform: uppercase;
		margin-top: 10px;
		text-align: center;
		width: 100%;
	}
	a {
		margin: 0;
			margin-top: 0px;
		padding: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
			background-color: transparent;
			background-image: none;
			background-clip: border-box;
	}
	#robly_embed_signup h2 {
		font: 800 14px 'Work Sans', sans-serif !important;
		color:black;
	}
	footer.site-footer .produce_reporter {
		font-family: BurfordDropShadow !important;
		font-weight: 100 !important;
		font-size: 34pt !important;
		color: white;
	}
	.grid-container, article {
		padding: 0 !important;
	}
	article {
		margin-top: 20px;
	}
	.medium-4.column.sidebar {
		margin-top: 40px !important;
	}
	.col-sm-7 {
		width: 63.8%;
		padding-left: 0;
	}
	@media (max-width: 600px) {
		.col-xs-12 {
			width: 100%;
		}
		table tbody td {
			background-color: transparent !important;
		}
		#slider-id .date {
			margin-top: 10px;
		}
	}
	
	@media (max-width: 800px) {
		body #BBSIBNContent01, body #BBSIBNContent01 img, body #BBSIBNContent04, body #BBSIBNContent04 img {
			max-width: 260px !important;
			margin: 0 auto !important;
		}
	}
	.addtoany_share_save_container {display:none !important;}
	
	footer {
		display:none;
		margin-top: 40px;
	}