.AutoCompleteFlyout
{
    cursor: pointer;
    height: 120px;
    padding: 10px 0 0 0;
    border: solid 1px gray; 
    overflow:auto;   
    background-color:#ffffff;
    font-family: "helvetica_neuemediumcond", "Helvetica", Arial, serif;
}

.AutoCompleteFlyoutItem
{
    color: Black;
    border-bottom: solid 1px gray;
    font-family: "helvetica_neuemediumcond", "Helvetica", Arial, serif;
}

.AutoCompleteFlyoutShadeItem
{
    color: Black;
    border-bottom: solid 1px gray;
    background-color:#e0e0e0;
    font-family: "helvetica_neuemediumcond", "Helvetica", Arial, serif;    
}

.AutoCompleteFlyoutHilightedItem
{
    color: Black;
    font-weight: bold;
    border-bottom: solid 1px gray;
    font-family: "helvetica_neuemediumcond", "Helvetica", Arial, serif;
}    
        
A {color:Black;text-decoration:none;}

.searchIcon 
{
    background: url(../images/search-icon.jpg) left center no-repeat;
    padding-left:15px;
}

.bottomPanel {
	background-repeat: no-repeat;
	margin: 12px;
	font-weight:bold;
	color: #333333;
	font-weight: normal;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: justify;
	vertical-align: middle;
	line-height: 1.3;
	height:120px;
	background:url(../images/Widget_seal.jpg) center center no-repeat;
}

