<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CompanyIDList" value="211289,211286"/>

    <add key="EmailPause"      value="5"/>
    <add key="EmailPauseEvery" value="200000"/>

    <add key="DBConnectionString"    value="server=SQL01;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=Lumber PreLaunch Communicator;"/>

    <add key="EmailContentType" value="TEXT"/>
    <add key="EmailTemplateFile" value="Template.txt"/>
    <add key="EmailSubject" value="BBOS Publishable Information"/>

    <add key="TempReportsFolder" value="C:\Temp\TempReports"/>
    <add key="SQLReportsFolder" value="D:\Applications\CRM\WWWRoot\TempReports"/>

    <add key="SRSWebServiceURL"      value="http://SQL01/ReportServer/ReportService.asmx"/>
    <add key="SRSWebServiceUserID"   value="rsuser"/>
    <add key="SRSWebServicePassword" value="rs_1901"/>
  </appSettings>
</configuration>