<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PRCO.BBS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <appSettings>
        <!-- Reporting Services connection Values -->
        <add key="SRSWebServiceRSURL" value="http://qareports.bluebookservices.local/ReportServer/ReportService2005.asmx"/>
        <add key="SRSWebServiceREURL" value="http://qareports.bluebookservices.local/ReportServer/ReportExecution2005.asmx"/>
        <add key="SRSWebServiceUserID" value="rsuser"/>
        <add key="SRSWebServicePassword" value="rs_1901"/>
        <add key="SRSWebServiceDomain" value="Enterprise"/>
    </appSettings>


    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <PRCO.BBS.Properties.Settings>
            <setting name="BBSReportInterface_ReportService_ReportingService2005"
                serializeAs="String">
                <value>http://reports.bluebookservices.com:80/ReportServer/ReportService2005.asmx</value>
            </setting>
            <setting name="BBSReportInterface_ReportExecution_ReportExecutionService"
                serializeAs="String">
                <value>http://reports.bluebookservices.com:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
        </PRCO.BBS.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
