@import 'bourbon';

.wrap {width: 960px; margin: 0 auto;}

@mixin btn-params($color){background:$color; padding: 4px 15px; text-transform: uppercase; margin: 0 5px; border-radius: 5px; font: 1.2em $helli;}

.btn-white {
	a{@include btn-params($white); color:$blue; border: 1px solid $blue; text-decoration: none; @include transition(all .2s ease-in-out);
 		&:hover{color: $grey;}
	}
}
.btn-blue{
	a{@include btn-params($blue); color:$white; text-decoration: none; @include transition(all .2s ease-in-out);
		&:hover{color:$grey;}
	}	
}

h1{font: 1.9em $crimson; color:$blue;}
h2{font: 1.9em $crimson; color:$blue; margin-bottom: 15px;}
h3{font: 1.4em $crimson; color:$red;}

.left {float:left;}
.right {float: right;}

.search-form{margin-left: 5px; margin-bottom: 10px;
	#s{background-image: url(imgs/search-icon.jpg); background-position: 5px center; background-repeat: no-repeat; border: 1px solid $grey; cursor: pointer; height: 30px; margin: 3px 0; padding: 0 0 0 25px; width: 100%;}
}

.button{@include button($blue); font: .9em $helli; text-transform: uppercase; margin-top: 10px; text-align: center; width:100%;
		span{font-size: 2em; text-shadow:  0px -1px 0px #000; display: block;}
	}

.rgt-sidebar{ padding: 20px; border: 1px solid rgba(0,0,0,0.1); *border: 1px solid #000; //margin-right: 25px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
	p{font: 1.1em/1.5em $hellilgt; color:$black; margin: 10px 0;}
	.aligncenter {display:block; margin:5px auto;}
	ul { margin-left: 25px;
		li {font: 1.1em $hellilgt; color:$black; list-style-type: disc; margin-bottom: 10px;}
	}
}

header{ margin-bottom: 45px;
	background: url('imgs/header-bg.jpg') repeat-x; height:174px; padding-top: 26px; //border-bottom: 1px solid #CAD5E0;
	form div {margin-bottom: 15px;}
	.nav{text-transform: uppercase; width:100%; font: 1.4em $hellilgt; letter-spacing:.1em; margin: 15px auto 5px auto;
			a{text-decoration: none; color:$grey; display: block; padding:5px; position: relative; @include transition(all .2s ease-in-out);
				&:hover{color:$blue;}
			}
		ul {position:relative;
			li {margin: 0px 25px; display: inline-block; *display:inline; zoom:1;
				&:hover{background:url('imgs/up-arrow.png') center 28px no-repeat; height:45px;}
					&:hover > ul { display:block;
						li{background:none;}
					}
				}
			}
		.sub-menu {display:none; position: absolute; z-index:10; left:0px; width: auto; padding-top: 17px;
			li{font-size: .9em !important; padding-right: 5px !important; margin:0 !important;}
		}
		#menu-item-259 > ul{left:420px; /* targeting the about us submenu */ } 
	}
}

#nivo{height:auto;}

.home-membership {width: 600px; padding: 10px; border: 1px solid rgba(0,0,0,0.1); *border: 1px solid #000;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	h3{font-size: 1.7em;}
	ul > li {float:left; width:288px; margin: 15px 0px; font-size: 1em;
		a{color:$red; text-decoration: none; @include transition(.2s ease-in-out);
		&:hover{color: $blue;}
		}
	}
		
}

.news {width: 300px; padding: 10px; font: 1.1em/1.2em $hellilgt; color:$black;
	article{margin-bottom: 20px;
		 a {color:$red; text-decoration: none; font: 1em $helli;}
	}
	span {color:$drkgrey;}
	p{ 
	.button{@include button($blue); font-size: 1em;}
	}
}

.internal{width: 625px; float: left; padding: 10px; font: 15px/1.5em $hellilgt; color:$black;
	p{margin: 10px 0;}
	ul { margin-left: 25px;
		li {color:$black; list-style-type: disc; margin-bottom: 10px;}
	}
	strong, b {font-family: $helli;}
}

.entry {
	td {padding:10px;}
}

.items-module {
	div {float: left; margin-right: 6px;}
	img{border: 1px solid $grey;}
	h3{color:$blue;
		a {color:$blue; text-decoration: none;}
	} 
}

.int-sidebar{ width: 310px; @extend .rgt-sidebar;}

.cat-sidebar {padding: 15px; border: 1px solid rgba(0,0,0,0.1); *border: 1px solid #000; margin-right: 25px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); width: 215px;
	.cat-select{height: 34px; overflow: hidden; background: $blue; border-radius: 5px; font: 1.2em $helli; margin-bottom: 10px;
	select{background: url(imgs/dropdown-arrow.png) no-repeat 7px 11px $blue; width: 268px;  border: 0; height: 34px; color:$white; margin-bottom: 15px; font-family: inherit; text-transform: uppercase; @include appearance(none); padding: 5px 5px 5px 30px; }
	}
	ul > li {margin-bottom: 10px; font: 1.2em $hellilgt;
		a{color: $grey; text-decoration: none; @include transition(all .2s ease-in-out);
			&:hover{color:$blue;}
		}
	}
}

.news-col{float:left; width: 480px; margin-right: 25px; font-family: $hellilgt;}

.featured{margin-bottom: 20px; width:454px; height:242px; position: relative;
	a{color:$red; text-decoration: none; @include transition(all .2s ease-in-out);
			&:hover {color:$blue;}
		}
	span{background: rgba($white, 0.9); padding: 10px; display: block; position: absolute; bottom:0;width:454px;}
	h2{margin-bottom: 2px;}
	h3{font: 1.1em $hellilgt; color:$black;
		a{font-family:$helli;}
	}
}

.news-index{ border-top: 1px solid $grey; padding-top: 15px;
	article {margin-bottom: 25px; font-size: 1.2em;
		a{color:$red; text-decoration: none; @include transition(all .2s ease-in-out);
			&:hover {color:$blue;}
		}
		h2{font: 1.3em $helli;}
		p{line-height: 1.6em;}
	}	
}

.entry-content {border-bottom: 1px solid $grey;padding-bottom: 20px; margin-bottom: 15px; font-size: 1.2em;
	h1{color:$red; font-size:1.8em;}
	h2{color:$black; font-size: 1.3em; line-height:1.2em;}
	p{line-height: 1.6em; margin-bottom: 15px;}
	img{margin-bottom: 10px;}
}

.author-blurb{ border-top: 1px solid $grey; padding-top: 20px; margin-top: 20px;
	p{font-size: .9em; font-style:italic; margin: 0;}
}

.byline{margin-bottom: 10px; display: block; font-size: .9em; }

.cat {
	a{text-decoration: none; color: $red;}
}

.post-related{
	div{float: left; width: 200px; margin-right: 20px;}
	h3{color:$blue; margin-bottom: 5px;}
	ul > li{margin-bottom: 5px;}
	a{color:$red; text-decoration: none; font-size: 1.1em; @include transition(.2s ease-in-out);
		&:hover{color: $blue;}
	}
}

.news-sidebar {width: 213px; @extend .rgt-sidebar;}

.result{ margin-bottom: 20px; border-bottom: 1px solid $grey; padding-bottom: 15px;}

.industry-title { margin-bottom: 10px; font-weight: bold;
	span{margin-right: 3px;}
	a{text-decoration: none; color: $black;}
}

.industry-content {
	padding-bottom: 15px; border-bottom: 1px solid $grey; margin-bottom: 15px;
	td{padding: 15px;}
}

.why-join {
	ul > li {float:left; width:625px; margin: 5px 0px; list-style: none;  list-style-position: inside;}
	a{color:$red; text-decoration: none; @include transition(.2s ease-in-out);
		&:hover{color: $blue;}
	}
}

.top-banner {
	margin-bottom: 30px;
	height: auto;
}

#footer {box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);padding: 20px; margin-top: 20px; font: 14px $helli; color:$drkgrey; text-transform: uppercase; border: 1px solid rgba(0,0,0,0.1); *border: 1px solid #000;
		a{font: 14px $helli; color:$drkgrey; text-decoration: none; @include transition(all .2s ease-in-out);
				&:hover {color:$blue;}
		}
	.menu {width:40em; -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; column-width: 108px;
		li {float:left\9; margin: 0 0 10px 0; width: 10em\9;}
	}
	.login {padding: 15px 10px 15px 40px ; border-left: 1px solid $grey; text-align: center;
		ul{margin-bottom: 10px;
			li{display: inline-block; padding: 0 10px;}
		}
		.join{border-left: 1px solid $grey; 
			a{color:$lgtblue;
				&:hover{color:$blue;}
			}
		}
	small{font: 14px $hellilgt; text-transform: none;}
	}
}