table{
	width:100%;
	font: 13px/1.4em "helvetica_neuelightcond", "Helvetica", Arial, serif;
}

th{
	white-space:nowrap;
}

.articlediv table{
	width:100%;
}
.smalltable td.column1{
	width:auto;
	white-space: nowrap;
	padding-right:10px;
	text-align:right;
}
.smalltable td.listing{
	padding: 15px;
	text-align: center!important;
	img{ padding:0 auto;
	}
}
.joninternal{
	width:67.3%;
}
.smalltable thead, td, th{
	text-align: left;
	vertical-align:middle;
	width:100%;
}
.tradingmember{
	padding:10px 0;
	text-align: center;
	img{ padding:0 auto;
	}
}
.tradeassociation{
	padding:10px 0;
	text-align: center;
	img{ padding:0 auto;
	}
}
.articleheader{
	padding:0 7px;
	margin: 0 0px;
	font-size:1em;
	font-weight: bold;
}
.articlediv{
	width:100%;
	border:1px solid grey;
	padding:5px 10px;
	margin: 10px 0;
	display:block;
}

thead {
	display: table-header-group;
	background: $drkgrey;
	color: white;
}

.articlediv tbody tr:nth-child(even) {
	background: #eee;
}

.sidebarbutton{
	font-size: 1.2em;
	@extend .button;
}

.listingnav{text-transform: uppercase; width:100%; font: .9em $hellilgt; letter-spacing:.05em; margin: 0;
	a{text-decoration: none; color:$grey; display: block; padding:0; position: relative; @include transition(all .2s ease-in-out);
		&:hover{color:$blue;}
	}
	ul {position:relative; margin-left: 0px;
		li {padding: 7px 14px; display: inline-block; *display:inline; zoom:1;
		&:hover > ul { display:block;
			li{background:none;}
		}
	}
}
		.sub-menu {display:none; position: absolute; z-index:10; left:0; width: 100%; padding-top: 17px;}
}

.currentsubnav {
	border-radius: 3px;
	display: inline-block;
	background-color: #0055a5;
	background-clip: padding-box;
	font: 1em "helvetica_neuemediumcond", "Helvetica", Arial, serif;
	text-transform: uppercase;
	text-align: center;
	a{color:white;
		&:hover{
			color:white;
		}
	}
}
.left33{
	@extend .left;
	width:30%;
}
.landingpage{
	width:100%;
}
.halfleft{
	float:left;
	width: 48.5%;
	margin-right:10px;
/*	padding: 15px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);*/
	margin-bottom:0px;
}
.halfright{
	@extend .halfleft;
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
.headercompany{
	//@extend .header;
	margin-bottom: 15px;
	.wrap{
		.right { margin-top: 27px }
	}
}
.landingbutton{
	@extend .button;
	display: block;
	margin: 10px auto 0 auto;
	width: 270px;
	font-size:1.35em;
}
.callout{
/*	text-transform:uppercase;*/
	font-size: 1.5em;
	weight: strong;
	line-height: 1.5em;
}
.centerer {
	vertical-align: middle;
	margin: 0 auto;
	display:block;
}
.internal {
	ul {
		overflow: hidden;
		li {
			list-style-position: inside
		}
	}
}
.alreadymember {
	text-align:center;
	padding-bottom: 10px;
	font: 15px/1.5em $hellilgt;
}

#footer .landing {
	padding-top:0px;
	padding-bottom:0px;
}
.inputcenterer {
	width: 50%;
	margin: 0 auto;
}
.inputtitle{
	font-size: 1.2em;
	width: 20%;
	display:inline-block;
	margin-right:0%;
	margin-left:4.5%;
}
.inputinput{
	font-size: 1.2em;
	width: 69%;
	display:inline-block;
	margin-right:4.5%;
}
.registertitle{
	@extend .inputtitle;
	font-size:1em;
	width: 33%;
	margin-right:5%;
	margin-left:0;
}
.registerinput{
	@extend .inputtitle;
	font-size:1em;
	width:50%;
	margin-right:0;
}
