@import url(http://fonts.googleapis.com/css?family=Radley);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,700);

@font-face {
    font-family: 'helvetica_neuelightcond';
    src: url('fonts/helveneuligcon-webfont.eot');
    src: url('fonts/helveneuligcon-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveneuligcon-webfont.woff') format('woff'),
         url('fonts/helveneuligcon-webfont.ttf') format('truetype'),
         url('fonts/helveneuligcon-webfont.svg#helvetica_neuelightcond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neuemediumcond';
    src: url('fonts/helveneumedcon-webfont.eot');
    src: url('fonts/helveneumedcon-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveneumedcon-webfont.woff') format('woff'),
         url('fonts/helveneumedcon-webfont.ttf') format('truetype'),
         url('fonts/helveneumedcon-webfont.svg#helvetica_neuemediumcond') format('svg');
    font-weight: normal;
    font-style: normal;
}


$rad: 'Radley', serif;
$crimson: 'Crimson Text', serif;
$helli: 'helvetica_neuemediumcond', 'Helvetica', Arial, serif;
$hellilgt: 'helvetica_neuelightcond', 'Helvetica', Arial, serif;