<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EnterpriseSuspendedMsg" value="The user account's access to the BBOS has been suspended.  Please call customer service at 630-668-3500 for assistance."/>
    <add key="GetListingDataForAllCompaniesStartWindowHour" value="5"/>
    <add key="TestFilePath" value="D:\Source\BBSi\EBB\BBOSWebService\TestFiles\"/>
    <add key="IsTestInstance" value="false"/>
    <add key="LogCompanyCountThrehsold" value="1000"/>

      <!-- Reporting Services connection Values -->
      <add key="SRSWebServiceRSURL" value="http://reports.bluebookservices.local/ReportServer/ReportService2005.asmx" />
      <add key="SRSWebServiceREURL" value="http://reports.bluebookservices.local/ReportServer/ReportExecution2005.asmx" />
      <add key="SRSWebServiceUserID" value="rsuser" />
      <add key="SRSWebServicePassword" value="rs_1901" />
      <add key="SRSWebServiceDomain" value="Enterprise" />

      <!-- Settings for the DB Access facility -->
    <add key="UseVarChar1ForBool" value="true"/>
    <add key="SaveUsesSQLParameters" value="true"/>
    <add key="UsesAuditFields" value="true"/>
    <add key="UsesIdentity" value="false"/>
    <add key="UsesOptLock" value="false"/>
    <!-- Settings for the trace facility -->
    <add key="TraceServiceProvider" value="TSI.Utils.FileLogger"/>
    <add key="TraceFileName" value="D:\Source\BBSI\EBB\BBOSWebService\trace.txt"/>
    <add key="TraceErrorFileName" value="D:\Source\BBSI\EBB\BBOSWebService\error.txt"/>
    <add key="TraceLevel" value="20"/>
    <add key="TraceEnabled" value="true"/>
    <add key="TraceTriggerMode" value="1"/>
    <!-- 0=None, 1=FileSize, 2=Interval -->
    <add key="TraceFileSizeThreshold" value="2097152"/>
    <!-- In Bytes -->
    <add key="TraceFileIntervalThreshold" value="1440"/>
    <!-- In Minutes -->
    <add key="TraceMaxFilesToKeep" value="4"/>
    <add key="TraceEventLogEnabled" value="false"/>
    <add key="TraceEventLogSource" value="BBOS"/>
    <add key="TraceEventLogName" value="Application"/>
    <!-- Settings for exception support -->
    <add key="EMailSupportEnabled" value="false"/>
    <add key="EMailSupportAddress" value="cwalls@travant.com"/>
    <add key="EMailSupportSubject" value="BBWebServices  Exception (Test)"/>
    <add key="EMailSupportAttachLogFile" value="true"/>
    <!-- Must have four replacements.  They are:
    0 = Timestamp
    1 =  User ID
    2 = Request Name
    3 = Message
      -->
    <add key="TraceMessageFormat" value="{0}|{1}|{2}|{3}"/>
    <add key="TraceTimestampFormat" value="yyyy-MM-dd HH:mm:ss:fff"/>
    <!-- Settings for the various system generated e-mails -->
    <add key="EMailEnabled" value="false"/>
    <add key="EMailSMTPServer" value="smtp.comcast.net"/>
    <add key="EMailSMTPServerAuthenticate" value="false"/>
    <add key="EMailSMTPUserName" value=""/>
    <add key="EMailSMTPPassword" value=""/>
    <add key="EMailFromAddress" value="support@travant.com"/>
    <add key="EMailFromName" value="PRCo BBOS Service"/>
    <add key="EmailWriteToFileEnabled" value="false"/>
    <add key="EmailFilePath" value="C:\Projects\EBB\EBB\Email\"/>
    <!-- Security/Login Settings -->
    <add key="EncryptionProvider" value="TSI.Security.SimpleEncryption"/>
    <add key="EncryptionKey" value="0O0jql1$"/>
  </appSettings>
  <connectionStrings>
    <add name="TSIUtils" connectionString="server=qasql.bluebookservices.local;Password=accpac;User ID=accpac;Initial Catalog=CRM;Application Name=BBWebServices;" providerName="TSI.DataAccess.DBSQLServerProvider"/>
    <add name="TSIUtils2" connectionString="server=sql.bluebookservices.local;User ID=BBOS;Password=BBOS_1995;Initial Catalog=CRM;Application Name=BBWebServicesTest;" providerName="TSI.DataAccess.DBSQLServerProvider"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.7.2"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="BBOSServices.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>