UPDATE wp_blogs SET domain = 'qa.produce.bluebookservices.com' WHERE blog_id = 1
UPDATE wp_blogs SET domain = 'qa.lumber.bluebookservices.com' WHERE blog_id = 2
UPDATE wp_blogs SET domain = 'qa.bbsi.bluebookservices.com' WHERE blog_id = 3

UPDATE [wp_site] SET [domain] = 'http://qa.produce.bluebookservices.com' WHERE [id] = 1
UPDATE [wp_site] SET [domain] = 'http://qa.lumber.bluebookservices.com' WHERE [id] = 2
UPDATE [wp_site] SET [domain] = 'http://qa.bbsi.bluebookservices.com' WHERE [id] = 3


UPDATE wp_options SET option_value = 'http://qa.produce.bluebookservices.com' WHERE option_id = 1
UPDATE wp_options SET option_value = 'http://qa.produce.bluebookservices.com' WHERE option_id = 37
UPDATE wp_options SET option_value = 'a:64:{i:0;s:173:"https://secure.gravatar.com/avatar/c17d4306d708106fd38e3ddfbc7ad810?s=64&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G";i:1;s:173:"https://secure.gravatar.com/avatar/c17d4306d708106fd38e3ddfbc7ad810?s=26&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D26&amp;r=G";i:2;s:64:"http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js";i:3;s:173:"https://secure.gravatar.com/avatar/a9f74d1643432355ad1574ccb2cf4dfc?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:4;s:173:"https://secure.gravatar.com/avatar/82ad72f2033ecfbc93e35f56a91b624f?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:5;s:173:"https://secure.gravatar.com/avatar/8ae6cdaa0470730df53221d0740f3ef3?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:6;s:173:"https://secure.gravatar.com/avatar/c17d4306d708106fd38e3ddfbc7ad810?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:7;s:173:"https://secure.gravatar.com/avatar/66d6e037b06cb9a3b7344c93189b1a52?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:8;s:173:"https://secure.gravatar.com/avatar/72396f1ef4704f439001dc0f8cc76100?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:9;s:173:"https://secure.gravatar.com/avatar/c15cfb23bc679775463e8529aeede77a?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:10;s:173:"https://secure.gravatar.com/avatar/c29c8ed976e8e7c186e9977ba6d1a1e1?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:11;s:173:"https://secure.gravatar.com/avatar/eabcd28fcd0bef1333f35b8743552d5b?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:12;s:173:"https://secure.gravatar.com/avatar/85f6a59e046a1929263f32f496b1d1aa?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:13;s:173:"https://secure.gravatar.com/avatar/19d909f3e77b99e370ae9c01db704edc?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:14;s:173:"https://secure.gravatar.com/avatar/576de6dc23c97ee7365178ea0dc94c4c?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:15;s:173:"https://secure.gravatar.com/avatar/13757de401dbdf47c9b254245e1ea3fd?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:16;s:173:"https://secure.gravatar.com/avatar/de133f2b0823dad663714dd2d6bae482?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:17;s:173:"https://secure.gravatar.com/avatar/71c733afcf5d5613bafed6318fe8a681?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:18;s:173:"https://secure.gravatar.com/avatar/2abaf0fc3233aa8f2a9454aee9079d84?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:19;s:173:"https://secure.gravatar.com/avatar/13757de401dbdf47c9b254245e1ea3fd?s=64&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G";i:20;s:173:"https://secure.gravatar.com/avatar/13757de401dbdf47c9b254245e1ea3fd?s=26&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D26&amp;r=G";i:21;s:161:"http://1.gravatar.com/avatar/13757de401dbdf47c9b254245e1ea3fd?s=64&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G";i:22;s:161:"http://1.gravatar.com/avatar/13757de401dbdf47c9b254245e1ea3fd?s=26&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D26&amp;r=G";i:23;s:173:"https://secure.gravatar.com/avatar/13757de401dbdf47c9b254245e1ea3fd?s=24&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D24&amp;r=G";i:24;s:173:"https://secure.gravatar.com/avatar/66d6e037b06cb9a3b7344c93189b1a52?s=24&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D24&amp;r=G";i:25;s:173:"https://secure.gravatar.com/avatar/85f6a59e046a1929263f32f496b1d1aa?s=24&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D24&amp;r=G";i:26;s:173:"https://secure.gravatar.com/avatar/71c733afcf5d5613bafed6318fe8a681?s=24&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D24&amp;r=G";i:27;s:173:"https://secure.gravatar.com/avatar/66d6e037b06cb9a3b7344c93189b1a52?s=64&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G";i:28;s:173:"https://secure.gravatar.com/avatar/66d6e037b06cb9a3b7344c93189b1a52?s=26&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D26&amp;r=G";i:29;s:173:"https://secure.gravatar.com/avatar/8ae6cdaa0470730df53221d0740f3ef3?s=64&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G";i:30;s:173:"https://secure.gravatar.com/avatar/8ae6cdaa0470730df53221d0740f3ef3?s=26&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D26&amp;r=G";i:31;s:74:"http://qa.apps.bluebookservices.com/BBOSWidgets/javascript/GetAdsWidget.js";i:32;s:71:"http://apps.bluebookservices.com/BBOSWidgets/javascript/GetAdsWidget.js";i:33;s:173:"https://secure.gravatar.com/avatar/85f6a59e046a1929263f32f496b1d1aa?s=64&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G";i:34;s:173:"https://secure.gravatar.com/avatar/85f6a59e046a1929263f32f496b1d1aa?s=26&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D26&amp;r=G";i:35;s:31:"http://qa.produce.bluebookservices.com/";i:36;s:31:"http://qa.produce.bluebookservices.com/";i:37;s:173:"https://secure.gravatar.com/avatar/bb98cbe8843bb7c11d3c76345c3d7457?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";i:38;s:173:"https://secure.gravatar.com/avatar/c17d4306d708106fd38e3ddfbc7ad810?s=24&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D24&amp;r=G";i:39;s:173:"https://secure.gravatar.com/avatar/c29c8ed976e8e7c186e9977ba6d1a1e1?s=24&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D24&amp;r=G";i:40;s:72:"https://secure.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=24";i:41;s:31:"http://qa.produce.bluebookservices.com/";i:42;s:76:"http://qa.produce.bluebookservices.com/wp-content/uploads/2014/05/yes_48.png";i:43;s:31:"http://qa.produce.bluebookservices.com/";i:44;s:31:"http://qa.produce.bluebookservices.com/";i:45;s:173:"https://secure.gravatar.com/avatar/19d909f3e77b99e370ae9c01db704edc?s=24&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D24&amp;r=G";i:46;s:173:"https://secure.gravatar.com/avatar/2abaf0fc3233aa8f2a9454aee9079d84?s=24&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D24&amp;r=G";i:47;s:173:"https://secure.gravatar.com/avatar/a9f74d1643432355ad1574ccb2cf4dfc?s=24&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D24&amp;r=G";i:48;s:173:"https://secure.gravatar.com/avatar/66d6e037b06cb9a3b7344c93189b1a52?s=18&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D18&amp;r=G";i:49;s:173:"https://secure.gravatar.com/avatar/13757de401dbdf47c9b254245e1ea3fd?s=18&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D18&amp;r=G";i:50;s:72:"https://secure.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=32";i:51;s:173:"https://secure.gravatar.com/avatar/8ae6cdaa0470730df53221d0740f3ef3?s=24&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D24&amp;r=G";i:52;s:173:"https://secure.gravatar.com/avatar/c17d4306d708106fd38e3ddfbc7ad810?s=18&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D18&amp;r=G";i:53;s:114:"http://qa.produce.bluebookservices.com/?utm_campaign=June%202015%20Produce%20Insider&utm_source=Robly.com&utm_medium=email";i:54;s:41:"http://qa.produce.bluebookservices.com/robots.txt";i:55;s:60:"https://fonts.googleapis.com/css?family=Roboto+Condensed:400";i:56;s:49:"http://fonts.googleapis.com/css?family=Roboto:300";i:57;s:45:"http://fonts.googleapis.com/css?family=Oswald";i:58;s:31:"http://qa.produce.bluebookservices.com/";i:59;s:173:"https://secure.gravatar.com/avatar/cce95209fcb49f02a3833f94285497d8?s=64&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G";i:60;s:173:"https://secure.gravatar.com/avatar/cce95209fcb49f02a3833f94285497d8?s=26&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D26&amp;r=G";i:61;s:173:"https://secure.gravatar.com/avatar/cce95209fcb49f02a3833f94285497d8?s=24&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D24&amp;r=G";i:62;s:173:"https://secure.gravatar.com/avatar/cce95209fcb49f02a3833f94285497d8?s=18&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D18&amp;r=G";i:63;s:173:"https://secure.gravatar.com/avatar/cce95209fcb49f02a3833f94285497d8?s=32&amp;d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D32&amp;r=G";}' WHERE option_id = 3953
UPDATE wp_options SET option_value = 'a:16:{i:0;s:36:"http://qa.produce.bluebookservices.com/forum";i:1;s:37:"http://qa.produce.bluebookservices.com/forums";i:2;s:31:"http://qa.produce.bluebookservices.com/";i:3;s:31:"http://qa.produce.bluebookservices.com/";i:4;s:31:"http://qa.produce.bluebookservices.com/";i:5;s:31:"http://qa.produce.bluebookservices.com/";i:6;s:31:"http://qa.produce.bluebookservices.com/";i:7;s:114:"http://qa.produce.bluebookservices.com/?utm_campaign=June%202015%20Produce%20Insider&utm_source=Robly.com&utm_medium=email";i:8;s:41:"http://qa.produce.bluebookservices.com/robots.txt";i:9;s:31:"http://qa.produce.bluebookservices.com/";i:10;s:85:"http://qa.wordpress.bluebookservices.com/wp-content/uploads/2014/02/ratingsscores.jpg";i:11;s:81:"http://qa.wordpress.bluebookservices.com/wp-content/uploads/2014/02/marketing.jpg";i:12;s:83:"http://qa.wordpress.bluebookservices.com/wp-content/uploads/2014/02/searchtools.jpg";i:13;s:89:"http://qa.wordpress.bluebookservices.com/wp-content/uploads/2014/02/tradingassistance.jpg";i:14;s:80:"http://qa.wordpress.bluebookservices.com/wp-content/uploads/2014/02/realtime.jpg";i:15;s:81:"http://qa.wordpress.bluebookservices.com/wp-content/uploads/2014/02/education.jpg";}' WHERE option_id = 3954
UPDATE wp_options SET option_value = 'https://qa.produce.bluebookservices.com/' WHERE option_id = 3957
UPDATE [wp_sitemeta] SET [meta_value] = 'http://qa.produce.bluebookservices.com' WHERE [meta_id] = 1
UPDATE [wp_sitemeta] SET [meta_value] = 'http://qa.produce.bluebookservices.com/' WHERE [meta_id] = 14

UPDATE wp_2_options SET option_value = 'http://qa.lumber.bluebookservices.com' WHERE option_id = 1
UPDATE wp_2_options SET option_value = 'http://qa.lumber.bluebookservices.com' WHERE option_id = 36
UPDATE wp_2_options SET option_value = 'https://qa.lumber.bluebookservices.com/' WHERE option_id = 762

UPDATE wp_3_options SET option_value = 'http://qa.bbsi.bluebookservices.com' WHERE option_id = 1
UPDATE wp_3_options SET option_value = 'http://qa.bbsi.bluebookservices.com' WHERE option_id = 36

