<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Debug" value="true"/>
    <add key="VirtualPath" value="/BBOSUsers/"/>
    <add key="ExecuteDataReaderTimeout" value="300/"/>
    <add key="WebSiteHome" value="Login.sapx"/>
    <!-- Settings for PageBase -->
    <add key="ApplicationVersion" value="3.0 beta"/>
    <add key="OnErrorDisplayAllInfo" value="true"/>
    <add key="RequiredFieldIndicator" value="&lt;sup class=&quot;required&quot;&gt;(R)&lt;/sup&gt;"/>
    <!-- Settings for the DB Access facility -->
    <add key="DBAccessProvider" value="TSI.DataAccess.DBSQLServerProvider"/>
    <!--
    <add key="DBConnectionString" value="server=sql01;Password=BBOS_1995;User ID=BBOS;Initial Catalog=EBBCRM;Application Name=BBOS;"/>
    -->
    <add key="DBConnectionString" value="server=sql.travant.com;Password=BBOS_1995;User ID=BBOS;Initial Catalog=CRM;Application Name=BBOS;"/>
    <add key="DBConnectionStringFullRights" value="server=sql.travant.com;Password=accpac;User ID=accpac;Initial Catalog=CRM;Application Name=BBOS;"/>
    <add key="UseVarChar1ForBool" value="true"/>
    <add key="SaveUsesSQLParameters" value="true"/>
    <add key="UsesAuditFields" value="true"/>
    <add key="UsesIdentity" value="false"/>
    <add key="UsesOptLock" value="false"/>
    <!-- Settings for the trace facility -->
    <add key="TraceServiceProvider" value="TSI.Utils.FileLogger"/>
    <add key="TraceFileName" value="C:\Projects\EBB\BBOSUsersManagement\trace.txt"/>
    <add key="TraceErrorFileName" value="C:\Projects\EBB\BBOSUsersManagement\error.txt"/>
    <add key="TraceFileHTTPPath" value="trace.txt"/>
    <add key="TraceErrorFileHTTPPath" value="error.txt"/>
    <add key="TraceLevel" value="1"/>
    <add key="TraceEnabled" value="true"/>
    <add key="TraceTriggerMode" value="1"/>
    <!-- 0=None, 1=FileSize, 2=Interval -->
    <add key="TraceFileSizeThreshold" value="2097152"/>
    <!-- In Bytes -->
    <add key="TraceFileIntervalThreshold" value="1440"/>
    <!-- In Minutes -->
    <add key="TraceMaxFilesToKeep" value="4"/>
    <add key="TraceEventLogEnabled" value="true"/>
    <add key="TraceEventLogSource" value="BBOS"/>
    <add key="TraceEventLogName" value="Application"/>
    <!-- Settings for exception support -->
    <add key="EMailSupportEnabled" value="false"/>
    <add key="EMailSupportAddress" value="support@travant.com"/>
    <add key="EMailSupportSubject" value="BBOS Exception (local)"/>
    <add key="EMailSupportAttachLogFile" value="false"/>
    <!-- Must have four replacements.  They are:
    0 = Timestamp
    1 =  User ID
    2 = Request Name
    3 = Message
      -->
    <add key="TraceMessageFormat" value="{0}|{1}|{2}|{3}"/>
    <add key="TraceTimestampFormat" value="yyyy-MM-dd HH:mm:ss:fff"/>
    <!-- Settings for the various system generated e-mails -->
    <add key="EMailEnabled" value="false"/>
    <add key="EMailSMTPServer" value="smtp.travant.com"/>
    <add key="EMailSMTPServerAuthenticate" value="false"/>
    <add key="EMailSMTPUserName" value=""/>
    <add key="EMailSMTPPassword" value=""/>
    <add key="EMailFromAddress" value="support@travant.com"/>
    <add key="EMailFromName" value="PRCo EBB"/>
    <add key="EmailWriteToFileEnabled" value="true"/>
    <add key="EmailFilePath" value="C:\Projects\EBB\EBB\Email\"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".EBBAuth" protection="All" timeout="60" slidingExpiration="true" defaultUrl="PersonList.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="false" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
</configuration>