<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!-- Reporting Services connection Values -->
		<add key="SRSWebServiceURL" value="http://dev1/ReportServer/ReportService.asmx" />
		<add key="SRSWebServiceUserID" value="rsuser" />
		<add key="SRSWebServicePassword" value="rs_1901" />
	</appSettings>

	<connectionStrings>
		<add name="SQLServer" connectionString="server=Dev1;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=InfoUSAUnknownCityResolver;"/>
	</connectionStrings>
</configuration>
