UL.MenuBarHorizontal
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: auto;
    CURSOR: default;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
UL.MenuBarActive
{
    Z-INDEX: 1000
}
UL.MenuBarHorizontal LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    CURSOR: pointer;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none;
    POSITION: relative;
    TEXT-ALIGN: left
}
UL.MenuBarHorizontal UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 100%;
    Z-INDEX: 1020;
    LEFT: -1000em;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 8.2em;
    CURSOR: default;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none;
    POSITION: absolute
}
UL.MenuBarHorizontal UL.MenuBarSubmenuVisible
{
    LEFT: auto
}
UL.MenuBarHorizontal UL LI
{
    WIDTH: 11em
}
UL.MenuBarHorizontal UL UL
{
    MARGIN: -5% 0px 0px 95%;
    POSITION: absolute
}
UL.MenuBarHorizontal UL.MenuBarSubmenuVisible UL.MenuBarSubmenuVisible
{
    LEFT: auto;
    TOP: 0px
}
UL.MenuBarHorizontal UL LI
{
    BORDER-RIGHT: #dcddde 1px solid;
    BORDER-TOP: #dcddde 1px solid;
    BORDER-LEFT: #dcddde 1px solid;
    BORDER-BOTTOM: #dcddde 1px solid
}
UL.MenuBarHorizontal A
{
    PADDING-RIGHT: 1.4em;
    DISPLAY: block;
    PADDING-LEFT: 1.4em;
    PADDING-BOTTOM: 0.7em;
    CURSOR: pointer;
    COLOR: #ffffff;
    PADDING-TOP: 0.7em;
    BACKGROUND-COLOR: #1025a2;
    TEXT-DECORATION: none
}
UL.MenuBarHorizontal UL A
{
    PADDING-RIGHT: 0.75em;
    PADDING-LEFT: 0.75em;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0.5em;
    COLOR: #000000;
    PADDING-TOP: 0.5em;
    BACKGROUND-COLOR: #ffffff
}
UL.MenuBarHorizontal A:hover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #1025a2
}
UL.MenuBarHorizontal A:unknown
{
    COLOR: #fff;
    BACKGROUND-COLOR: #1025a2
}
UL.MenuBarHorizontal A.MenuBarItemHover
{
    COLOR: #8792d0;
    BACKGROUND-COLOR: #1025a2
}
UL.MenuBarHorizontal A.MenuBarItemSubmenuHover
{
    COLOR: #8792d0;
    BACKGROUND-COLOR: #1025a2
}
UL.MenuBarHorizontal A.MenuBarSubmenuVisible
{
    COLOR: #8792d0;
    BACKGROUND-COLOR: #1025a2
}
UL.MenuBarHorizontal UL A.MenuBarItemHover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #1025a2
}
UL.MenuBarHorizontal UL A.MenuBarItemSubmenuHover
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #1025a2
}
UL.MenuBarHorizontal UL A.MenuBarSubmenuVisible
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #1025a2
}
ul.MenuBarHorizontal ul a.disabled {
            color: #CCCCCC;
}

ul.MenuBarHorizontal ul a.disabled:hover {
            background: #E2E2E2;
            color: #C1C1C1;
}

UL.MenuBarHorizontal IFRAME
{
    Z-INDEX: 1010;
    POSITION: absolute
}
UL.MenuBarHorizontal LI.MenuBarItemIE
{
    DISPLAY: inline;
    BACKGROUND: #fff;
    FLOAT: left
}


