<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
        <!-- General Values-->
        <add key="SRSWebServiceRSURL"      value="http://az.reports.bluebookservices.local/ReportServer/ReportService2005.asmx" />
        <add key="SRSWebServiceREURL"      value="http://az.reports.bluebookservices.local/ReportServer/ReportExecution2005.asmx" />
        <add key="SRSWebServiceUserID"     value="rsuser" />
        <add key="SRSWebServicePassword"   value="rs_1901" />
        <add key="SRSWebServiceDomain"     value="Enterprise" />


        <add key="TraceServiceProvider" value="TSI.Utils.FileLogger"/>
		<add key="TraceLevel" value="20"/>
		<add key="TraceEnabled" value="true"/>
		<add key="TraceMessageFormat" value="{0}|{3}"/>
		<add key="TraceTimestampFormat" value="yyyy-MM-dd HH:mm:ss:fff"/>		

		<add key="SaveUsesSQLParameters" value="true"/>
		<add key="UsesAuditFields" value="false"/>
		<add key="UsesIdentity" value="false"/>
		<add key="UsesOptLock" value="false"/>
	</appSettings>

	<connectionStrings>
        <add name="SQLServer" connectionString="server=sql.bluebookservices.local;User ID=accpac;Password=2006PIKS1204;Initial Catalog=CRM;Application Name=MASBBOSMonitor;" providerName="TSI.DataAccess.DBSQLServerProvider" />
		<add name="TSIUtils" connectionString="server=Dev1;Password=accpac;User ID=accpac;Initial Catalog=CRM;Application Name=DataConversion;" providerName="TSI.DataAccess.DBSQLServerProvider"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
