<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
  
  </appSettings>

  <connectionStrings>
    <add name="SQLServerQA" connectionString="server=qasql.bluebookservices.local;User ID=accpac;Password=accpac;Initial Catalog=CRM;Application Name=IntlTradeAssocationImport;"/>
    <add name="SQLServer" connectionString="server=sql.bluebookservices.local;User ID=accpac;Password=2006PIKS1204;Initial Catalog=CRM;Application Name=IntlTradeAssocationImport;"/>
  </connectionStrings>
  
</configuration>