<div class="col-md-12 my-0">
    <p class="px-4 pb-3">
        Un informe de valoración empresarial es el valor de mercado estimado de Blue Book para su empresa, según las finanzas y la dinámica del mercado presentadas por la empresa. No es una tasación. Los directores deben utilizar este informe como punto de partida para determinar el valor de una empresa. Se completa de acuerdo con los estándares profesionales y representa nuestro análisis y opinión profesional imparcial e imparcial.
    </p>

    <p class="px-4 pb-3">
        Las valoraciones sirven para una infinidad de propósitos y pueden ser útiles en el establecimiento de objetivos corporativos, la planificación de salidas, estrategias adicionales de mejora del valor y servicios de fusiones y adquisiciones en general.
    </p>

    <p class="px-4 pb-3">
        Para completar la valoración, los usuarios deben cargar la Declaración de Resultados anual más reciente y el Balance General de los últimos doce meses (TTM).
    </p>

    <p class="px-4 pb-3">
        Las valoraciones empresariales de Blue Book cuestan $175 por empresa para los miembros Básicos y son gratuitas para nuestros miembros Estándar, Premium y Enterprise.
    </p>

    <p class="px-4 pb-3">
        Blue Book se toma muy en serio la privacidad de sus datos. Por favor revise nuestra política de privacidad si tiene alguna pregunta. Blue Book se reserva el derecho de utilizar los datos enviados para ayudar a mejorar nuestras calificaciones y estimaciones de valor crediticio. Sin embargo, nunca compartiremos su informe de valoración empresarial ni sus estados financieros con ningún tercero.
    </p>
</div>