<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Welcome</title>
</head>
<body>
    <p style="text-align:center; font-weight:bold">*** CONFIDENTIAL ***</p>
    <div>Username: {0}</div>
    <div>Password: {1}</div>
    
    <p>Thank you for recently inquiring on Blue Book Online Services (BBOS). BBOS connects eligible Members to important Blue Book information 24 hours/day, 7 days/week. To access BBOS, point your web browser to <a href=http://apps.bluebookservices.com/bbos">http://apps.bluebookservices.com/bbos</a>.</p>
    <hr />
    <p style="font-weight:bold">Quick Tips:</p>
    <ul>
        <li>Change your password to something simple for you to remember.<br />[Go to &quot;My Account&quot; &gt; &quot;User Profile,&quot; remember to click &quot;Save&quot; when done.]</li>
        <li>Search by company name or BBID through Quick Find. In the upper right corner of every screen, you can type in the name of the company you are looking for.  [Tip: If you don't know how to spell the whole company name, just type the name partially and matches will display in a drop down menu.]</li>
        <li>We encourage you to take a few minutes and just explore the site; there are valuable tools and information at every turn.</li>
    </ul>
    <p style="font-weight:bold">Further Assistance:</p>
    <ul>
        <li>A comprehensive Help Guide is available on BBOS; just click the question mark icon, which is found on every page within the site.</li>
        <li>Our Customer Service professionals are here from 7:30 AM - 5:00 PM (Central Time), Monday thru Friday to provide you with assistance.</li>
        <li>Training Webinars are available to you.  If you would like to attend one, please email us.</li>
    </ul>
    <p style="margin-bottom:2em">Thank you for the ongoing opportunity to serve you!</p>
    <p>
    Blue Book Services<br />
    Phone: 630 668-3500<br />
    FAX 630-668-0303<br />
    <a href="mailto:info@bluebookservices.com">info@bluebookservices.com</a><br />
    <a href="http://www.bluebookservices.com">http://www.bluebookservices.com</a>
    </p>
</body>
</html>