April, 2008<p>Dear Blue Book Member:</p>
<p><font color="#000080"><b>WELCOME TO BBOS:</b></font></p>
<p>Welcome to Blue Book Online Services (BBOS). If this is your first visit, thank-you for giving BBOS a try. If you're returning, we hope it is
one of many more visits to come.</p>
<p>While our primary responsibility is to deliver accurate, timely, and reliable credit information, an equally important objective is to provide a
convenient, hassle-free BBOS experience. Please share your feedback with us as it is always valued and appreciated.</p>

<p><font color="#000080"><b>BBOS LICENSE PROGRAM'S # 1 PRIORITY&#8594;SECURITY:</b></font></p>
<p>As Electronic Blue Book (EBB) users convert to BBOS, they are discovering that BBOS-by design-has a familiar look and feel.
Although some EBB users have raised good questions about BBOS' licensing program. Hopefully this communication will prove helpful
and informative in this regard.</p>

<p>First and foremost, it is important to note that the philosophy behind EBB and BBOS licenses is essentially identical. More specifically,
Blue Book Members-in the past and now-have been expected to have one license for each and every user.
With BBOS, individual users now must have a unique User ID (his/her e-mail address) and a self-selected password. The principal reason
for this is that we are as dedicated to complying with today's technology security standards as our Members-produce buyers and sellers-
are to using today's food safety best practices.</p>
<p>Unique User ID's and passwords provide the following benefits:</p>
<ul>
  <li>An individual's notes on BBOS can remain private, if selected;</li>
  <li>An individual's use of service units (i.e. for Business Reports) can be tracked or even managed, based upon your preference;</li>
  <li>An individual's access to BBOS will be immediately deactivated after you notify us that the person is "no longer connected"
thereby preventing a former employee from accessing your BBOS public notes, service units, etc.</li>
</ul>
<p>In some cases, additional licenses may now need to be purchased by Members so that number of active EBB users can now benefit from BBOS. Rest assured, our pricing and packaging program is designed to help this objective be cost effectively achieved with minimal impact
on your budget.</p>

<p><font color="#000080"><b>BBOS: LOWER TOTAL COST OF OWNERSHIP:</b></font></p>
<p>Blue Book Members who participated in the design and testing of BBOS had strongly expressed the need to eliminate the hassles and
internal costs associated with installing CD-ROM's quarterly and processing updates daily. BBOS delivers on this requirement!</p>
<p>As a result, the total cost of ownership for BBOS should, in the vast majority of cases, decline as Members transition away from the EBB.</p>
<p>Keep in mind, the EBB isn't immediately going away. Updated CD-ROMS will continue to be shipped for several more quarters. But,
perhaps by year-end 2008, the EBB will be discontinued.</p>

<p><font color="#000080"><b>DEDICATED TO RESPONSIBLY & FAIRLY PACKAGING BBOS:</b></font></p>
<p>Though still early in the transition, many users have already found that the improved credit information and expanded tools have demonstrated
that the modest additional cost of increased licenses really isn't being forced by new technology; but, because BBOS is a new and
improved way to help your firm make safe, informed, and profitable business decisions.</p>
<p>Despite our best efforts to explain our perspective, a few firms have been disappointed that BBOS requires each user to have a license.
And, while empathetic with the challenges brought on by change, we do take software license compliance seriously. Stated another way,
we believe it right and fair that BBOS usage be in accordance with the license arrangements just as your firm believes it appropriate to be
compensated for each pallet of produce sold or transported.</p>
<p>For more details, please refer to the "<i>Terms of Use</i>" document found in "<i>My Account.</i>"
If you have any questions, concerns, or comments, please do not hesitate to contact our Service or Sales Team. Meantime, thank-you
again for the opportunity to serve your firm as a valued Blue Book Member.</p>

<p>Sincerely,<br>
Jim Carr, President<br>
Jim Bartelson, Executive Vice-President<br>
Mark Erickson, Vice-President </p>
