Modify the web site page adding the two script tags as noted below.  

<div class="row nomargin">
    <textarea rows="5" style="width:100%" class='form-control'>
        <script type="text/javascript" id="bbsiCompanyAuthWidget" src="{0}javascript/CompanyAuthWidget.min.js"></script> 
        <script type="text/javascript">
            new BBSiCompanyAuthWidget("BBSiCompanyAuth", "{1}");
        </script>
    </textarea>
</div>

<div class="mar_top">
    In the same HTML page, place the following &lt;span&gt; tag in the page location you would like the widget to display.
</div>

<div class="row nomargin">
    <textarea rows="1" style="width:100%" class='form-control'>
        <span id="BBSiCompanyAuth" />
    </textarea>
</div>