<p class='text-left mar_bot'>
    All Blue Book members benefit from access to our reliable and accurate company listings and credit information.
    In addition to the core services described here, our members also have access to all of the benefits listed below.
</p>
<div class="row nomargin">
    <div class="col-md-12">
        <b>Included with All Memberships</b>
        <ul class="Bullets">
            <li>Business Reports</li>
            <li>Marketing Lists</li>
            <li>Credit Sheet Updates (up to 52/year)</li>
            <li>Unlimited Access to Blue Book Online Services (BBOS) and Lumber Database For Licensed Users</li>
        </ul>
    </div>
</div>