<p class='text-left mar_bot'>Todos los miembros del Blue Book se benefician del acceso a nuestras precisos y confiables calificaciones y listados de compañías. Además de los servicios principales que se describen al final de esta página, nuestros miembros también tienen acceso a todos los beneficios enumerados a continuación.</p>

<div class="row nomargin">
        <div class="col-md-6 col-sm-12">
            <b>Incluido con todas las membresías:</b>
            <ul class="Bullets">
                <li>
                    Servicios de Informes:
                    <ul class="Bullets">
                        <li>Informes Comerciales</li>
                        <li>Listas de Marketing</li>
                    </ul>
                </li>
                <li>
                    Actualizaciones Confiables:
                    <ul class="Bullets">
                        <li>Actualizaciones Semanales de La Hoja de Crédito/(Credit Sheet)</li>
                    </ul>
                </li>
                <li>
                    Servicios de Asistencia Comercial:
                    <ul class="Bullets">
                        <li>Servicios de Cobranza de Deuda</li>
                        <li>Servicios de Mediación</li>
                        <li>Servicios de Arbitraje</li>
                        <li>Opiniones Comerciales</li>
                    </ul>
                </li>
                <li>
                    Servicios adicionales:
                    <ul class="Bullets">
                        <li><em>Revistas Produce Blueprints</em></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12">
            <b>Servicios Adicionales Disponibles:</b>
            <ul class="Bullets">
                <li>Copias impresas adicionales del Blue Book (Libro)</li>
                <li>Suscripción adicional a <em>Revista Produce Blueprints</em></li>
                <li>Actualizaciones Express por Fax o Correo Electrónico</li>
            </ul>
        </div>
    </div>
