<p class='text-left mar_bot'>
    Desde 1901, Blue Book Services ha sido la fuente confiable en la industria de frutas y hortalizas frescas para encontrar empresas y productos confiables, monitorear negocios, reducir riesgo al extender crédito, resolver disputas y mercadear.
</p>
<p class='text-left mar_bot'>
    Acceda a la base de datos líder de información crediticia y comercialización en tiempo real para la cadena de suministro a nivel global y alcance sus metas.
</p>

<div class="row nomargin padding_lr_15">
    <h4><b>Membresía Annual de Blue Book Services: Serie 200</b></h4>
    <ul class="Bullets">
        <li>5 licencias de usuario en línea de Nivel Avanzado</li>
        <li>20 Informes Comerciales</li>
        <li>Costo de Membresía: {0}</li>
    </ul>
</div>

<div class="row nomargin padding_lr_15">
    <h4><b>Características y Funciones de membresía en Línea</b></h4>
    <ul class="Bullets">
        <li>
            Búsqueda de empresas por:
            <ul class="Bullets">
                <li style="list-style-type:circle">Producto, calificación, practicas de pago, marcas, certificaciones, contactos</li>
                <li style="list-style-type:circle">Clasificación de empresas: importador/exportador, mayorista y minorista</li>
            </ul>
        </li>
        <li>Ver Puntaje predictivo de Blue Book: evalúe la probabilidad de un evento de crédito negativo</li>
        <li>Exportar resultados de búsqueda por medio de archivo .CSV</li>
        <li>Ver reclamos iniciados con Blue Book y casos de corte federal</li>
        <li>Ver personal de la industria</li>
    </ul>
</div>

<div class="row nomargin padding_lr_15">
    <h4><b>Beneficios Adicionales</b></h4>
    <ul class="Bullets">
        <li>Asistencia de Colección – una tarifa de 10% se aplicará al colectar deudas pasadas</li>
        <li>Descuento de 50% se aplicará para anuncios en nuestra revista <i>Diario Produce Blueprints</i> o anuncio de banner digital</li>
    </ul>
</div>