<p><b>*** CONFIDENTIAL ***</b><br/>
Thank you for requesting a Blue Book Business Report through Blue Book Online Services (BBOS).</p>

<p>Attached you will find your Business Report as an Adobe Acrobat ".PDF" document. It can be viewed and printed with the Adobe Acrobat Reader. If you don't have the Adobe Acrobat Reader, you can download it free from the Adobe Web Site at <a href="http://get.adobe.com/reader">http://get.adobe.com/reader</a></p>

<p><b>Further Assistance:</b><br/>
Our Service Associates are available from 7:30 AM - 5:00 PM (Central Time), Monday through Friday to provide you with assistance.</p>


<p><b>BBOS TERMS & AGREEMENT:</b><br/>
Blue Book Online Services is provided under the terms set forth in the Blue Book Membership and License Agreement. This Business Report is provided for your exclusive and confidential use; it is only to be used by the person it was intended for, and should not be given to any other person or organization.</p>