<p>Estimado {0}:</p>
<p>Aunque no se ha presentado ning&uacute;n reclamo en este momento, {1} nos ha pedido que le enviemos una nota con respecto a su(s) n&uacute;mero(s) de factura {2} fechado {3}.</p>
<p>Debido a que una o m&aacute;s de estas facturas parecen estar vencidas, le pedimos que "responda todas" a este correo electr&oacute;nico y proporcione a {1} y Blue Book una actualizaci&oacute;n de estado.</p>
<p>Una vez m&aacute;s, no se ha presentado ning&uacute;n reclamo, este no es un evento de calificaci&oacute;n crediticia en este momento, pero lo alertamos a que intente resolver este asunto lo antes posible.</p>
<br />
<p>
    Gracias<br />
    Equipo de Asistencia Comercial<br />
    Servicios del Libro Azul
</p>