<p>Gracias por enviar su informaci&oacute;n de colecci&oacute;n. Su reclamo ser&aacute; asignado a un representante de reclamos en breve.  La mayor&iacute;a de las reclamaciones se abren el mismo d&iacute;a en que se presentan.</p>
<p>Se le copiar&aacute; en nuestra correspondencia inicial con el encuestado.  Mientras tanto, no dude en enviar cualquier pregunta a tradingassist@bluebookservices.com o llamar a nuestra oficina al 630-668-3500.</p>
<p>
    Gracias<br/>
    Asistencia comercial de Blue Book.
</p>
