<script type="text/javascript">
    MM_preloadImages('en-us/images/nav-links-over.gif', 'en-us/images/nav-about-over.gif', 'en-us/images/quick_find_video_roll.jpg', 'en-us/images/quick_search_video_roll.jpg', 'en-us/images/MyAccount_video_roll.jpg', 'en-us/images/resources_video_roll.jpg', 'en-us/images/pdf_Thumbnail_roll.jpg', 'en-us/images/education_video_roll.jpg');
</script>

<table width="500px" align="center" cellpadding="5" cellspacing="10">
<tr><td style="width:50%;vertical-align:top">
    <fieldset><legend>Video Tutorials</legend>
    <table cellpadding="10" cellspacing="10" style="margin-left: auto; margin-right: auto;">
    <tr>
        <td style="text-align:center;vertical-align:top;">

            Coming Soon.</td>
     </tr>
     </table>
    </fieldset>
</td><tr>
<td style="width:250;vertical-align:top">
    <fieldset><legend>Tips, Tricks & Hints</legend>
    <table cellpadding="0" cellspacing="0" 
            style="margin-left: auto; margin-right: auto; width: 500px;">
<tr>
                        
                           <td width="100" height="75" align="center" valign="bottom">
                          <a href="GetReport.aspx?ReportType=TRN&Name=BBOSL_Tip_01_Navigating.pdf&File=en-us/training/tips/BBOSL_Tip_01_Navigating.pdf">
                          <img src="en-us/images/pdf_Thumbnail.jpg" alt="Navigating BBOS" width="36" height="47" hspace="0" vspace="5" border="0" id="Image1" onmouseover="MM_swapImage('Image1','','en-us/images/pdf_thumbnail_roll.jpg',1)" onmouseout="MM_swapImgRestore()">
						  </a></td>
						  
                          <td width="100" height="75"  align="center" valign="bottom">
                          <a href="GetReport.aspx?ReportType=TRN&Name=BBOSL_Tip_02_Quick_Find.pdf&File=en-us/training/tips/BBOSL_Tip_02_Quick_Find.pdf">
                          <img src="en-us/images/pdf_Thumbnail.jpg" alt="Quick Find" width="36" height="47" hspace="0" vspace="5" border="0" id="Image2" onMouseOver="MM_swapImage('Image2','','en-us/images/pdf_Thumbnail_roll.jpg',1)" onMouseOut="MM_swapImgRestore()">
                          </a></td>

                          <td width="100" height="75"  align="center" valign="bottom">
                          <a href="GetReport.aspx?ReportType=TRN&Name=BBOSL_Tip_03_Search%20Companies.pdf&File=en-us/training/tips/BBOSL_Tip_03_Search%20Companies.pdf">
                          <img src="en-us/images/pdf_Thumbnail.jpg" alt="Search Companies" width="36" height="47" hspace="0" vspace="5" border="0" id="Image3" onMouseOver="MM_swapImage('Image3','','en-us/images/pdf_Thumbnail_roll.jpg',1)" onMouseOut="MM_swapImgRestore()">
                          </a></td>
                          
                            <td width="100" height="75"  align="center" valign="bottom">
                          <a href="GetReport.aspx?ReportType=TRN&Name=BBOSL_Tip_04_Business%20Report.pdf&File=en-us/training/tips/BBOSL_Tip_04_Business%20Report.pdf">
                          <img src="en-us/images/pdf_Thumbnail.jpg" alt="Search Companies" width="36" height="47" hspace="0" vspace="5" border="0" id="Img1" onMouseOver="MM_swapImage('Image3','','en-us/images/pdf_Thumbnail_roll.jpg',1)" onMouseOut="MM_swapImgRestore()">
                          </a></td>
                      
                          <td width="100" height="75"  align="center" valign="bottom">
                          </td></tr>
                  
                             <tr>
                  <td width="100" height="40" align="center" valign="top"><span class="borButton">
                      <a href="en-us/training/tips/BBOSL_Tip_01_Navigating.pdf" target="external">1. Navigating BBOS</a></span></td>
                          <td width="100" height="40" align="center" valign="top"><span class="borButton">
                              <a href="en-us/training/tips/BBOSL_Tip_02_Quick_Find.pdf" target="external">2. Quick Find </a></span></td>
                  <td width="100" height="40" align="center" valign="top"><span class="borButton">
                      <a href="en-us/training/tips/BBOSL_Tip_03_Search%20Companies.pdf" target="external">
				  3. Search Companies<br>
                    </a></span></td>
                   <td width="100" height="40" align="center" valign="top"><span class="borButton">
                      <a href="en-us/training/tips/BBOSL_Tip_04_Business%20Report.pdf" target="external">
				  4. Business Report<br>
                    </a></span></td>
                  
                  
                  
                  <td width="100" height="40" align="center" valign="top"></td>
                        </tr>
        
                        
    </tr>
    </table>
    </fieldset>
</td>
</tr>
</table>