<?xml version="1.0"?>
<configuration>
	<appSettings>


		
		<add key="BBIDs"     value="100002,102030,204482" />
		
		
		<!--
		<add key="OutputFolder"     value="C:\Projects\PRCo Utils\GenerateBRs\bin\Debug\Data" />
		-->


		<add key="ProdMirrorBRReportURL"     value="http://dev1/ReportServer/?%2fProdMirror%2fBusinessReport%2fBusinessReport&amp;CompanyID={0}&amp;ReportLevel=3&amp;RequestID=1&amp;rs:Command=Render&amp;rs:Format=PDF" />

		
		<add key="SRSWebServiceRSURL"      value="http://qa.reports.bluebookservices.com/ReportServer/ReportService2005.asmx" />
		<add key="SRSWebServiceREURL"      value="http://qa.reports.bluebookservices.com/ReportServer/ReportExecution2005.asmx" />
	
		<!-- Used for both ProdMirror and QA -->
		<add key="SRSWebServiceUserID"     value="rsuser" />
		<add key="SRSWebServicePassword"   value="rs_1901" />
		<add key="SRSWebServiceDomain"     value="Enterprise" />
	</appSettings>
	
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
